@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300italic,300);
/* logo colors
A #a84420 
M #5f9797 
Y #8a5cd1
E #4866fb
C #099949
K #98983e
E #b56618
R #68b7d5
T #820064 
grey #878787
*/
html { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

* { box-sizing: border-box; }
.clear {  	
	clear:both;
	margin:0;
	padding:0;
	
}

body {
	min-height:100%;
	padding:0;
	font-family: 'Josefin Sans', sans-serif;
	
}
.wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

ul {
	margin:0;
	padding:0;
	list-style: none;
}
img {
   	margin:0;
	padding:0;

}

section {	
	height:100%;
}

div, p {
	margin:0;
	padding:0;
}
button {
	background-color: #68b7d5;
	border-style:none;
	color:#fff;
	cursor:pointer;
	margin-top:1%;
	padding:10px;
	text-transform:uppercase;
}

button:hover {
	border:0

}

/* .........HEADER .............................*/
.header {
	order: 1;
	border-bottom:1px solid #878787;
}
div .logo {

	height:auto;
	padding-bottom:1%;	
}

#home .logo, #photography .logo, #design .logo, #interactive .logo, 
#mixedmedia .logo, #about .logo, #blog .logo, #contact .logo, 
#portfolio-template .logo, #project-template .logo {
	height:auto;
	padding-bottom:1%;
	
	}

.logo img {
	padding-bottom:1%;

}

/*......... MAIN MENU...DROP DOWN MENU (NOT IN USE)......................................*/

/*.....this hides the nested <ul's> .....*/
nav ul ul {
display: none;

	}
/*.....this makes sure only the first child <ul> is selected under a 
specific li in the main level..... */
nav ul li:hover > ul {
	display: none;
	}
/*.....general styling..... */
nav ul {
	z-index: 1;
	width:100%;
	max-width:1125px;
	text-align:center;
	margin: 0 auto;
	padding:0;  
	list-style: none;
	position: relative;
	display: inline-table; /*...note table display!.. */ 

	}
nav ul:after {
	content: ""; clear: both; display: block;
	}
nav ul li {
	float: left;
	padding: 0.4em 0.4em;
	border: 1px solid #fff;


	}
nav ul li:nth-of-type(3) {
	display:none;
}

/*..... main list item background hover color..... */
nav ul li:hover {
	background: #fff;
	border-bottom: 1px solid #099949; 
	
	}
/*..... main list item link text hover color.....*/
nav ul li:hover a {
		color: #099949; 
		}
/*..... main list item link text cover */
nav ul li a {
	padding:0.5 0.3em;
	font-size: 1.3em;
	letter-spacing: 0.03em;
	display: block; 
	color: #878787; 
	text-decoration: none;
	}
	
/*.....background color for drop down menu <ul> */
nav ul ul {
	background: #fff;
 	padding: 0;
	position: absolute; 
	top: 100%;
	}
nav ul ul li {
	float: none; 
	position: relative;

	}
nav ul ul li a {
	padding: 15px 30px;
	color: #820064;
	}	
	nav ul ul li a:hover {
	background: #fff;
	}
a:link {
	color:#878787;
	text-decoration: none;
} 
a:visited {
	color:#878787;
}
a:hover {
	color:#fff;
}
a:active {
	color:#fff; 

}

.statement-body p {
	text-decoration:underline;

}

/*.........SHOW PAGE LOCATION .......................................*/


section.main-content {
	order:2;
	/*flex-grow:1;*/
	overflow: hidden;
}

#photography .navphoto, #design .navdesign, #interactive .navinter, 
#mixedmedia .navmixed, #about .navabout, #blog .navblog,
#contact .navcontact, #project-template .navproject {
	border: 1px solid #878787;
	}

#photography .navphoto,#photography .navphoto, #design .navdesign, #interactive .navinter, 
#mixedmedia .navmixed, #about .navabout, #blog .navblog,
#contact .navcontact, #project-template .navproject {
	border-top:none;
		}

/*......... MAIN CONTENT AREA .......................................*/

	
#interactive .page-location, #mixedmedia .page-location, 
#photography .page-location, #design .page-location, 
#portfolio-template .page-location, #project-template .page-location, 
#exhibitions .page-location {
	width:100%;
	display:block;
	margin:0;
	padding:0 0 0 0%;
	color: #878787;
	text-transform:uppercase;
}



#interactive .page-location p, #mixedmedia .page-location p, 
#photography .page-location p, #design .page-location p, 
#portfolio-template .page-location p, #project-template .page-location p, 
#exhibitions .page-location p {
	display:block;
	border-left:1px solid #878787;
	padding:1% 0 0 3%;
	margin-bottom:3%;

}

#home .page-location p {
	display:bnone;
	padding:0 0 0 3%;
	color:#fff;
}


#contact .page-location, 
#contact .page-location p {
	display:none;
}
 
/*.project-row, 
.front-row {
	max-width:100%;
	width:100%;
	height: 100%;
	margin:0 auto;
	overflow:auto;
}

.project-row-img, 
.front-row-img  {
	max-width:50%;
	width:50%;
	height:auto;
	float:left;	
	margin:0;
	padding:0;
	position:relative;
	display: block;

} 
.project-row-img img, 
.front-row-img img {
	max-width:100%;
	display: block;
}*/

/*.............PORTFOLIO TITLES ............................... */

.front-titles, .project-titles {
	width: 100%;
	background-color: white;
	float: left;
	font-size: 1.3em;
	position: relative; 
	top: 30%;
	color: #878787;
}

.front-titles p, .project-titles p {
	text-align:center;
	display:none;
	

}
.project-title, .statement-title {
	width:60%;
	margin:0em 0 1em 0;
	padding-left: 0.3em;
	border-left:1px solid #878787;
	font-size: 0.9em;
	letter-spacing: 0.04em;
	color:#878787;
	text-transform: uppercase;
	float:left;
}



/*......... PROJECT PAGES.......................................*/



.menu-side {
	min-width:16%;
	font-size:0.8em;
	float:left;
	margin:0;
	line-height:2em;	
}
.menu-side li a:hover{
	color: #099949;
	
}
/*.PHOTGRPHY side menu......... */
#manhome .menu-side li:nth-child(2) a,
#truckers .menu-side li:nth-child(3) a,
#mncooks .menu-side li:nth-child(4) a,
#submarine .menu-side li:nth-child(5) a, 
#soap .menu-side li:nth-child(6) a,
#optimiste .menu-side li:nth-child(7) a, 
#mossburn .menu-side li:nth-child(8) a,
	
/*.DESIGN side menu*/
#mhbook .menu-side li:nth-child(2) a,
#nzbirds .menu-side li:nth-child(3) a,
#letters .menu-side li:nth-child(4) a, 
#print-portfolio .menu-side li:nth-child(5) a, 
#d6sunset .menu-side li:nth-child(5) a,

/*.INTERACTIVE side-menu...... */

/*.MIXED MEDIA side menu.....*/
#misunderstood .menu-side li:nth-child(2) a, 
#rigs .menu-side li:nth-child(3) a,
#prefab .menu-side li:nth-child(4) a,
#proteus .menu-side li:nth-child(5) a,
#kansas .menu-side li:nth-child(6) a,
#weather .menu-side li:nth-child(7) a {
	border-bottom:1px solid #878787;
}

.image-info { 
	display: block;
	visibility: hidden;
	color: #878787;
}

.statement-body {
	display: block;
	visibility: visible;
	width:75%;
	margin: 0 auto;
	height:100%;

	 -webkit-column-width: 100%; /* Chrome, Safari, Opera */
    column-width: 100%;
	 -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	 -webkit-column-gap: 20px;  /*Chrome, Safari, Opera*/ 
    -moz-column-gap: 2040px; /*Firefox*/ 
    column-gap: 20px;
	font-size: 0.8em;
	letter-spacing: 0.03em;
	color:#878787;
	text-indent: 1.3em;
	
	
}

#nzbirds .statement-body {
	margin-top: 4em;

}

.statement-body p {
	margin-top:1em;
	line-height:1.3em;
	text-decoration: none;
	visibility: hidden;
}
.statement-body p:nth-child(1) {
	margin-top:0;
	
}
.statement-body span {
	border-bottom:1px solid #878787;
}
.statement-body span a:hover{color: #099949}
.statement-body span:hover {
	color:#099949;
	border-bottom:1px solid #099949;
} 
/* ............MASONRY AND IMAGES LOADED STYLES...............*/

.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid {
	width: 100%;
}

.grid-sizer,
.grid-item {
  width: 20%;
}
.grid-item {
	float:left;
}

.grid-item img {
  	width: 100%;
	height:auto;
	display:block;
	opacity:1;
}
.grid-item img:hover{
		opacity:0.8;

}
.grid-item p {
	display:none;
}
#photography .grid,
#design .grid,
#interactive .grid,
#mixedmedia .grid {
	margin-top: 0;
}

#photography .grid-sizer,
#design .grid-sizer,
#interactive .grid-sizer,
#mixedmedia .grid-sizer {
	width: 33.335%;
}

#photography .grid-item img,
#design .grid-item img,
#interactive .grid-item img,
#mixedmedia .grid-item img  {
	max-width: 100%;
}
/*.........ABOUT PAGE .......................................*/

.about-me{
	width: 100%;
	min-width:300px;
	padding:1em 2em 1em 1em;
	margin:auto;
	font-size:1em;
	color:#878787;
		
}
.about-me span {
	border-bottom:1px solid #878787;
	padding:0;
	margin:0;
	font-size: 1em;
}

.about-me span:hover {
	color: #099949;
	border-bottom:1px solid #099949;
	
}

.about-me p {
	margin-top: 4%;


}
.clients-l {
	text-align:left;
	padding:1em 3em;
	height:auto;
	float:left;
	color:#878787;

}
.clients-r {
	
	text-align:right;
	padding-right:1em;
	padding-top:1em;
	height:auto;
	float:left;
	color:#878787;

}
.awards {
	width:100%;
	height:auto;
	float:right;
	padding-left:0;
	color:#878787;
	clear:both;
	
}
a.button {
	display:block;
	width: 8em;
	padding:0;
	margin-top:2em;
	text-transform:uppercase;
	font-size: 1.1em;
	color:#878787;
	border:1px solid #878787;
	padding:10px;
	text-align:center;
}

a.button:hover {
	color:#099949;
	border-color:#099949;
}
/*................BLOG PAGE .......................................*/

#blog div p {
	color:#878787;
}

/*.............CONTACT PAGE ..........................................*/


#contact form {
	display:none;
}

.temp-contact_page {
	display: block;
	margin-top: 200px;
	width: 70%;
	

}
.temp-contact_page p {
	padding: 2% 0 1.5% 0;
	text-indent: 4px;
}

.temp-contact_page:hover {
	background-color: #4866fb;    
	    
}

div .message-body {

	margin-top: 20px;
	width: 100%; 
	float:left;
	clear:both;
}

div .contact-img {
	display: block;
	width:45%;
	height:auto;

}
fieldset { border:none; color:#878787;}

fieldset.contact {
	padding-bottom: 0;
}
fieldset.contact-message {
	padding-top: 0;
}
label { 
	display:block;
	padding-bottom: 5px; 
}

input[type="text"], 
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
textarea {
		box-sizing:border-box;
		display:block;
		margin-bottom: 19px;
		width:100%;
		max-width:40em;
		padding:10px;
		color:#878787;
}
textarea {
	margin-bottom: 0;
}
	
input[type="text"]:focus, 
input[type="email"]:focus,
textarea:focus  {
	background:#fff;
	border-color:#099949;
	box-shadow:none;
	outline-color: #099949;
 	outline-style: solid;
}	

input[type="submit"] {
	width: 50%;
	border-radius:0;
	border-style:none;
	background-color:#099949;
	outline-color: #099949;
	color:#fff;
	text-transform: uppercase;
	font-size:1em;
	max-width:40em;

}

input[type="submit"]:hover {
	
	border-radius:0;
	color:#fff;
	box-shadow:none;
	outline:1px solid #099949;
	font-size:1em;   
}

/*.............FOOTER....................................................*/

.footer {
	order:3;
	/*align-self:flex-end;*/
	color: #878787;
	max-width:1125px;
	width:100%;
	margin-bottom:2em;
	text-align:left;
	zoom:1; /*I.E hack */
	clear: both;

}
.footer:before,
.footer:after {
	content: ' ';
	display: table;
}
.footer:after {
	clear: both;
}
.column {
	width: 100%;
	height:100%;
	float:left;
	margin:0;
	padding:0;
}

.column ul li {
 	padding:0;
 	margin:0;
 	font-size: 0.9em;
 	color:#000;
 	text-align:left;
 	text-indent: 4px;
}
 .footer-col-3 ul li {
 	border:none;
 }

.footer-col-1, .footer-col-2  {
	width:100%;
 	margin:0;
 
}

.footer-col-1 ul li a, .footer-col-2 ul li a  {
	display: block;
    width: 100%;
    height: 100%;
}

.footer-col-1 ul li :hover {
	color:#fff;
}

.footer-col-1 li:first-child:hover {
	background-color: #a84420;
	color:#fff;

}
.footer-col-1 li:first-child:active {
	color:#fff;
}

.footer-col-1 li:nth-child(2):hover, .footer-col-1 li:nth-child(2) a:hover {
	background-color: #5f9797;
	color:#fff;
	
}
.footer-col-1 li:nth-child(2):active {
	color:#fff;
}

.footer-col-1  li:nth-child(3):hover {
	background-color: #8a5cd1;
	
}
.footer-col-1  li:nth-child(3):active {
	color: #fff;
}

.footer-col-1  li:nth-child(4):hover {
	background-color: #4866fb;
	
}
.footer-col-1  li:nth-child(4):active {
	color: #fff;
}

.footer-col-1  li:last-child:hover {
	background-color: #099949;
	
}
.footer-col-1  li:last-child:active {
	color: #fff;
}


.footer-col-2  li:first-child:hover {
	background-color: #b56618;
	
}
.footer-col-2  li:first-child:active {
	color: #fff;
}

.footer-col-2  li:nth-child(2):hover {
	background-color: #68b7d5;
	
}	
.footer-col-2  li:nth-child(2):active {
	color: #fff;
}

.footer-col-2  li:nth-child(3):hover {
	background-color: #820064;

}
.footer-col-2  li:nth-child(3):active {
	color: #fff;
}
.footer-col-2  li:nth-child(4):hover {
	background-color: #98983e;

}
.footer-col-2  li:nth-child(4):active {
	color: #fff;
}

.footer-col-3 {
	display:inline-block;
	width: 100%;

}

.footer-col-3 img {
	width:33.3%;
	padding:10%;
	margin:auto;
 	float:left;
 	cursor:pointer;
}

.footer-col-3 ul {
	margin:0;
	padding:0; 
}

.footer-col-3 li:nth-last-of-type(1){
	padding-top:1%;
	}

.footer-col-4 {
	font-size: 0.8em;
	width: 25%;
	padding-bottom: 3.2em; 
	/*padding-top: 3.2em;*/
	padding-left: 0.3em;
 	margin:0; 
 	color:#878787;
 	text-align: left;

}


