@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300italic,300);

/* logo colors
A #a84420;
M #5f9797; 
Y #8a5cd1;
E #4866fb;
C #099949;
K #98983e;
E #b56618;
R #68b7d5;
T #820064; 
grey #878787;

/*----------------------------------------------------------------------
------- MOBILE -----------------------------------------------------------
----------------------------------------------------------------------*/
/*@media only screen and (max-width: 250px) {
	#carousel {
		display: none;
	}

}*/

/*----------------------------------------------------------------------
------- SMALL-----------------------------------------------------------
----------------------------------------------------------------------*/


@media only screen and (max-width: 650px) { 

	.header {
		max-width:90%;
		margin: 0 auto;
		border-bottom:1px solid #878787;
	}

	.logo {  
		width:100%;
	 	min-width:200px;
	 	margin: auto;
	 	height:auto; 
	 	
	 }

	.logo img {
		max-width:100%;
		min-width: 45%;
	}
		
	.main-menu {
		display:inline-block;
	}
	.main-content {	
		width: 90%;
		max-height: 100%;
		margin: 0 auto;
		flex: 0;

	}

	#about p {
	 	padding:0.5em 0 0.5em 0;

	 }
	#photography .page-location,
	#design	.page-location, 
	#interactive .page-location, 
	#mixedmedia .page-location, 
	#exhibitions .page-location {
		display: block;
		margin: 0;
		
	}

	.menu-top {
		display:none;
	 	border-top:none;
	 }


	nav ul li a{
		font-size:1.2em;
	}

	/*.....showing page location in menu..... */

	#photography .navphoto, #design .navdesign, #interactive .navinter, 
	#mixedmedia .navmixed, #about .navabout, #blog .navblog,
	#contact .navcontact, #project-template .navproject {
		border: none;
	}

	#photography .navphoto,#photography .navphoto, #design .navdesign, #interactive .navinter, 
	#mixedmedia .navmixed, #about .navabout, #blog .navblog,
	#contact .navcontact, #project-template .navproject {
		border-top:none;
	}

	/*........POERTFOLIO TITLE VISIBILITY .......*/
	#home .page-location p {
		display: none;
	} 
	#home .grid-sizer {
		width:100%;

	}
	.statement-title {
		margin:0.3em 0 1em 0;
		width:100%;
		
	}

	.project-row, .front-row {
		max-width: 100%;
		padding:0;
		margin: 1em auto;
		flex-direction: column;

	}
	.front-row-img {
		display: block;
		margin: 0 auto;
		padding: 0;
	}
	.front-row-img img {
		display: block;
		margin: 0 auto;
		width: 50%;
		min-width: 30%;
	}
	.project-row a {
		display: block;
		padding: 5px 0;
	}
	
	.project-row-img {
		display: block;
		max-width: 100%;
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	.project-row-img img {
		display:block;
		margin: 0 auto;
		max-width: 100%;
		min-width: 30%;
	}
	#design .project-row a:first-child, 
	#mixedmedia .project-row a:nth-child(2) {
		width: 100%;
	}

	#photography .grid-sizer a,
	#design .grid-sizer a,
	#interactive .grid-sizer a,
	#mixedmedia .grid-sizer a  {
		display: block;
	}


	/*.........PROJECT PAGES .......................................*/
	
	/*.........MENU-SIDE ............*/
	nav.menu-side {
		order: 1;
		display: inline-block;
		min-width: 100%;
	}
	nav.menu-side ul li {
	    display: none;
	    width: 100%;
	}

	#manhome .menu-side ul li:first-child, 
	#truckers .menu-side ul li:first-child,
	#mncooks .menu-side ul li:first-child,
	#submarine .menu-side ul li:first-child,
	#soap .menu-side ul li:first-child,
	#optimiste .menu-side ul li:first-child,
	#mossburn .menu-side ul li:first-child,

	/*design*/
	#mhbook .menu-side ul li:first-child,
	#nzbirds .menu-side ul li:first-child,
	#letters .menu-side ul li:first-child,
	#print-portfolio .menu-side ul li:first-child,
	#d6sunset .menu-side ul li:first-child,
	/*interactive*/

	/*mixed media*/ 
	#misunderstood .menu-side ul li:first-child,
	#rigs .menu-side ul li:first-child,
	#prefab .menu-side ul li:first-child,
	#proteus .menu-side ul li:first-child,
	#kansas .menu-side ul li:first-child,
	#weather .menu-side ul li:first-child {
		display: inline-block;
		width:100%;
	}

	/*photography*/
	#manhome .menu-side ul li:nth-child(2),
	#truckers .menu-side ul li:nth-child(3),
	#mncooks .menu-side ul li:nth-child(4),
	#submarine .menu-side ul li:nth-child(5),
	#soap .menu-side ul li:nth-child(6),
	#optimiste .menu-side ul li:nth-child(7),
	#mossburn .menu-side ul li:nth-child(8), 

	/*design*/
	#mhbook .menu-side ul li:nth-child(2),
	#nzbirds .menu-side ul li:nth-child(3),
	#letters .menu-side ul li:nth-child(4),
	#print-portfolio .menu-side ul li:nth-child(5),
	#d6sunset .menu-side ul li:nth-child(6),

	/*interactive*/

	/*mixed media*/
	#misunderstood .menu-side ul li:nth-child(2),
	#rigs .menu-side ul li:nth-child(3),
	#prefab .menu-side ul li:nth-child(4),
	#proteus .menu-side ul li:nth-child(5),
	#kansas .menu-side ul li:nth-child(6),
	#weather .menu-side ul li:nth-child(7) {
		display: inline-block;
		width:100%;
	}

	#carousel {
	 	order: 2;
	 	display: none;
	 	width: 100%;
		margin: 0.5em auto;

	 }
	
	

	.big {
		width:100%;
		height: 400px;		
		display: block;
		visibility: visible;
		z-index: 1;
	}

	.big-img-container {
		display: block;
	    visibility: visible;
	    width: 100%;
	    height: 400px;
	    margin-left: 0;
	    background-size: contain;
	    background-repeat: no-repeat;
	}

	.grid {
		order: 3;
		width: 100%;
		margin: 0 0 0 0;


	}

	.grid-sizer {
		width: 50%;

	}
	.grid-item {
		width: 100%;

	}
	.grid-item:hover {
		opacity: 1;
	}
	.item{ padding: 5px 0;}

	.item p {display: none;}
	
	.image-info {display: none;}

	.carousel-nav {
		display: inline-block;
		position: relative;
		order: 4;
		/*top: 45px;*/
		width: 100%;
	
	}
	.carousel-nav button:first-child {display: none;}

	.carousel-nav button:nth-child(2),
	.carousel-nav button:nth-child(3) {
		padding: 0 5px;
		font-size: 2em;
		margin: 0 auto;
	}
	.carousel-nav button:nth-child(2) {
		margin-left: 36%;
	}
	.statement-body {
		display: none;
		order: 5;
		width: 90%;
		padding: 15px auto;
		margin: 0 auto;
		font-size: 1em;
		text-indent: 0;
		letter-spacing: 0.05em;

	}

	/*.........ABOUT PAGE .......................................*/

	.about-me {
		width:100%;
		overflow:hidden;
		min-width:6em;
		margin: 0;
		padding: 0;

	}

	#about .about-me p {
	   font-size:1.2em;
	}
	.about-me p:first-of-type {
		margin-top:0;
	}


	.cv { margin:auto;}

	.cv button {
		padding:4%;
		margin:auto;
		font-size: 0.7em;
		letter-spacing: 0.12em;
	}
	.about-col-2, .clients-r, .clients-l, .awards {
			display:none;

	}
	.commercial-site {
			margin:1.5em 0 1.5em 0;
	}


	/*........CONTACT PAGE ............................................*/

	.contact-img {
		display: none;
	}
	.contact-img img {
		display: none;
	}
	.contact-info {
		width: 100%;
		height: 3em;
		margin: 2em auto;
	}
	.temp-contact_page {
	display: block;	
	margin: 0 auto;
	width: 100%;

	}
	.temp-contact_page p {
		padding: 2% 0;
		text-align: center;
	}
 	/*.temp-contact_page p:last-child {
 		display:none;
 	}*/
	.temp-contact_page:hover {
		    background-color: #4866fb;	    
	}



	/*......... FOOTER.......................................*/
	.footer {
		width:90%;
		margin: 10px auto 0 auto;
		padding: 0;
		border-top:1px solid #878787;
			
	}
	#home .footer {
		margin-top: 0;
	}
	.column {
		width:100%;
		
	}

	.footer-col-1,
	.footer-col-2,
	.footer-col-3 {
		margin: 0;
		width:100%;
	}

	.footer ul li {
			margin:0;

	}

	.footer-col-1 ul li, 
	.footer-col-2 ul li {
		width:100%;
		padding-left:0;
			
	}
	.footer-col-1 ul li a, 
	.footer-col-2 ul li a  {
		display: block;
	    padding: 6% 0;
	    width: 100%;
	    height: 100%;
	    text-align: center;
	}			
} 



/*----------------------------------------------------------------------
-------MEDIUM ----------------------------------------------------------
----------------------------------------------------------------------*/


@media only screen and (min-width: 651px) and (max-width:1125px) {

	.wrapper {
		max-width:90%; 
		margin:0 auto;
	}
	.header{
		width:100%; 
		border-bottom:1px solid #878787;
	}
	.logo {
		width:100%;
		max-width:900px;
		height:auto;
		margin:0;
	}
	
	.logo img {
		max-width: 50%;
	}

	#exhibitions .menu-top, 
	#photography .menu-top,
	#design .menu-top,
	#interactive .menu-top,
	#mixedmedia .menu-top, 
	#about .menu-top, 
	#contact .menu-top, 
	#manhome .menu-top, 
	#truckers .menu-top,
	#mncooks .menu-top,
	#submarine .menu-top,
	#soap .menu-top,
	#optimiste .menu-top,
	#mossburn .menu-top,

	/*design*/
	#mhbook .menu-top,
	#nzbirds .menu-top,
	#letters .menu-top,
	#print-portfolio .menu-top,
	#d6sunset .menu-top,

	/*interactive*/

	/*mixed media*/ 
	#misunderstood .menu-top,
	#rigs .menu-top,
	#prefab .menu-top,
	#proteus .menu-top,
	#kansas .menu-top,
	#weather .menu-top {
		display: none;
	}

	.menu-top ul li:nth-child(5),
	.menu-top ul li:nth-child(6) {
		display: none;
	}
	nav ul li {
		float: none;
	}
	nav ul li a {
		font-size: 1.5em;
	}
	nav ul li:first-child {
		border: none;
	}

	.main-content {
		/*margin-top: 1rem;*/
		order: 2;
	}
		
	#contact .page-location, 
	#contact .page-location p {
		display: none;

	}
	/* ............	FRONT PAGE...........................................*/

	.front-row {
		margin-top: 1em;
	}
	.front-row-img {
		max-width: 100%;
		margin: 0 auto;
	}
	.front-row-img img {
		margin: 0 auto;
	}
	/*.........PORTFOLIO LANDING PAGES.......................................*/

	#design .project-row a:first-child, 
	#mixedmedia .project-row a:nth-child(2) {
		width: 150%;
	}
	
	/*.........PROJECT PAGES.......................................*/
	.main-content {
		display: flex;
		flex-direction: row;
	}

	nav.menu-side {
		order: 0;
		margin-top: 1em;

	}

	#exhibitions .menu-side {
		display:none;
	}

	nav.menu-side ul li {
		display: block;
		width:100%;
	}
	 /*	 display the "back to... projects" <li> */
	#manhome .menu-side ul li:first-child, 
	#truckers .menu-side ul li:first-child,
	#mncooks .menu-side ul li:first-child,
	#submarine .menu-side ul li:first-child,
	#soap .menu-side ul li:first-child,
	#optimiste .menu-side ul li:first-child,
	#mossburn .menu-side ul li:first-child,

	/*design*/
	#mhbook .menu-side ul li:first-child,
	#nzbirds .menu-side ul li:first-child,
	#letters .menu-side ul li:first-child,
	#print-portfolio .menu-side ul li:first-child,

	/*interactive*/

	/*mixed media*/ 
	#misunderstood .menu-side ul li:first-child,
	#rigs .menu-side ul li:first-child,
	#prefab .menu-side ul li:first-child,
	#proteus .menu-side ul li:first-child,
	#kansas .menu-side ul li:first-child,
	#weather .menu-side ul li:first-child {
		display: none;
		width:100%;
	}

	/*	display the current project */
	/*photography*/
	#manhome .menu-side ul li:nth-child(2),
	#truckers .menu-side ul li:nth-child(3),
	#mncooks .menu-side ul li:nth-child(4),
	#submarine .menu-side ul li:nth-child(5),
	#soap .menu-side ul li:nth-child(6),
	#optimiste .menu-side ul li:nth-child(7),
	#mossburn .menu-side ul li:nth-child(8), 

	/*design*/
	#mhbook .menu-side ul li:nth-child(2),
	#nzbirds .menu-side ul li:nth-child(3),
	#letters .menu-side ul li:nth-child(4),
	#print-portfolio .menu-side ul li:nth-child(5),
	#d6sunset .menu-side li:nth-child(6),

	/*interactive*/

	/*mixed media*/
	#misunderstood .menu-side ul li:nth-child(2),
	#rigs .menu-side ul li:nth-child(3),
	#prefab .menu-side ul li:nth-child(4),
	#proteus .menu-side ul li:nth-child(5),
	#kansas .menu-side ul li:nth-child(6),
	#weather .menu-side ul li:nth-child(7) {
		display: block;
		width:100%;
	}
	 
	#carousel {
		display: none;
		position: relative;
		height: 26em;
		margin: 1em 0; 
		order: 2;
		flex-grow: 2;
	}
	.big-img-container {
	    display: block;
	    visibility: visible;
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    right:0;
	    background-size: contain;
	    background-repeat: no-repeat;
	}
	.image-info {
		display: none;
	}
	.thumbs {
		order: 2;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 75%;
		height: 100%;

	}
	.thumbs-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;	
	}
	.grid {
		display: block;
		order: 0;
		flex-grow: 2;
		flex-direction: row;
		flex-wrap: wrap;
		min-width: 74%;
		max-width: 75%;
		margin-top: 1em;
		
	}
	.grid-sizer,
	.grid-item {
		max-width: 30%;
		height: auto;

	}
	.grid-item img {
		max-width: 100%;
		height: auto;
	}

	.item img {
		width: 100%;
		height: auto;
	}
	.item p {
		display: none;
	}

	.carousel-nav {
			min-width: 25%;
			order: 4;
			/*align-self:flex-end;*/
			min-width: 100%;
	}
	.statement-body {
		/*display: none;
		visibility: visible;
		max-width: 70%;
		margin-left: 0;

	}
	.statement-title {
		/*width:100%;
		margin:1em 0 1em 0;
	}
	.statement-body p {
		/*display: block;
		visibility: visible;
		min-width: 50%;
		max-width: 80%;
		width:100%;
		padding-top: 8px;
		margin:0;
		text-indent: 10px;
		letter-spacing: 0.05em;*/

	}

	

	/*.........ABOUT PAGE .......................................*/
	.about-me {
		width: 80%;
		margin: 0 auto;
		padding: 0;
	}
	

	/*.........CONTACT PAGE .......................................*/

 	#contact .main-content{
 		flex-direction: row;
 		/*align-content: center;*/
 	}
 	.contact-img {
		display: block;
		width: 40%;
		height: auto;
		margin: 0 5%;
	}	
	.contact-img img {
		width: 100%;
		height: auto;
		margin: 1em auto;
	}
	.contact-info {
		width: 40%;
		margin:0 5%;
		text-align: center;
		
	}

	.temp-contact_page {
		display: block;	
		margin: 30px auto;
		width: 100%;
	}
	.temp-contact_page p {
		padding: 4% 0 1.5% 0;
		text-indent: 6px;
	}

	.temp-contact_page:hover {
		    background-color: #4866fb;	    
	}


	.message-body {
		width: 100%; 
		float:left;
		clear:both; 
	}

	legend { margin:0; }

	input[type="text"], 
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="tel"],
	input[type="search"],
	input[type="number"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	textarea {
		width:100%;
		max-width:40em;
	}
	input[type="submit"] {width:50%;}

	/*.........FOOTER .......................................*/

	.footer {
		color: #878787;	
		max-width:1125px;
		width:100%;
		border-top: 1px solid #878787;
		text-align:left;
		zoom: 1; 	
		font-size:0.5em;
	}

	.column {
		width: 50%;
		height: auto;
	}
	.footer-col-3 img {
		max-width: 20%;
		min-width: 17%;
		height: auto;
	    padding: 3% 10% 0 3%;   
    	
	}

	.footer-col-3 img:first-child {
		padding-left: 2px;
	}

	.footer-col-4 {
		padding-top: 1.2em;
		font-size: 1.4em;
	}
	.footer-col-4 p {
		font-size: 1.2em;
	}

	.footer ul li {
		margin:0;
		font-size: 1.6em;

	}
	.footer-col-1 ul li a, 
	.footer-col-2 ul li a  {
		display: block;
	    padding: 2% 0;
	}
}   






/*--------------------------------------------------------------------------
-----------LARGE------------------------------------------------------------
--------------------------------------------------------------------------*/ 

@media only screen and (min-width: 1126px )  {

	.wrapper  {
		max-width:1126px;
		min-width:305px;
		margin:0 auto;
	}


	.header {
		width:100%;
		min-width:300px;
		border-bottom: none;
	}

	.logo img {
		border:none;
		width:50%;
	}

	nav.menu-top {
		display:block; 
		font-size: 1.3em;
		text-align: left;
		border-top: 1px solid #aba787;
	}
	nav..menu-side ul {
		font-size: 1em;
		width:100%;
		margin:0 auto;
	}
	.main-content {
		display: flex;
		flex-direction: row;
		width:100%;
		height: auto;
		overflow: hidden;
	}
	#contact.main-content {
		margin-top:0.28em;
		margin-bottom:1em;
	}
	/*........PORTFOLIO LANDING PAGES....................................*/

	#photography .grid,
	#design .grid,
	#mixedmedia .grid,
	#interactive .grid {
		position: relative;
		top: 0;
		right: 0;
		width: 100%;
		height: auto;
		
	}

	#photography .grid-sizer, 
	#design .grid-sizer,
	#interactive .grid-sizer,
	#mixedmedia .grid-sizer {
		width: 50%;
	}

	#photography .grid-sizer a, 
	#design .grid-sizer a,
	#interactive .grid-sizer a, 
	#mixedmedia .grid-sizer a {
		display: none;
	}

	#photography .grid-sizer a:nth-child(-n+2),
	#design .grid-sizer a:nth-child(-n+2),
	#interactive .grid-sizer a:nth-child(-n+2),
	#mixedmedia .grid-sizer a:nth-child(-n+2) {
		display: block;
	}

	#photography .grid-item,
	#design .grid-item,
	#interactive .grid-item,
	#mixedmedia .grid-item {
		width: 50%;

	}
	#interactive .page-location, #mixedmedia .page-location, 
	#photography .page-location, #design .page-location, 
	#portfolio-template .page-location, #project-template .page-location, 
	#exhibitions .page-location, #contact .page-location, #about .page-location,
	#blog .page-location {
		display:none;
	}
	#interactive .page-location p, #mixedmedia .page-location p, 
	#photography .page-location p, #design .page-location p, 
	#portfolio-template .page-location p, #project-template .page-location p, 
	#exhibitions .page-location p,
	#about .page-location p, #blog.page-location p {
		display:none;
		margin-bottom:0;
	}		

	#photography .grid,
	#design .grid,
	#mixedmedia .grid,
	#interactive {
		width: 100%;
	}

	/*.........PROJECT PAGES .......................................*/

	nav.menu-side {
		order: 0;
	}
	#exhibitions .menu-side{
		display: block;
		visibility: hidden;
	}

	#manhome .menu-side ul li:first-child, 
	#truckers .menu-side ul li:first-child,
	#mncooks .menu-side ul li:first-child,
	#submarine .menu-side ul li:first-child,
	#soap .menu-side ul li:first-child,
	#optimiste .menu-side ul li:first-child,
	#mossburn .menu-side ul li:first-child,
	/*design*/
	#mhbook .menu-side ul li:first-child,
	#nzbirds .menu-side ul li:first-child,
	#letters .menu-side ul li:first-child,
	#print-portfolio .menu-side ul li:first-child,
	#d6sunset .menu-side ul li:first-child,
	/*interactive*/
	
	/*mixed media*/ 
	#misunderstood .menu-side ul li:first-child,
	#rigs .menu-side ul li:first-child,
	#prefab .menu-side ul li:first-child,
	#proteus .menu-side ul li:first-child,
	#kansas .menu-side ul li:first-child,
	#weather .menu-side ul li:first-child {
		display:none;
	}

	#carousel {
		display:none;
		position: relative;
		order: 2;
		flex-grow: 2;
		height: 26em;

	}
	.big {
		width:100%;
		height:600px;
		display:block;
		visibility: visible;
		z-index:1;

	}
	.big-img-container {
		display: block;
		visibility: visible;
		width:100%;
		height:600px;
		margin-left:0;
		margin-top: 0;
		background-size: contain;
		background-repeat: no-repeat;

	}
	.image-info {
		height:40px; 
		width:60%;
		margin-left:0;
		text-align:left;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 0.7em;
		display: block;
		visibility: hidden;
		color: #878787;

	}
	.image-info p {
		padding:0;
		margin:0;
		display: inline-block;
		padding:10px;
		color: #878787;
	}
	.image-info p:first-child {
		padding-left:0;
	}

	.grid {
		order: 0;
	}

	#photography .grid, 
	#design .grid,
	#interactive .grid,
	#mixedmedia .grid  {
		margin-left: 0;
	}

	.grid-sizer,
	.grid-item {
		width: 15%;

	}
	.grid-item img {
		max-width: 100%;
		height:auto;

	}
	
	.item img:hover{
		opacity:1;

	}
	.item p {
		display:none;
	}

	.carousel-nav { 
		order: 4;
		visibility: hidden;
		display: block;
		height: auto;
		width: 100%;
		
	}
	/*.statement-body {
		max-width: 80%;
		margin-left: 0;

	}*/

	.statement-title {
		position:relative;
		width:100%;
		margin:1em 0;
		float:right;
		font-size: 1em;
		text-indent:0;

	}
	.statement-body p {
		/*display: block;
		visibility: visible;*/
	/*	min-width: 50%;
		max-width: 80%;
		width:100%;
		padding-top: 8px;
		margin:0;
		text-indent: 10px;
		letter-spacing: 0.05em;*/

	}

	/*.........ABOUT PAGE .......................................*/
	.about-me {
		max-width: 45%;
		margin: 0;

	}

	
	/*.........CONTACT PAGE.......................................*/

	#contact .page-location,
	#contact .page-location p,
	{
		display:none;
	}

	#contact .contact-img {
		display:block;
		width:45%;
		float:left;
		margin-left:5%;

	}
	#contact .contact-info{
		width:45%;
		margin:1.3em auto 1em auto;
		overflow:auto;
	}

	.temp-contact_page {
	display: block;
	margin-top: 200px;
	width: 100%;
	

	}
	.temp-contact_page p {
		padding: 2% 0 2% 2%;
		text-indent: 4px;
	}

	.temp-contact_page:hover {
		    background-color: #4866fb;    
	}

	div .message-body {
		width: 40%; 
		float:right;
	}

	div .contact-img {
		display: block;
		width:45%;
		margin: 33px 0 0 0;
		height:auto;
		float:left;
		
	}

	input[type="text"], 
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="tel"],
	input[type="search"],
	input[type="number"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="submit"],
	textarea {
		width:100%;
		max-width:50em;
		
	}
	input[type="submit"] {
		display:block;
		width: 50%;
		max-width:30em;
	

	}
	label {
		font-size: 1em;
		display: inline-block;
		
	}
	
	/*------------------------------------------------------------------
	----footer---------------------------------------------------------*/

	.footer {	
		font-size: 1em;
	}

	.column {
		width:15%; 
	}

	.footer ul li {
		margin:0;
		/*font-size: 1.3em;*/

	}
	.footer-col-1 ul li a, .footer-col-2 ul li a  {
		display: block;
	    padding:5% 0;
	}
	.footer-col-3 {
		margin: 0 0 0 36%;
	}

	.footer-col-3 img {
		padding: 9%;
		
	}
	.footer-col-4 {
		padding-top:2%;
		margin: 0 0 0 4%;
		text-align: center;
		font-size: 0.8em;
		
	}
} 

