@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300italic,300);

/* logo colors
A #a84420;
M #5f9797; 
Y #8a5cd1;
E #4866fb;
C #099949;
K #98983e;
E #b56618;
R #68b7d5;
T #820064; 
grey #878787;


/*----------------------------------------------------------------------
------- SMALL-----------------------------------------------------------
----------------------------------------------------------------------*/


@media only screen and (max-width: 700px) { 
	body {
		padding-top: 50px;
	}
	.wrapper {
		width: 90%;
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	 	display: -ms-flexbox;      /* TWEENER - IE 10 */
	 	display: -webkit-flex;     /* NEW - Chrome */
	  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

		flex-direction: column;
		max-width: 90%;
		margin: 0 auto;
	
	}
	header {
		order: 1;
		z-index: 1;	
		width: 100%;
		height: 50px;
		margin: 0 auto;
		padding: 8px 5%;	
		position: fixed;
		top: 0;
		left: 0;
		background-color: #fff;
		transition: top 0.2s ease-in-out;	
		border-bottom:1px solid #878787;
	}
	.nav-up {
		top: -40px;
		border-bottom: none;
	}
	.logo {
		display: inline-block;
		width: 85%;
		min-width: 140px;
		max-width: 240px;
		max-height: 40px;
		margin: 0;
		background-color: #fff;

	}
    .hamburger {
    	display: inline-block;
    	width: 15%;
    	margin: 0;
    	float: right;
    	
    }
    .menu-icon {
	    position: relative;
	    display: inline-block;
	    right: 0;
	    top: 0;
	    max-width: 35px;
	    min-width: 25px;
	    text-indent: -999px;
	    float: right;
	}
	 
	.border-icon {
	    height: 15px;
	    border-top: 5px solid #b56618;
	    border-bottom: 5px solid #68b7d5; 
	}
	 
	.border-icon:before {
	    content:"";
	    position: absolute; 
	    top: 15px;
	    left: 0;
	    width: 100%;
	    border-top: 5px solid #98983e;
	}
	nav ul li a { font-size: 1.2rem;}

	nav.menu-top ul.main-menu {
		border-top: 1px solid #878787;
	}
	nav.menu-top ul.main-menu li:first-child {
		border-left: none;
	}
	nav.menu-top ul.share li {
		display: inline-block;
		width: 30%;
		margin: 0;
		padding: 0;
		

	}

	/*...............MAIN CONTENT AREA.......................................*/
	.main-content {	
		width: 100%;
		height: 100%;
		margin: 0 auto;

		order: 1;
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	 	display: -ms-flexbox;      /* TWEENER - IE 10 */
	 	display: -webkit-flex;     /* NEW - Chrome */
	  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
		flex-direction: column;
		align-content: flex-start;
		flex: 1 0;
	}
	#about p {
	 	padding:0.5rem 0 0.5rem 0;

	}
	#photography .page-location,
	#design	.page-location, 
	#interactive .page-location,
	#mixedmedia .page-location {
		display: block;
		margin: 0;
		
	}
	#photography .page-location p,
	#design	.page-location p,
	#interactive .page-location p, 
	#mixedmedia .page-location p {
		display: block;
		margin: 0;
		padding: 2% 0 2% 2%;

	}	
	#exhibitions .page-location,
	#exhibitions .page-location p {
		display: block;
	}
	.menu-top {
		display: none;
	 	border-top: none;
	}
	
	/*.....showing page location in menu..... */

	#photography .navphoto, 
	#design .navdesign, 
	#interactive .navinter, 
	#mixedmedia .navmixed, 
	#about .navabout, 
	#blog .navblog,
	#contact .navcontact, 
	#project-template .navproject {
		border: none;
		
	}
	#home .page-location p {
		display: none;
	} 
	#home .grid-sizer {
		width: 100%;
	}
	.statement-title {
		margin:0.3rem 0 1rem 0;
		width:100%;
		
	}
	.front-row {
		max-width: 100%;
		padding: 0;
		margin: 1rem auto;
		flex-direction: column;

	}
	.front-row-img {
		display: block;
		margin: 0 auto;
		padding: 0;
	}
	.front-row-img img {
		display: block;
		margin: 0 auto;
		max-width: 60%;
		min-width: 30%;
	}

	/*.........PROJECT PAGES .......................................*/
	
	nav.menu-side {
		order: 1;
		display: flex;
		display: block;
		width: 100%;
		max-width: 100%;
		height: 50px; 
		
	}
	nav.menu-side a button {
		display: block;
		width: 20%;
	}
	nav.menu-side a button.back {
		padding: 14px;
		/*width: 20%;*/
		background-image: url("../images/go-back-left-arrow.svg");
		background-repeat: no-repeat;
		background-size: contain;
		background-color: transparent;
		margin: 5px auto;
		float: left;
	}
	nav.menu-side a button.back:hover {
		border-bottom: 1px solid #fff;
	}
	nav.menu-side p {
		display: block;
    	margin: 1% 0;
		max-width: 80%;
		float: right;
		color: #878787;
		text-align: right;	
		font-size: 0.6rem;
    	text-transform: uppercase;
	}
	nav.menu-side ul li {
	    display: none;
	    width: 100%;
	}
	#carousel, 
	.big,
	.big-img-container, 
	.image-info,
	.carousel-nav,
	.item p  {	
		display: none;
	 }
	.grid {
		order: 2;
		width: 100%;

	}
	#manhome .grid,
	#mhbook .grid,
	#print-portfolio .grid {
		margin-top: 0;
		align-self: flex-start;
	}
	.grid-sizer,
	.grid-item,
	.grid-item img {
		width: 100%;
		margin: 0 auto;

	}
	#photography .grid-sizer a,
	#design .grid-sizer a,
	#interactive .grid-sizer a,
	#mixedmedia .grid-sizer a  {
		display: block;

	}
	#photography .grid-item img,
	#design .grid-item img,
	#interactive .grid-item img,
	#mixedmedia .grid-item img {
	    width: 100%;
    	margin: 0 auto;

	} 
	.grid-item:hover {
		opacity: 1;

	}
	.statement-body {
		display: none;
		order: 5;
		width: 90%;
		padding: 15px auto;
		margin: 0 auto;
		font-size: 1rem;
		text-indent: 0;
		letter-spacing: 0.05rem;
	}

	/*.........ABOUT PAGE .......................................*/

	.about-me {
		width:100%;
		overflow: hidden;
		min-width:6rem;
		margin: 0;
		padding: 0;

	}
	#about .about-me p {
	   font-size:1.2rem;
	}
	.about-me p:first-of-type {
		margin-top:0;
	}
	.cv { margin:auto;}

	.cv button {
		padding:4%;
		margin:auto;
		font-size: 0.7rem;
		letter-spacing: 0.12rem;
	}
	.about-col-2, .clients-r, .clients-l, .awards {
			display:none;

	}
	.commercial-site {
			margin:1.5rem 0 1.5rem 0;
	}


	/*........CONTACT PAGE ............................................*/

	.contact-img {
		display: none;
	}
	.contact-img img {
		display: none;
	}
	.contact-info {
		width: 100%;
		height: 3rem;
		margin: 2rem auto;
	}
	.temp-contact_page {
	display: block;	
	margin: 0 auto;
	width: 100%;

	}
	.temp-contact_page p {
		padding: 2% 0;
		text-align: center;
	}
 	/*.temp-contact_page p:last-child {
 		display:none;
 	}*/
	.temp-contact_page:hover {
		    background-color: #4866fb;	    
	}



	/*......... FOOTER.......................................*/
	#home footer {
		display: none;
	}

	footer {
		display: none;
		width: 90%;
		margin: 10px auto 0 auto;
		padding: 0;
		border-top: 1px solid #878787;
			
	}

	.column {
		width: 100%;
		
	}

	.footer-col-1,
	.footer-col-2,
	.footer-col-3 {
		margin: 0;
		width: 100%;
	}

	.footer ul li {
		margin: 0;

	}

	.footer-col-1 ul li, 
	.footer-col-2 ul li {
		width: 100%;
		padding-left: 0;
			
	}
	.footer-col-1 ul li a, 
	.footer-col-2 ul li a  {
		display: block;
	    padding: 6% 0;
	    width: 100%;
	    height: 100%;
	    text-align: center;
	}		
		
} 

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 700px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 700px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 700px),
only screen and (        min-device-pixel-ratio: 2)      and (max-width: 700px),
only screen and (                min-resolution: 192dpi) and (max-width: 700px),
only screen and (                min-resolution: 2dppx)  and (max-width: 700px) { 

  /* Small screen, retina, stuff to override above media query */

 /* 	.wrapper {background-color: #red;}

  	#carousel,
	.big-img-container,
	.big {	
		display: block;
		border: 1px solid red; 
		display: block;
		max-width: 60%;
 	}
	.carousel-nav {
		border: 1px solid red; 
	}
	.image-info {

	}*/
  /*.menu-side {display: none;}*/
  

}
/*----------------------------------------------------------------------
-------MEDIUM ----------------------------------------------------------
----------------------------------------------------------------------*/


@media only screen and (min-width: 701px) and (max-width:1299px) {

	body {
		padding-top: 50px;
	}

	.wrapper {
		max-width:90%; 
		margin:0 auto;
	}
	header {
		order: 1;
		z-index: 1;	
		width: 100%;
		height: 50px;
		margin: 0 auto;
		padding: 8px 5%;	
		position: fixed;
		top: 0;
		left: 0;
		background-color: #fff;
		transition: top 0.2s ease-in-out;	
		border-bottom:1px solid #878787;
	}
	.nav-up {
		top: -40px;
		border-bottom: none;
	}
	.logo {
		display: inline-block;
		width: 85%;
		min-width: 140px;
		max-width: 240px;
		max-height: 40px;
		margin: 0;
		background-color: #fff;

	}
    .hamburger {
    	
    	width: 15%;
    	margin: 0;
    	float: right;
    	
    }
    .menu-icon {
	    position: relative;
	    display: inline-block;
	    right: 0;
	    top: 0;
	    max-width: 45px;
	    min-width: 30px;
	    text-indent:-999px;
	    float: right;
	}
	 
	.border-icon {
	    height: 15px;
	    border-top: 5px solid #b56618;
	    border-bottom: 5px solid #68b7d5; 
	}
	 
	.border-icon:before {
	    content:"";
	    position: absolute; 
	    top: 15px;
	    left: 0;
	    width: 100%;
	    border-top: 5px solid #98983e;
	}
	
	#exhibitions .menu-top, 
	#photography .menu-top,
	#design .menu-top,
	#interactive .menu-top,
	#mixedmedia .menu-top, 
	#about .menu-top, 
	#contact .menu-top, 
	#manhome .menu-top, 
	#truckers .menu-top,
	#mncooks .menu-top,
	#submarine .menu-top,
	#soap .menu-top,
	#optimiste .menu-top,
	#mossburn .menu-top,

	/*design*/
	#mhbook .menu-top,
	#nzbirds .menu-top,
	#letters .menu-top,
	#print-portfolio .menu-top,
	#d6sunset .menu-top,

	/*interactive*/

	/*mixed media*/ 
	#misunderstood .menu-top,
	#rigs .menu-top,
	#prefab .menu-top,
	#proteus .menu-top,
	#kansas .menu-top,
	#weather .menu-top {
		display: none;
	}

	#photography .navphoto, 
	#design .navdesign, 
	#interactive .navinter, 
	#mixedmedia .navmixed, 
	#about .navabout, 
	#blog .navblog,
	#contact .navcontact, 
	#project-template .navproject {
		border: none;
	}
	nav.menu-top ul li {
		display: inline-block;
		padding: 0;
		float: none;
		width: 100%;
	}
	nav ul li {
		float: none;
	}
	nav ul li a {
		font-size: 1rem;
	}
	nav.menu-top ul li:first-child {
		border-left: none;
	}

	nav.menu-top ul.share {
		width: 50%;
		margin: 0 auto;
	}
	nav.menu-top ul.share li {
		display: inline-block;
		width: 30%;
		margin: 0 auto;
		padding: 0;
	

	}
	nav.menu-top ul.share li a{
		width: 100%;
		display: inline-block;
	}

	#contact .page-location, 
	#contact .page-location p {
		display: none;

	}
	.main-content {
		display: flex;
		flex-direction: row;
		order: 2;
		width: 100%;

	}
	/* ............	FRONT PAGE...........................................*/

	.front-row {
		margin-top: 1rem;
	}
	.front-row-img {
		max-width: 100%;
		margin: 1rem auto;
	}
	.front-row-img img {
		display: block;
		max-height: 100%;
		width: 40vh;
		margin: 0 auto;
	}
	
	/*.........PROJECT PAGES.......................................*/
	
	.menu-side {
		position: fixed;
		order: 0;
		max-width: 27%; 
		max-height: 50vh;
		margin-top: 1em;
		font-size: 0.8rem;

	}
	.menu-side p {
		display: none;
	}
	#exhibitions .menu-side {
		display: none;
	}
	
	.menu-side ul li {
		display: block;
		width:100%;
	}
	 /*	 display the "back to... projects" <li> */
	#manhome .menu-side ul li:first-child, 
	#truckers .menu-side ul li:first-child,
	#mncooks .menu-side ul li:first-child,
	#submarine .menu-side ul li:first-child,
	#soap .menu-side ul li:first-child,
	#optimiste .menu-side ul li:first-child,
	#mossburn .menu-side ul li:first-child,

	/*design*/
	#mhbook .menu-side ul li:first-child,
	#nzbirds .menu-side ul li:first-child,
	#letters .menu-side ul li:first-child,
	#print-portfolio .menu-side ul li:first-child,

	/*interactive*/

	/*mixed media*/ 
	#misunderstood .menu-side ul li:first-child,
	#rigs .menu-side ul li:first-child,
	#prefab .menu-side ul li:first-child,
	#proteus .menu-side ul li:first-child,
	#kansas .menu-side ul li:first-child,
	#weather .menu-side ul li:first-child {
		display: none;
		width:100%;
	}

	/*	display the current project */

	/*photography*/
	#manhome .menu-side ul li:nth-child(2),
	#truckers .menu-side ul li:nth-child(3),
	#mncooks .menu-side ul li:nth-child(4),
	#submarine .menu-side ul li:nth-child(5),
	#soap .menu-side ul li:nth-child(6),
	#optimiste .menu-side ul li:nth-child(7),
	#mossburn .menu-side ul li:nth-child(8), 

	/*design*/
	#mhbook .menu-side ul li:nth-child(2),
	#nzbirds .menu-side ul li:nth-child(3),
	#letters .menu-side ul li:nth-child(4),
	#print-portfolio .menu-side ul li:nth-child(5),
	#d6sunset .menu-side li:nth-child(6),

	/*interactive*/

	/*mixed media*/
	#misunderstood .menu-side ul li:nth-child(2),
	#rigs .menu-side ul li:nth-child(3),
	#prefab .menu-side ul li:nth-child(4),
	#proteus .menu-side ul li:nth-child(5),
	#kansas .menu-side ul li:nth-child(6),
	#weather .menu-side ul li:nth-child(7) {
		display: block;
		width:100%;
	}

	.carousel-nav {

		display: block;
		visibility: hidden;
		width: 100%;
		min-width: 25%;
		margin: 2rem 0 0 0;
		/*order: 4;*/
	}
	.carousel-nav button {
		display: inline-block;

	}

	#carousel, 
	.big,
	.big-img-container, 
	.image-info,
	/*.carousel-nav,*/
	.item p  {	
		display: none;
	 }

	#carousel {
		display: none;
		visibility: visible;
		position: relative;
		max-width: 75%;
		width: 100%;
		height: 80vh;
		margin: 1rem 0 0 13rem; 
		order: 2;
		flex-grow: 2;
		/*border: 1px solid red;*/
	}	
	.big {	
		display: block;
		visibility: visible;
		position: absolute;
		top: 0;
	    right: 0;
		width: 100%;
		height: auto;
	}
	.big-img-container {
	    display: block;
	    visibility: visible;
	    width: 100%;
	    height: 80vh;
	   	position: absolute;
	    top: 0;
	    right: 0; /*-11.2%;*/
	    background-size: contain;
	    background-repeat: no-repeat;
	    /*border: 1px solid purple;*/
	}

	.image-info {
		display: none;
	}
	.grid {
		display: block;
		
	}
	.grid {
		display: block;
		width: 73%;
		height: auto;
		margin: 0 0 0 27% ;

	}
	.grid-sizer,
	.grid-item {
		width: 50%;
		height: auto;
		
	}
	.grid-item img {
		/*display: block;*/
		width: 100%;
		height: auto;
		padding: 7px;
	}
	.item p {
		display: none;
	}
	/*.statement-body {*/
		/*display: none;
		visibility: visible;
		max-width: 70%;
		margin-left: 0;

	}
	.statement-title {
		/*width:100%;
		margin:1rem 0 1rem 0;
	}
	.statement-body p {
		/*display: block;
		visibility: visible;
		min-width: 50%;
		max-width: 80%;
		width:100%;
		padding-top: 8px;
		margin:0;
		text-indent: 10px;
		letter-spacing: 0.05rem;*/

	/*}*/

	

	/*.........ABOUT PAGE .......................................*/
	.about-me {
		width: 80%;
		margin: 0 auto;
		padding: 0;
	}
	

	/*.........CONTACT PAGE .......................................*/

 	#contact .main-content{
 		flex-direction: row;
 	}
 	.contact-img {
		display: block;
		width: 40%;
		height: auto;
		margin: 0 5%;
	}	
	.contact-img img {
		width: 100%;
		height: auto;
		margin: 1rem auto;
	}
	.contact-info {
		width: 40%;
		margin:0 5%;
		text-align: center;
		
	}

	.temp-contact_page {
		display: block;	
		margin: 30px auto;
		width: 100%;
	}
	.temp-contact_page p {
		padding: 4% 0 1.5% 0;
		text-indent: 6px;
	}

	.temp-contact_page:hover {
		    background-color: #4866fb;	    
	}


	.message-body {
		width: 100%; 
		float:left;
		clear:both; 
	}

	legend { margin:0; }

	input[type="text"], 
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="tel"],
	input[type="search"],
	input[type="number"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	textarea {
		width:100%;
		max-width:40rem;
	}
	input[type="submit"] {width:50%;}

	/*.........FOOTER .......................................*/

	#home footer {
		display: none;
	}
	footer {
		display: none;
		color: #878787;	
		max-width:1125px;
		width: 100%;
		border-top: 1px solid #878787;
		text-align:left;
		zoom: 1; 	
	}
	
	.column {
		width: 50%;
		height: auto;
	}
	.footer-col-3 img {
		max-width: 20%;
		min-width: 17%;
		height: auto;
	    padding: 1% 14% 0 3%;   
    	
	}

	.footer-col-3 img:first-child {
		padding-left: 2px;
	}

	.footer-col-4 {
		padding-top: 0.3rem;
		font-size: 0.7rem;
	}

	.footer ul li {
		margin:0;
		font-size: 1rem;

	}
	.footer-col-1 ul li a, 
	.footer-col-2 ul li a  {
		display: block;
	    padding: 2% 0;
	}
} 

/*Medium screen, retina, stuff to override above media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 651px) and (max-width:1299px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 651px) and (max-width:1299px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 651px) and (max-width:1299px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 651px) and (max-width:1299px),
only screen and (                min-resolution: 192dpi) and (min-width: 651px) and (max-width:1299px),
only screen and (                min-resolution: 2dppx)  and (min-width: 651px) and (max-width:1299px) { 

/*
	
	#carousel {
		display: block;
		visibility: visible;
		background-color: red;
		width: 100%;
	}
	.big-img-container {
		display: block;
		visibility: visible;
		right: 0;
	}

	.big {	
		display: block;
		visibility: visible;
		border: 1px solid blue; 
		width: 100%;
		height: auto;
	}
	nav.menu-top ul li {
		padding: 0;
	}
	.front-row-img {
		max-width: 100%;
		height:60vh;
	/*	border: 1px solid red;*/
	/*}
	.front-row-img img {
		height: 100%;
		width: auto;
	}

	.front-row-img {
		max-width: 100%;
		max-height:60vh;
	}
	.front-row-img img {
		height: 100%;
		width: auto;
	}*/

}
/*--------------------------------------------------------------------------
-----------LARGE------------------------------------------------------------
-------------------------------------------------------------------------- */

@media only screen and (min-width: 1300px )  {
	body {
		padding-top: 0;
	}

	.wrapper  {
		max-width: 1200px;
		min-width: 305px;
		margin:0 auto;
	}
	header {
		display: block;
		position: relative;
		top: -109px;
		width:100%;
		padding-top: 10px;

		margin-bottom: 0;

	}
	.header a img {
		max-width: 30%;

	}
	.hamburger,
	.hamburger a {
		display: none;
	}

	span.menu-toggle {
        display: block;
    }
	nav.menu-top {
		display: flex; 
		flex-direction: column;
		align-items: flex-end;
		border: none;
		position: relative;
		top: 21px;
		right: 0;
		z-index: 0;
		width: 100%;
		background-color: transparent;

	}

	nav.menu-top ul.main-menu {
		margin: 0;
		
	}
	nav.menu-top ul.share {


	}
	nav.menu-top ul.share li {
		padding: 5px;
	}

	nav.menu-top ul.share li a img {
		height: 30px;
	}
	/*.main-menu {
		position: fixed;
	}*/
	nav.menu-side ul {
		font-size: 1rem;
		width:100%;
		margin:0 auto;
	}
	.main-content {
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	  	display: -moz-box;         /*OLD - Firefox 19- (buggy but mostly works)*/ 
	 	display: -ms-flexbox;      /*TWEENER - IE 10 */
	 	display: -webkit-flex;      /*NEW - Chrome */
	  	display: flex;              /*NEW, Spec - Opera 12.1, Firefox 20+ */
		flex-direction: row;
		width:100%;
		height: auto;
		position: relative;
		top: -110px;
	}
	#contact.main-content {
		margin-top:0.28rem;
		margin-bottom:1rem;
	}

	.front-row-img {
		margin: 1rem auto;
	}
	.front-row-img img {
		width: 25%;
	}
	/*........PORTFOLIO LANDING PAGES....................................

	#photography .grid,
	#design .grid,
	#mixedmedia .grid,
	#interactive .grid {
		position: relative;
		top: 0;
		right: 0;
		width: 100%;
		height: auto;
		margin: 1rem auto;
		
	}

	#photography .grid-sizer, 
	#design .grid-sizer,
	#interactive .grid-sizer,
	#mixedmedia .grid-sizer {
		width: 50%;
	}

	#photography .grid-sizer a, 
	#design .grid-sizer a,
	#interactive .grid-sizer a, 
	#mixedmedia .grid-sizer a {
		display: none;
	}

	#photography .grid-sizer a:nth-child(-n+2),
	#design .grid-sizer a:nth-child(-n+2),
	#interactive .grid-sizer a:nth-child(-n+2),
	#mixedmedia .grid-sizer a:nth-child(-n+2) {
		display: block;
	}

	#photography .grid-item,
	#design .grid-item,
	#interactive .grid-item,
	#mixedmedia .grid-item {
		width: 50%;
	}
	#photography .grid-item img,
	#design .grid-item img,
	#interactive .grid-item img,
	#mixedmedia .grid-item img {
		padding: 7px;
	} 
	#interactive .page-location, #mixedmedia .page-location, 
	#photography .page-location, #design .page-location, 
	#portfolio-template .page-location, #project-template .page-location, 
	#exhibitions .page-location, #contact .page-location, #about .page-location,
	#blog .page-location {
		display: block;
	}
	#interactive .page-location p, #mixedmedia .page-location p, 
	#photography .page-location p, #design .page-location p, 
	#portfolio-template .page-location p, #project-template .page-location p, 
	#exhibitions .page-location p,
	#about .page-location p, #blog.page-location p {
		display:none;
		margin-bottom:0;
	}		

	/*.........PROJECT PAGES .......................................*/

	nav.menu-side {
		order: 0;
	}
	nav.menu-side p {
		display: none;
	}
	nav.menu-side button {
	 	display: none;
	}
	#exhibitions .menu-side{
		display: block;
		visibility: hidden;
	}

	#manhome .menu-side ul li:first-child, 
	#truckers .menu-side ul li:first-child,
	#mncooks .menu-side ul li:first-child,
	#submarine .menu-side ul li:first-child,
	#soap .menu-side ul li:first-child,
	#optimiste .menu-side ul li:first-child,
	#mossburn .menu-side ul li:first-child,
	/*design*/
	#mhbook .menu-side ul li:first-child,
	#nzbirds .menu-side ul li:first-child,
	#letters .menu-side ul li:first-child,
	#print-portfolio .menu-side ul li:first-child,
	#d6sunset .menu-side ul li:first-child,
	/*interactive*/
	
	/*mixed media*/ 
	#misunderstood .menu-side ul li:first-child,
	#rigs .menu-side ul li:first-child,
	#prefab .menu-side ul li:first-child,
	#proteus .menu-side ul li:first-child,
	#kansas .menu-side ul li:first-child,
	#weather .menu-side ul li:first-child {
		display: block;
	}

	#carousel {
		display:none;
		position: relative;
		order: 2;
		flex-grow: 2;
		height: 26rem;

	}
	.big {
		width:100%;
		height:600px;
		display:block;
		visibility: visible;
		z-index:1;

	}
	.big-img-container {
		display: block;
		visibility: visible;
		width:100%;
		height:600px;
		margin-left:0;
		margin-top: 0;
		background-size: contain;
		background-repeat: no-repeat;

	}
	.image-info {
		height:40px; 
		width:60%;
		margin-left:0;
		text-align:left;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 0.7rem;
		display: block;
		visibility: hidden;
		color: #878787;

	}
	.image-info p {
		padding:0;
		margin:0;
		display: inline-block;
		padding:10px;
		color: #878787;
	}
	.image-info p:first-child {
		padding-left:0;
	}

	.grid {
		order: 0;
		margin: 1rem 0 0 0 ;
	}

	.grid-sizer,
	.grid-item {
		width: 50%;

	}
	.grid-item img {
		max-width: 100%;
		height: auto;
		padding: 7px;

	}
	.item:hover,
	.grid-item:hover {
		opacity: 1;
	}
	
	.item p {
		display: none;
	}

	.carousel-nav { 
		visibility: hidden;
		display: block;
		order: 4;
		height: auto;
		width: 100%;
		
	}
	/*.statement-body {
		max-width: 80%;
		margin-left: 0;

	}*/
/*
	.statement-title {
		position:relative;
		width:100%;
		margin:1rem 0;
		float:right;
		font-size: 1rem;
		text-indent:0;

	}*/
	/*.statement-body p {*/
		/*display: block;
		visibility: visible;*/
	/*	min-width: 50%;
		max-width: 80%;
		width:100%;
		padding-top: 8px;
		margin:0;
		text-indent: 10px;
		letter-spacing: 0.05rem;*/

	/*}*/

	/*.........ABOUT PAGE .......................................*/
	.about-me {
		max-width: 45%;
		margin: 0;

	}

	
	/*.........CONTACT PAGE.......................................*/

	#contact .page-location,
	#contact .page-location p,
	{
		display:none;
	}

	#contact .contact-img {
		display:block;
		width:45%;
		float:left;
		margin-left:5%;

	}
	#contact .contact-info{
		width:45%;
		margin:1.3rem auto 1rem auto;
		overflow:auto;
	}

	.temp-contact_page {
		display: block;
		margin-top: 200px;
		width: 100%;
	}
	.temp-contact_page p {
		padding: 2% 0 2% 2%;
		text-indent: 4px;
	}
	.temp-contact_page:hover {
		    background-color: #4866fb;    
	}
	div .message-body {
		width: 40%; 
		float:right;
	}
	div .contact-img {
		display: block;
		width:45%;
		margin: 33px 0 0 0;
		height:auto;
		float:left;
	
	}

	input[type="text"], 
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="tel"],
	input[type="search"],
	input[type="number"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="submit"],
	textarea {
		width:100%;
		max-width:50rem;
		
	}
	input[type="submit"] {
		display:block;
		width: 50%;
		max-width:30rem;
	

	}
	label {
		font-size: 1rem;
		display: inline-block;
		
	}
	
	/*------------------------------------------------------------------
	----footer---------------------------------------------------------*/

	footer {
	display: block;	
		font-size: 1rem;
		margin-bottom: 15px;
	}

	.column {
		width:15%; 
	}

	.footer ul li {
		margin:0;

	}
	.footer-col-1 ul li a, .footer-col-2 ul li a  {
		display: block;
	    padding:5% 0;
	}
	.footer-col-3 {
		margin: 0 0 0 36%;
	}

	.footer-col-3 img {
		padding: 9%;
		
	}
	.footer-col-4 {
		padding-top: 0.3rem;
		margin: 0 0 0 4%;
		text-align: center;
		font-size: 0.8rem;
		
	}
} 

