@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300italic,300);

/* logo colors
A #a84420;
M #5f9797; 
Y #8a5cd1;
E #4866fb;
C #099949;
K #98983e;
E #b56618;
R #68b7d5;
T #820064; 
grey #878787;

/*----------------------------------------------------------------------
------- SMALL (MOBILE) ----------------------------------------
----------------------------------------------------------------------*/


@media only screen and (max-width: 650px) { 

	.header {
		// width:90%;
		max-width:90%;
		margin:1em auto 0 auto;a
		border-bottom:1px solid #878787;
	}

	.logo {  
		width:100%;
	 	min-width:200px;
	 	margin: auto;
	 	height:auto; 
	 	
	 }

	.logo img {
		max-width:100%;
		min-width: 45%;
	}
		
	nav .main-menu {
		display:inline-block;
	}
	.main-content {
		right:0;
		top: 0px;
		margin:0 auto 1em auto;
		width: 90%;
		overflow-x: hidden;
	}

	#about p {
	 	padding:0.5em 0 0.5em 0;

	 }
	#photography .page-location,
	#design	.page-location, 
	#interactive .page-location, 
	#mixedmedia .page-location, 
	#exhibitions .page-location {
		display: block;
		margin: 0;
		
	}

	.menu-top {
		display:none;
	 	border-top:none;
	 }


	nav ul li a{
		font-size:1.2em;
	}

	/*.....showing page location in menu..... */

	#photography .navphoto, #design .navdesign, #interactive .navinter, 
	#mixedmedia .navmixed, #about .navabout, #blog .navblog,
	#contact .navcontact, #project-template .navproject {
		border: none;
	}

	#photography .navphoto,#photography .navphoto, #design .navdesign, #interactive .navinter, 
	#mixedmedia .navmixed, #about .navabout, #blog .navblog,
	#contact .navcontact, #project-template .navproject {
		border-top:none;
	}

	/*........POERTFOLIO TITLE VISIBILITY .......*/
	#home .page-location p {
		display: none;
	} 
	#home .grid-sizer {
		width:100%;

	}
	.statement-title {
		margin:0.3em 0 1em 0;
		width:100%;
		
	}

	.project-row, .front-row {
		max-width:100%;
		padding:0;
		margin:1em auto;
		overflow:auto;
	}

	.project-row-img {
		display:block;
		max-width:100%;
		width:100%;
		margin:0 auto;
		padding:0;
	}
	.front-row-img {
		display:block;
		
		margin:0 auto;
		padding:0;

	}
	.front-row-img img, 
	.project-row-img img {
		display:block;
		margin: 0 auto;
		max-width:65%;
		min-width:30%;
	}

	#photography .grid-sizer a,
	#design .grid-sizer a,
	#interactive .grid-sizer a,
	#mixedmedia .grid-sizer a  {
		display: block;
	}


	/*.........PROJECT PAGES .......................................*/
	 #carousel {
	 	max-width: 100%;
		margin: 0 auto;

	 }

	.menu-side ul li {
    display: none;
    width: 100%;
	}

	#manhome .menu-side ul li:first-child, 
	#truckers .menu-side ul li:first-child,
	#mncooks .menu-side ul li:first-child,
	#submarine .menu-side ul li:first-child,
	#soap .menu-side ul li:first-child,
	#optimiste .menu-side ul li:first-child,
	#mossburn .menu-side ul li:first-child,

	/*design*/
	#mhbook .menu-side ul li:first-child,
	#nzbirds .menu-side ul li:first-child,
	#letters .menu-side ul li:first-child,
	#print-portfolio .menu-side ul li:first-child,
	#d6sunset .menu-side ul li:first-child,
	/*interactive*/

	/*mixed media*/ 
	#misunderstood .menu-side ul li:first-child,
	#rigs .menu-side ul li:first-child,
	#prefab .menu-side ul li:first-child,
	#proteus .menu-side ul li:first-child,
	#kansas .menu-side ul li:first-child,
	#weather .menu-side ul li:first-child {
		display: block;
		width:100%;
	}

	/*photography*/
	#manhome .menu-side ul li:nth-child(2),
	#truckers .menu-side ul li:nth-child(3),
	#mncooks .menu-side ul li:nth-child(4),
	#submarine .menu-side ul li:nth-child(5),
	#soap .menu-side ul li:nth-child(6),
	#optimiste .menu-side ul li:nth-child(7),
	#mossburn .menu-side ul li:nth-child(8), 

	/*design*/
	#mhbook .menu-side ul li:nth-child(2),
	#nzbirds .menu-side ul li:nth-child(3),
	#letters .menu-side ul li:nth-child(4),
	#print-portfolio .menu-side ul li:nth-child(5),
	#d6sunset .menu-side ul li:nth-child(5),

	/*interactive*/

	/*mixed media*/
	#misunderstood .menu-side ul li:nth-child(2),
	#rigs .menu-side ul li:nth-child(3),
	#prefab .menu-side ul li:nth-child(4),
	#proteus .menu-side ul li:nth-child(5),
	#kansas .menu-side ul li:nth-child(6),
	#weather .menu-side ul li:nth-child(7) {
		display: block;
		width:100%;
	}

	.big {
		width:100%;
		height: 400px;		
		display: block;
		visibility: visible;
		z-index: 1;
	}

	.big-img-container {
		display: block;
	    visibility: visible;
	    width: 100%;
	    height: 300px;
	    margin-left: 0;
        margin-top: 3.5em;
	    background-size: contain;
	    background-repeat: no-repeat;
	}
	.carousel-nav {
		margin: 15px auto;

	}

	.grid {
		width: 100%;
		margin: -20em 0 0 0;

	}
	#nzbirds .grid {
		margin: -20em 0 0 0;
	}
	.grid-sizer {
		width: 50%;

	}
	.grid-item {
		width: 100%;

	}

	.item p {
		display: none;
	}
	/*.button {
		padding: 12px;
		font-size: 0.7em;
		margin: 0 3px;
	}*/
	.image-info {
		display: none;

	}

	.statement-body {
		display: block;
		width: 90%;
		padding: 15px auto;
		margin: 0 auto;
		font-size: 1em;
		text-indent: 0;
		letter-spacing: 0.05em;

	}
	// #nzbirds .statement-body { margin-top: 3em; }

	/*.........ABOUT PAGE .......................................*/

	.about-me {
		width:100%;
		overflow:hidden;
		min-width:6em;
		margin: 0;
		padding: 0;

	}

	#about .about-me p {
	   font-size:1.2em;
	}
	.about-me p:first-of-type {
		margin-top:0;
	}


	.cv { margin:auto;}

	.cv button {
		padding:4%;
		margin:auto;
		font-size: 0.7em;
		letter-spacing: 0.12em;
	}
	.about-col-2, .clients-r, .clients-l, .awards {
			display:none;

	}
	.commercial-site {
			margin:1.5em 0 1.5em 0;
	}


	/*........CONTACT PAGE ............................................*/

	div .contact-img img {
		display: none;
	}
	.temp-contact_page {
	display: block;	
	margin: 30px auto;
	width: 100%;

	}
	.temp-contact_page p {
		padding: 8% 0 8% 0;
		text-indent: 6px;
	}
 	.temp-contact_page p:last-child {
 		display:none;
 	}
	.temp-contact_page:hover {
		    background-color: #4866fb;	    
	}



	/*......... FOOTER.......................................*/
	.footer {
		width:90%;
		margin: 15px auto 0 auto;
		padding:0;
		border-top:1px solid #878787;
			
	}

	.column {
		width:100%;
		
	}

	.footer-col-1,
	.footer-col-2,
	.footer-col-3 {
		margin: 0;
		width:100%;
	}

	.footer ul li {
			margin:0;

	}

	.footer-col-1 ul li, 
	.footer-col-2 ul li {
		width:100%;
		padding-left:0;
			
	}
	.footer-col-1 ul li a, 
	.footer-col-2 ul li a  {
		display: block;
	    padding:5% 0;
	    width: 100%;
	    height: 100%;
	}			
} 



/*----------------------------------------------------------------------
-------MEDIUM ----------------------------------------
----------------------------------------------------------------------*/


@media only screen and (min-width: 651px) and (max-width:1125px) {

	.wrapper {
		max-width:90%; 
		margin:0 auto;
	}
	.header{
		width:100%; 
		border-bottom:1px solid #878787;
	}
	div.logo {
		width:100%;
		max-width:900px;
		height:auto;
		margin:0;
	}
	
	.logo img {
		max-width: 100%;
	}

	#exhibitions .menu-top, 
	#photography .menu-top,
	#design .menu-top,
	#interactive .menu-top,
	#mixedmedia .menu-top, 
	#about .menu-top, 
	#contact .menu-top, 
	#manhome .menu-top, 
	#truckers .menu-top,
	#mncooks .menu-top,
	#submarine .menu-top,
	#soap .menu-top,
	#optimiste .menu-top,
	#mossburn .menu-top,

	/*design*/
	#mhbook .menu-top,
	#nzbirds .menu-top,
	#letters .menu-top,
	#print-portfolio .menu-top,
	#d6sunset .menu-top,

	/*interactive*/

	/*mixed media*/ 
	#misunderstood .menu-top,
	#rigs .menu-top,
	#prefab .menu-top,
	#proteus .menu-top,
	#kansas .menu-top,
	#weather .menu-top {
		display: none;
	}

	.menu-top ul li:nth-child(5),
	.menu-top ul li:nth-child(6) {
		display: none;
	}
	nav ul li {
		float: none;
	}
	nav ul li a {
		font-size: 1.5em;
	}

	section.main-content {
		position: relative;
		right:0;
		top: 0px;
		margin:0 auto 1em auto;
		width: 100%;
		overflow-x: hidden;
	}

	#exhibitions .main-content, 
	#photography .main-content,
	#design .main-content,
	#interactive .main-content,
	#mixedmedia .main-content {
		position: relative;
		top: 0;
	}
	
	#contact .page-location, 
	#contact .page-location p {
		display: none;

	}
		
	.front-titles, 
	.project-titles {
		width: 100%;
		background-color: white;	
		float: left;
		position: relative; 
		top: 30%;
		color: #878787;
		margin-bottom: 4%;
		font-size:0.9em;

	}
	
	.front-titles p, 
	.project-titles p {
		font-size:0.85em;
		text-align:center;
		margin:0;
		padding:0;
	}
	
	.front-row {
		margin-top: 1em;
	}
	.front-row-img {
		max-width:50%;
		margin: 0 25% 0 40%;
	}
	.front-row-img img {
		min-width: 30%;
		max-width: 75%;
	}
	/*.........PORTFOLIO LANDING PAGES.......................................*/


	.project-row-img {
		min-width: 30%;
		max-width: 75%;

	}

	#photography .grid,
	#design .grid,
	#mixedmedia .grid,
	#interactive .grid {
		position: relative;
		top: 0;
		right: 0;
		max-width: 100%;
		height: auto;
		
	}

	#photography .grid-sizer, 
	#design .grid-sizer,
	#interactive .grid-sizer,
	#mixedmedia .grid-sizer {
		
		width: 50%;
	}



	#photography .grid-item,
	#design .grid-item,
	#interactive .grid-item,
	#mixedmedia .grid-item {
		
		width: 50%;

	}

	#photography .grid-sizer a, 
	#design .grid-sizer a,
	#interactive .grid-sizer a, 
	#mixedmedia .grid-sizer a {
		display: none;
	}

	#photography .grid-sizer a:nth-child(-n+2),
	#design .grid-sizer a:nth-child(-n+2),
	#interactive .grid-sizer a:nth-child(-n+2),
	#mixedmedia .grid-sizer a:nth-child(-n+2) {
		display: block;
	}

	/*.........PROJECT PAGES.......................................*/

	.menu-side {
		position: absolute;
		left: 0;
		top: 0.8em;
		width: 24%;
	}
	#exhibitions .menu-side {
		display:none;
	}

	.menu-side ul li {
		display: block;
		width:100%;
	}
	 /*	 display the "back to... projects" <li> */
	#manhome .menu-side ul li:first-child, 
	#truckers .menu-side ul li:first-child,
	#mncooks .menu-side ul li:first-child,
	#submarine .menu-side ul li:first-child,
	#soap .menu-side ul li:first-child,
	#optimiste .menu-side ul li:first-child,
	#mossburn .menu-side ul li:first-child,

	/*design*/
	#mhbook .menu-side ul li:first-child,
	#nzbirds .menu-side ul li:first-child,
	#letters .menu-side ul li:first-child,
	#print-portfolio .menu-side ul li:first-child,

	/*interactive*/

	/*mixed media*/ 
	#misunderstood .menu-side ul li:first-child,
	#rigs .menu-side ul li:first-child,
	#prefab .menu-side ul li:first-child,
	#proteus .menu-side ul li:first-child,
	#kansas .menu-side ul li:first-child,
	#weather .menu-side ul li:first-child {
		display: none;
		width:100%;
	}

	/*	display the current project */
	/*photography*/
	#manhome .menu-side ul li:nth-child(2),
	#truckers .menu-side ul li:nth-child(3),
	#mncooks .menu-side ul li:nth-child(4),
	#submarine .menu-side ul li:nth-child(5),
	#soap .menu-side ul li:nth-child(6),
	#optimiste .menu-side ul li:nth-child(7),
	#mossburn .menu-side ul li:nth-child(8), 

	/*design*/
	#mhbook .menu-side ul li:nth-child(2),
	#nzbirds .menu-side ul li:nth-child(3),
	#letters .menu-side ul li:nth-child(4),
	#print-portfolio .menu-side ul li:nth-child(5),
	#d6sunset .menu-side li:nth-child(6),

	/*interactive*/

	/*mixed media*/
	#misunderstood .menu-side ul li:nth-child(2),
	#rigs .menu-side ul li:nth-child(3),
	#prefab .menu-side ul li:nth-child(4),
	#proteus .menu-side ul li:nth-child(5),
	#kansas .menu-side ul li:nth-child(6),
	#weather .menu-side ul li:nth-child(7) {
		display: block;
		width:100%;
	}
	 /*................CAROUSEL AREA ................................*/

	#carousel {
		position: relative;
		top: 1em;
		width: 75%;
		height: 600px;
		margin: 0 0 0 25%;
	}

	.big {
		width: 100%;
		height: 750px;
		display: block;
		visibility: visible;
		z-index: 0;	
		position:absolute;
		top: 0;
		right: 0%;
	
	}

	.big-img-container {
	    display: block;
	    visibility: visible;
	    width: 100%;
	    height: 600px;
	    position: absolute;
	    top: 0;
	    right:0;
	    background-size: contain;
	    background-repeat: no-repeat;
	}

	.carousel-nav {
		min-width: 25%;
		/*top: 34%;
		left: 0;*/
	}
	.image-info {
		display: none;
	}
	.statement-title {
		width:100%;
		margin:1em 0 1em 0;
	}

	#nzbirds .statement-body { margin-top: 3em; }

	.statement-body {
		display: block;
		visibility: visible;
		max-width: 70%;
		margin-left: 0;

	}
	
	.statement-body p {
		display: block;
		visibility: visible;
		min-width: 50%;
		max-width: 80%;
		width:100%;
		padding-top: 8px;
		margin:0;
		text-indent: 10px;
		letter-spacing: 0.05em;

	}

	.grid {
		max-width: 100%;
    	margin: 0 auto;
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
	
	}

	#exhibitions .grid {
		top: 447px;
	}

	.grid-sizer,
	.grid-item {
		width: 15%;

	}
	.grid-item img {
		max-width: 100%;
		height: auto;
	}

	.item p {
		display: none;
	}

	/*#exhibitions .thumbs-container {
		margin-top: -30.5em;
	}*/


	/*.........ABOUT PAGE .......................................*/
	.about-me {
		width: 80%;
		margin: 0 auto;
		padding: 0;
	}
	

	/*.........CONTACT PAGE .......................................*/

	div .contact-info {
		width: 75%;
		margin:0;
		
	}
	.temp-contact_page {
	display: block;	
	margin: 30px auto;
	width: 100%;

	}
	.temp-contact_page p {
		padding: 4% 0 1.5% 0;
		text-indent: 6px;
	}

	.temp-contact_page:hover {
		    background-color: #4866fb;	    
	}


	div .message-body {
		width: 100%; 
		float:left;
		clear:both; 
	}
	div .contact-img {
		display: none;
		width:49%;
		height:auto;
		float:right;
		clear:both;
	}

	legend { margin:0; }

	input[type="text"], 
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="tel"],
	input[type="search"],
	input[type="number"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	textarea {
		width:100%;
		max-width:40em;
	}
	input[type="submit"] {width:50%;}

	/*.........FOOTER .......................................*/

	.footer {
		color: #878787;	
		max-width:1125px;
		width:100%;
		margin-top: 10px;
		border-top: 1px solid #878787;
		text-align:left;
		zoom: 1; 	
		font-size:0.5em;
	}

	.column {
		width: 50%;
		height: auto;
	}
	.footer-col-3 img {
		max-width: 20%;
		min-width: 17%;
		height: auto;
	    padding: 3% 10% 0 3%;   
    	
	}

	.footer-col-3 img:first-child {
		padding-left: 2px;
	}

	.footer-col-4 {
		padding-top: 1.2em;
		font-size: 1.4em;
	}
	.footer-col-4 p {
		font-size: 1.2em;
	}

	.footer ul li {
		margin:0;
		font-size: 1.6em;

	}
	.footer-col-1 ul li a, 
	.footer-col-2 ul li a  {
		display: block;
	    padding: 2% 0;
	}
}   






/*--------------------------------------------------------------------------
-----------LARGE-------------------------------------------------------
---------------------------------------------------------------- */ 

@media only screen and (min-width: 1126px )  {

	.wrapper  {
		/*display:flex;
		flex-direction:column;*/
		max-width:1126px;
		min-width:305px;
		margin:0 auto;
		/*min-height: 100vh;*/
	}


	.header {
		/*order:1;*/
		width:100%;
		min-width:300px;
		margin-top: 1em;
		border-bottom: none;
	}

	.logo img {
		border:none;
		width:50%;
	}

	.menu-top {
		display:block; 
		text-align: left;
		border-top: 1px solid #aba787;

	}

	nav ul {
		font-size:0.9em;
		width:100%;
		margin:0 auto;
	}

	section.main-content {
		width:100%;
		height: auto;
		overflow: hidden;
	}

	#contact.main-content {
		margin-top:0.28em;
		margin-bottom:1em;
	}
	/*........PORTFOLIO LANDING PAGES....................................*/

	.front-row {

		/*margin-top: 1em;*/
	}
	/*.front-row-img {
		max-width:50%;
		margin: 0 auto;
	}
	.front-row-img img {
		min-width: 30%;
		max-width: 100%;
		max-height: 100%
	}*/

	/*.project-row-img {
		min-width: 30%;
		max-width: 75%;

	}*/

	#photography .grid,
	#design .grid,
	#mixedmedia .grid,
	#interactive .grid {
		position: relative;
		top: 0;
		right: 0;
		width: 100%;
		height: auto;
		
	}

	#photography .grid-sizer, 
	#design .grid-sizer,
	#interactive .grid-sizer,
	#mixedmedia .grid-sizer {
		
		width: 50%;
	}

	#photography .grid-sizer a, 
	#design .grid-sizer a,
	#interactive .grid-sizer a, 
	#mixedmedia .grid-sizer a {
		display: none;
	}

	#photography .grid-sizer a:nth-child(-n+2),
	#design .grid-sizer a:nth-child(-n+2),
	#interactive .grid-sizer a:nth-child(-n+2),
	#mixedmedia .grid-sizer a:nth-child(-n+2) {
		display: block;
	}

	#photography .grid-item,
	#design .grid-item,
	#interactive .grid-item,
	#mixedmedia .grid-item {
		
		width: 50%;

	}
	#interactive .page-location, #mixedmedia .page-location, 
	#photography .page-location, #design .page-location, 
	#portfolio-template .page-location, #project-template .page-location, 
	#exhibitions .page-location, #contact .page-location, #about .page-location,
	#blog .page-location {
		display:none;
	}
	#interactive .page-location p, #mixedmedia .page-location p, 
	#photography .page-location p, #design .page-location p, 
	#portfolio-template .page-location p, #project-template .page-location p, 
	#exhibitions .page-location p,
	#about .page-location p, #blog.page-location p {
		display:none;
		margin-bottom:0;
	}		

	#photography .grid,
	#design .grid,
	#mixedmedia .grid,
	#interactive {
		width: 100%;
	}

	/*.........PROJECT PAGES .......................................*/

	.menu-side {
		display:block;
		width:25%;
		margin-top: 1em;
	}
	#exhibitions .menu-side{
		display: block;
		visibility: hidden;
	}

	#manhome .menu-side ul li:first-child, 
	#truckers .menu-side ul li:first-child,
	#mncooks .menu-side ul li:first-child,
	#submarine .menu-side ul li:first-child,
	#soap .menu-side ul li:first-child,
	#optimiste .menu-side ul li:first-child,
	#mossburn .menu-side ul li:first-child,
	/*design*/
	#mhbook .menu-side ul li:first-child,
	#nzbirds .menu-side ul li:first-child,
	#letters .menu-side ul li:first-child,
	#print-portfolio .menu-side ul li:first-child,
	#d6sunset .menu-side ul li:first-child,
	/*interactive*/
	
	/*mixed media*/ 
	#misunderstood .menu-side ul li:first-child,
	#rigs .menu-side ul li:first-child,
	#prefab .menu-side ul li:first-child,
	#proteus .menu-side ul li:first-child,
	#kansas .menu-side ul li:first-child,
	#weather .menu-side ul li:first-child {
		display:none;
	}

	#carousel {
		display:none;
		width:75%;
		/*margin-left: 20%;*/
		/*max-height: 100vh;*/
		/*position: relative;*/
		overflow-x: hidden;
		overflow-y: hidden;

	}
	.big {
		width:100%;
		height:600px;
		display:block;
		visibility: visible;
		z-index:1;

	}
	.big-img-container {
		display: block;
		visibility: visible;
		width:100%;
		height:600px;
		margin-left:0;
		margin-top: 0;
		background-size: contain;
		background-repeat: no-repeat;

	}
	.image-info {
		height:40px; 
		width:60%;
		margin-left:0;
		text-align:left;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 0.7em;
		display: block;
		visibility: hidden;
		color: #878787;

	}
	.image-info p {
		padding:0;
		margin:0;
		display: inline-block;
		padding:10px;
		color: #878787;
	}
	.image-info p:first-child {
		padding-left:0;
	}

	.carousel-nav {
		visibility: hidden;
		display: block;
		height: auto;
		width: 52%;
		border-top: 1px solid #68b7d5;
		z-index: 1;
		
	}

	.grid {
		z-index: 1;
		flex-grow: 2;
	
	}

	#photography .grid, 
	#design .grid,
	#interactive .grid,
	#mixedmedia .grid  {
		margin-left: 0;
	}

	.grid-sizer,
	.grid-item {
		width: 15%;

	}
	.grid-item img {
		max-width: 100%;
		height:auto;

	}
	
	.item img:hover{
		opacity:1;

	}
	.item p {
		display:none;
	}


	.statement-body {
		/*display: none;
*/		max-width: 80%;
		margin-left: 0;

	}

/*	#nzbirds .statement-body { margin-top: 3em; }*/

	.statement-title {
		position:relative;
		width:100%;
		margin:1em 0;
		float:right;
		font-size: 1em;
		text-indent:0;

	}

	/*.........ABOUT PAGE .......................................*/
	.about-me {
		max-width: 45%;
		margin: 0;

	}

	
	/*.........CONTACT PAGE.......................................*/

	#contact .page-location,
	#contact .page-location p,
	{
		display:none;
	}

	#contact .contact-img {
		display:block;
		width:45%;
		float:left;
		margin-left:5%;

	}
	#contact .contact-info{
		width:45%;
		margin:1.3em auto 1em auto;
		overflow:auto;
	}

	.temp-contact_page {
	display: block;
	margin-top: 200px;
	width: 100%;
	

	}
	.temp-contact_page p {
		padding: 2% 0 2% 2%;
		text-indent: 4px;
	}

	.temp-contact_page:hover {
		    background-color: #4866fb;    
	}

	div .message-body {
		width: 40%; 
		float:right;
	}

	div .contact-img {
		display: block;
		width:45%;
		margin: 33px 0 0 0;
		height:auto;
		float:left;
		
	}

	input[type="text"], 
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="tel"],
	input[type="search"],
	input[type="number"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="submit"],
	textarea {
		width:100%;
		max-width:50em;
		
	}
	input[type="submit"] {
		display:block;
		width: 50%;
		max-width:30em;
	

	}
	label {
		font-size: 1em;
		display: inline-block;
		
	}
	
	/*------------------------------------------------------------------
	----footer---------------------------------------------------------*/

	.footer {
		order: 3;
		align-self:flex-end;
		color: #878787;
		max-width: 1125px;
		width:100%;
		height:5em;
		border-top: 1px solid #878787;
		text-align:left;
		zoom: 1;	
		font-size: 0.7em;
	}

	.column {
		width:15%; 
	}

	.footer ul li {
		margin:0;
		/*font-size: 1.3em;*/

	}
	.footer-col-1 ul li a, .footer-col-2 ul li a  {
		display: block;
	    padding:5% 0;
	}
	.footer-col-3 {
		margin: 0 0 0 36%;
	}

	.footer-col-3 img {
		padding: 9%;
		
	}
	.footer-col-4 {
		padding-top:2%;
		margin: 0 0 0 4%;
		text-align: center;
		font-size: 0.8em;
		
	}
} 

