/********************
** Vendors
********************/
/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
html, body, div, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote :before, blockquote :after,
q :before, q :after {
  content: "";
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* end reset styles */
/********************
** Partials
********************/
.aspect-ratio-16x9 {
  padding-bottom: ratio(16, 9); }

.aspect-ratio-4x3 {
  padding-bottom: ratio(4, 3); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.clear {
  clear: both;
  margin: 0;
  padding: 0; }

html {
  height: 100vh;
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  margin: 0;
  padding-top: 65px;
  font-family: "Josefin Sans", sans-serif; }
  @media only screen and (min-width: 500px) {
    body {
      padding-top: 70px; } }
  body#contact {
    overflow: hidden; }

.wrapper {
  max-width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap; }
  @media only screen and (min-width: 340px) {
    .wrapper {
      margin: 0 auto;
      min-height: 100vh; } }
  @media only screen and (min-width: 1200px) {
    .wrapper {
      margin: 1% auto; } }

nav ul li a {
  font-size: 1.2rem; }

ul {
  list-style: none; }

img {
  margin: 0;
  padding: 0; }

section {
  height: 100%; }

div, p {
  margin: 0;
  padding: 0; }

button {
  outline: none;
  background-color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 7px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase; }

/* ------------ LINKS-------------------------------*/
a {
  text-decoration: none; }

/* ------------- HEADER -----------------------------*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 1;
  max-width: 100%;
  min-width: 140px;
  height: 110px;
  margin: 0 auto;
  padding: 3% 5% 0 5%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out; }
  @media only screen and (min-width: 340px) {
    header {
      padding: 2% 5% 0 5%; } }
  @media only screen and (min-width: 700px) {
    header {
      height: 70px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  @media only screen and (min-width: 1024px) {
    header {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 100%;
      padding: 1%;
      height: 90px; } }
  header .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%; }
    @media only screen and (min-width: 500px) {
      header .logo {
        width: 75%; } }
    @media only screen and (min-width: 700px) {
      header .logo {
        width: 50%; } }
    @media only screen and (min-width: 1024px) {
      header .logo {
        margin: 0; } }
    @media only screen and (min-width: 1200px) {
      header .logo {
        height: 58px; } }
    header .logo a {
      display: block;
      height: 100%; }
    header .logo img {
      display: block;
      width: 100%; }
      @media only screen and (min-width: 500px) {
        header .logo img {
          width: 80%; } }
      @media only screen and (min-width: 1024px) {
        header .logo img {
          width: 80%;
          margin: 0 auto; } }
      @media only screen and (min-width: 1200px) {
        header .logo img {
          width: 450px;
          margin: 0 0 0 5%; } }
  header .menu-mobile {
    height: 30px;
    width: 100%;
    margin: 5px auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media only screen and (min-width: 340px) {
      header .menu-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        width: 100%; } }
    @media only screen and (min-width: 500px) {
      header .menu-mobile {
        width: 100%; } }
    @media only screen and (min-width: 700px) {
      header .menu-mobile {
        height: 45px;
        width: 50%; } }
    @media only screen and (min-width: 1024px) {
      header .menu-mobile {
        display: none; } }
    header .menu-mobile .page-location {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      margin: 0 10px;
      padding: 5px 0;
      height: 30px;
      min-width: 125px;
      color: #6b6b6b;
      border-left: 1px solid #6b6b6b; }
      @media only screen and (min-width: 700px) {
        header .menu-mobile .page-location {
          padding: 0;
          margin: 0; } }
      header .menu-mobile .page-location p {
        display: block;
        padding: 0 0 0 5px;
        font-size: 1.125rem;
        font-size: 18px;
        text-transform: lowercase; }
    header .menu-mobile a {
      display: block;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      height: 100%;
      float: left;
      height: 30px; }
      @media only screen and (min-width: 700px) {
        header .menu-mobile a {
          height: 30px;
          padding: 0;
          margin: 0 0 0 20px; } }
      header .menu-mobile a .btn-back {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #6b6b6b;
        border-left: 1px solid #6b6b6b;
        padding: 0 0 0 0;
        height: 100%;
        min-width: 125px; }
        @media only screen and (min-width: 700px) {
          header .menu-mobile a .btn-back {
            height: 32px;
            padding: 0 0 0 0; } }
        header .menu-mobile a .btn-back p {
          display: block;
          padding: 0 10px 0 5px;
          font-size: 1.125rem;
          font-size: 18px;
          text-transform: lowercase; }
        header .menu-mobile a .btn-back svg {
          height: 15px; }
    header .menu-mobile .menu-toggle {
      display: block;
      font-size: 1.125rem;
      font-size: 18px;
      color: #6b6b6b;
      height: 100%;
      width: 100%;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      padding: 5px 0 0 0;
      text-align: right;
      text-transform: uppercase; }
      @media only screen and (min-width: 700px) {
        header .menu-mobile .menu-toggle {
          padding: 8px 10px;
          border: none; } }
  header .nav-up {
    top: -3rem; }
  header .nav-down {
    top: 3rem; }

@media only screen and (min-width: 1024px) {
  #about .main-content {
    max-height: 100vh;
    margin-top: 50px;
    overflow: hidden; } }

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 0 0 0 0;
  background-color: #98983e;
  color: #fff; }
  @media only screen and (min-width: 700px) {
    .bio {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .bio .bio-col-half {
    max-width: 100%;
    min-width: 200px;
    padding: 0 30px;
    margin: 0 auto;
    font-size: 1rem;
    letter-spacing: 0.03rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
    @media only screen and (min-width: 340px) {
      .bio .bio-col-half {
        border-left: none; } }
    @media only screen and (min-width: 700px) {
      .bio .bio-col-half {
        width: 50%;
        margin: 0 auto;
        padding: 60px;
        border-left: 1px solid #6b6b6b; } }
    .bio .bio-col-half p {
      line-height: 1.4375rem;
      line-height: 23px;
      margin-bottom: 4%; }
  .bio .col-l {
    border-left: none;
    padding: 30px 30px 0 30px; }
    @media only screen and (min-width: 700px) {
      .bio .col-l {
        padding: 45px; } }
  .bio .col-r {
    border-left: none;
    margin-bottom: 2rem;
    padding: 30px 30px 0 30px; }
    @media only screen and (min-width: 700px) {
      .bio .col-r {
        border-left: 1px solid #fff;
        margin-bottom: 0;
        padding: 45px; } }
  .bio a {
    border-bottom: 1px solid #fff;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .bio a:hover {
      border-bottom: 2px solid #fff; }
    .bio a:visited {
      color: #fff; }
    .bio a span {
      color: #fff; }

.btn-cv {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: block;
  margin: 2rem auto;
  max-width: 90%;
  font-size: 1.1rem;
  text-align: center; }
  .btn-cv .cv-pdf {
    padding: 10px 30px;
    color: #fff;
    border: 1px solid #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .btn-cv .cv-pdf:hover {
      color: #98983e;
      background-color: #fff;
      border-bottom: 1px solid #fff; }
  @media only screen and (min-width: 700px) {
    .btn-cv {
      max-width: 90%;
      -ms-flex-item-align: end;
          align-self: flex-end; } }

.social {
  display: inline-block;
  width: 100%; }
  .social ul {
    width: 100%; }
    .social ul li {
      display: inline-block;
      border: 2px solid #98983e; }
      .social ul li a {
        text-decoration: none;
        border-bottom: none;
        -webkit-transition: border-bottom 0.2s;
        transition: border-bottom 0.2s; }
        .social ul li a:hover {
          border-bottom: 2px solid #fff;
          background-color: #98983e; }
  .social .white {
    width: 40px;
    fill: #fff; }
  .social #instagram-white {
    height: 27px; }
  .social #twitter-white {
    width: 30px;
    margin-left: 5px; }

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  overflow: hidden; }
  @media only screen and (min-width: 340px) {
    .contact-container {
      width: 100%; } }
  @media only screen and (min-width: 700px) {
    .contact-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap; } }
  .contact-container .contact-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
    @media only screen and (min-width: 700px) {
      .contact-container .contact-img {
        width: 100%;
        height: auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    .contact-container .contact-img img {
      width: 100%; }
      @media only screen and (min-width: 700px) {
        .contact-container .contact-img img {
          width: 50%;
          height: 100%; } }
  .contact-container .contact-form {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: block;
    width: 100%; }
    @media only screen and (min-width: 700px) {
      .contact-container .contact-form {
        width: 50%; } }
    .contact-container .contact-form .temp-contact-info {
      display: block;
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      width: 100%;
      vertical-align: middle;
      text-align: center;
      color: #6b6b6b;
      padding: 15px 10px;
      font-size: 0.875rem;
      font-size: 14px;
      line-height: 1.25rem;
      line-height: 20px;
      background-color: transparent;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      .contact-container .contact-form .temp-contact-info:hover {
        background-color: #4866fb;
        color: #fff; }
      .contact-container .contact-form .temp-contact-info:active {
        background-color: #4866fb;
        color: #fff; }
      @media only screen and (min-width: 700px) {
        .contact-container .contact-form .temp-contact-info {
          font-size: 1.125rem;
          font-size: 18px;
          line-height: 1.5625rem;
          line-height: 25px;
          margin-top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%); } }

form {
  display: none;
  width: 100%;
  position: absolute; }
  @media only screen and (min-width: 700px) {
    form {
      top: 0;
      right: 0;
      width: 100%;
      margin: 0 auto; } }
  form fieldset {
    border: none;
    width: 100%;
    color: #6b6b6b; }
    @media only screen and (min-width: 700px) {
      form fieldset {
        width: 90%;
        margin: 0 auto; } }
    form fieldset.contact {
      padding-bottom: 0; }
    form fieldset.contact-message {
      padding-top: 0; }
    form fieldset legend {
      margin-bottom: 15px; }
    form fieldset label {
      padding-bottom: 5px; }
  form input[type="text"],
  form input[type="email"],
  form input[type="search"],
  form input[type="number"],
  form textarea {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    margin-bottom: 19px;
    width: 100%;
    max-width: 40rem;
    padding: 10px;
    background-color: transparent;
    color: #6b6b6b;
    border: 1px solid #6b6b6b;
    font-size: 1.125rem;
    font-size: 18px; }
    @media only screen and (min-width: 700px) {
      form input[type="text"],
      form input[type="email"],
      form input[type="search"],
      form input[type="number"],
      form textarea {
        padding: 7px; } }
  form textarea {
    margin-bottom: 15px;
    height: 5rem; }
    @media only screen and (min-width: 700px) {
      form textarea {
        height: 4rem; } }
  form input[type="text"]:focus,
  form input[type="email"]:focus,
  form textarea:focus {
    background: transparent;
    border-color: #099949;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline-color: #98983e;
    outline-style: solid; }
  form input[type="submit"] {
    width: 90%;
    border-radius: 0;
    border-style: none;
    padding: 10px;
    margin: 1rem auto;
    background-color: #98983e;
    outline-color: #98983e;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem; }
    @media only screen and (min-width: 700px) {
      form input[type="submit"] {
        width: 50%;
        max-width: 40rem; } }
  form input[type="submit"]:hover {
    border-radius: 0;
    color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: 1px solid #98983e;
    font-size: 1rem; }

.footer-top {
  display: block;
  width: 100%; }
  @media only screen and (min-width: 700px) {
    .footer-top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row nowrap;
              flex-direction: row nowrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .footer-top .share {
    display: block;
    width: 100%;
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }
    @media only screen and (min-width: 700px) {
      .footer-top .share {
        width: 200px;
        border-left: 1px solid #6b6b6b;
        height: 30px; } }
    .footer-top .share ul {
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      @media only screen and (min-width: 700px) {
        .footer-top .share ul {
          height: 30px; } }
      .footer-top .share ul a {
        display: block;
        height: 100%;
        width: 100%; }
        .footer-top .share ul a svg {
          height: 30px;
          width: 30px;
          padding: 2px; }
        @media only screen and (min-width: 700px) {
          .footer-top .share ul a {
            max-height: 25px; } }
  .footer-top .copyright-notice {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
    width: 100%;
    margin: 25px auto;
    color: #6b6b6b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-top .copyright-notice .copyright {
      width: 60%;
      margin: 0 auto;
      text-align: center;
      font-size: 0.875rem;
      font-size: 14px; }
      @media only screen and (min-width: 700px) {
        .footer-top .copyright-notice .copyright {
          text-align: left;
          margin: 0; } }
    @media only screen and (min-width: 700px) {
      .footer-top .copyright-notice {
        height: 30px; } }

#home {
  overflow: hidden; }
  #home .main-content {
    overflow: hidden;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100vh;
    overflow: hidden; }
    @media only screen and (min-width: 1024px) {
      #home .main-content {
        min-height: 100vh; } }
    #home .main-content .front-img-container {
      display: block;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 100%;
      height: 100vh;
      margin-top: 10px; }
      @media only screen and (min-width: 700px) {
        #home .main-content .front-img-container {
          margin-top: 40px; } }
      @media only screen and (min-width: 1024px) {
        #home .main-content .front-img-container {
          margin-top: 20px; } }
      @media only screen and (min-width: 1200px) {
        #home .main-content .front-img-container {
          margin-top: 0; } }
      #home .main-content .front-img-container img {
        width: 70vw;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        margin-left: 50%; }
        @media only screen and (min-width: 700px) {
          #home .main-content .front-img-container img {
            width: 60vw; } }
        @media only screen and (min-width: 1024px) {
          #home .main-content .front-img-container img {
            width: 33vw; } }
        @media only screen and (min-width: 1200px) {
          #home .main-content .front-img-container img {
            width: 25vw; } }

.main-content {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  height: auto;
  margin: 40px auto; }
  @media only screen and (min-width: 700px) {
    .main-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      height: auto;
      margin-top: 10px; } }
  @media only screen and (min-width: 1024px) {
    .main-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; } }
  .main-content .project-name {
    min-width: 200px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: block;
    margin: 5px 0;
    color: #6b6b6b;
    text-transform: capitalize;
    font-size: 1.125rem;
    font-size: 18px; }
    @media only screen and (min-width: 700px) {
      .main-content .project-name {
        margin: 0 0 0 0; } }

.grid {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 0 0; }
  .grid:after {
    content: '';
    display: block;
    clear: both; }
  @media only screen and (min-width: 1024px) {
    .grid {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      float: right;
      margin-right: 0;
      width: 100%; } }
  .grid .grid-sizer {
    width: 100%;
    height: auto; }
    @media only screen and (min-width: 700px) {
      .grid .grid-sizer {
        width: 100%; } }
    .grid .grid-sizer .grid-item {
      float: left;
      width: 100%;
      height: auto;
      margin-bottom: 5px; }
      @media only screen and (min-width: 700px) {
        .grid .grid-sizer .grid-item {
          float: none;
          width: 33.333%;
          margin-bottom: -10px; } }
      .grid .grid-sizer .grid-item a {
        height: 100%;
        display: block; }
      .grid .grid-sizer .grid-item img {
        width: 100%;
        height: auto; }
      .grid .grid-sizer .grid-item figcaption {
        color: #fff;
        display: none; }
        .grid .grid-sizer .grid-item figcaption p {
          color: #fff;
          display: none; }
      .grid .grid-sizer .grid-item .project-title {
        visibility: visible;
        display: block;
        opacity: 0;
        -webkit-transition: opacity 0.2s ease-in;
        transition: opacity 0.2s ease-in; }
        .grid .grid-sizer .grid-item .project-title p {
          display: block;
          position: absolute;
          top: 40%;
          left: 50%;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%);
          color: #fff;
          text-transform: uppercase;
          font-size: 1.5625rem;
          font-size: 25px; }
          .grid .grid-sizer .grid-item .project-title p a {
            text-align: right;
            display: block;
            letter-spacing: 0.7px; }
            .grid .grid-sizer .grid-item .project-title p a:visited {
              color: #6b6b6b; }
            .grid .grid-sizer .grid-item .project-title p a:active, .grid .grid-sizer .grid-item .project-title p a:hover {
              color: #099949;
              border-bottom: 1px solid #099949; }
      .grid .grid-sizer .grid-item:hover .project-title {
        display: block;
        visibility: visible;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: #099949;
        opacity: 0.97; }
        .grid .grid-sizer .grid-item:hover .project-title .show-caption {
          display: block;
          color: #fff; }

#interactive .interactive-project {
  display: block;
  margin: 10px 0;
  font-size: 1rem;
  font-size: 16px; }
  #interactive .interactive-project .show-caption {
    display: block;
    color: #6b6b6b;
    padding: 0 10px;
    line-height: 1.25rem;
    line-height: 20px; }
    #interactive .interactive-project .show-caption a {
      text-align: right;
      display: block;
      font-size: 1.125rem;
      font-size: 18px;
      letter-spacing: 0.7px;
      color: #6b6b6b;
      border-bottom: 1px solid #fff;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      padding-left: 10px; }
      #interactive .interactive-project .show-caption a:visited {
        color: #6b6b6b; }
      #interactive .interactive-project .show-caption a:active, #interactive .interactive-project .show-caption a:hover {
        color: #099949;
        border-bottom: 1px solid #099949; }

.grid:after {
  content: '';
  display: block;
  clear: both; }

/*---------------------- CAROUSEL -------------------*/
.carousel {
  display: none; }
  @media only screen and (min-width: 700px) {
    .carousel {
      display: none;
      -webkit-box-ordinal-group: 6;
          -ms-flex-order: 5;
              order: 5;
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      margin-bottom: 5px; } }
  @media only screen and (min-width: 1024px) {
    .carousel {
      display: none;
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto; } }
  .carousel .big {
    display: none; }
    @media only screen and (min-width: 700px) {
      .carousel .big {
        display: block;
        width: 100%; } }
    .carousel .big .big-img-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      visibility: visible;
      width: 100%;
      height: 60vh;
      margin-left: 0;
      margin-top: 0;
      background-size: contain;
      background-repeat: no-repeat; }
    .carousel .big .image-info {
      clear: both;
      -ms-flex-item-align: end;
          align-self: flex-end;
      display: block;
      visibility: visible;
      color: #6b6b6b;
      font-size: 0.9375rem;
      font-size: 15px;
      visibility: visible;
      height: 40px;
      width: 100%;
      margin-left: 0;
      text-align: left; }
      @media only screen and (min-width: 700px) {
        .carousel .big .image-info {
          height: 30px;
          margin-top: 10px; } }
      .carousel .big .image-info p {
        display: inline-block;
        margin: 0;
        padding: 10px; }
        .carousel .big .image-info p:first-child {
          padding-left: 0; }

.carousel-nav {
  display: none; }
  @media only screen and (min-width: 700px) {
    .carousel-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 35px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-ordinal-group: 7;
          -ms-flex-order: 6;
              order: 6;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch; } }
  .carousel-nav button {
    display: inline-block;
    font-size: 1.875rem;
    font-size: 30px;
    color: #6b6b6b;
    padding: 0 10px;
    line-height: 1.5625rem;
    line-height: 25px; }
  .carousel-nav .thumbs-only {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0; }
    .carousel-nav .thumbs-only svg {
      display: inline-block;
      height: 25px; }
    @media only screen and (min-width: 1024px) {
      .carousel-nav .thumbs-only #thumbnails-icon {
        height: 30px; } }
  .carousel-nav .previous {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .carousel-nav .next {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }

.about {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
  font-size: 1.125rem;
  font-size: 18px;
  max-width: 25%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  color: #6b6b6b;
  border-left: 1px solid #6b6b6b;
  text-transform: lowercase; }
  @media only screen and (min-width: 700px) {
    .about {
      height: 35px;
      margin: 0; } }
  .about p {
    padding: 0 10px 0 5px; }

.modal-on {
  overflow: hidden; }

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .modal-container:after {
    content: "";
    position: absolute;
    background-color: #8a5cd1;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .modal-container .modal {
    background-color: #fff;
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
    top: 57%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: left;
    z-index: 2; }
    @media only screen and (min-width: 340px) {
      .modal-container .modal {
        width: 80%;
        top: 50%; } }
    @media only screen and (min-width: 700px) {
      .modal-container .modal {
        width: 55%; } }
    @media only screen and (min-width: 1024px) {
      .modal-container .modal {
        top: 40%; } }
    @media only screen and (min-width: 1200px) {
      .modal-container .modal {
        width: 40%; } }
    .modal-container .modal .modal-header {
      height: 15px;
      width: 90%;
      margin: 0 auto;
      position: relative;
      border-radius: 20px; }
      @media only screen and (min-width: 700px) {
        .modal-container .modal .modal-header {
          height: 40px; } }
      @media only screen and (min-width: 1200px) {
        .modal-container .modal .modal-header {
          height: 30px; } }
      .modal-container .modal .modal-header .close {
        color: #6b6b6b;
        position: absolute;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-size: 12px;
        right: 0;
        top: 0; }
        @media only screen and (min-width: 700px) {
          .modal-container .modal .modal-header .close {
            padding: 12px; } }
    .modal-container .modal .modal-content {
      width: 100%;
      padding: 0 0 1rem 0; }
    .modal-container .modal .statement-body {
      width: 90%;
      margin: 0 auto;
      text-align: left;
      font-size: 0.8rem;
      background-color: #fff;
      color: #6b6b6b; }
      @media only screen and (min-width: 700px) {
        .modal-container .modal .statement-body {
          width: 80%; } }
      @media only screen and (min-width: 1024px) {
        .modal-container .modal .statement-body {
          width: 75%; } }
      .modal-container .modal .statement-body p {
        letter-spacing: 0.02rem;
        line-height: 1.375rem;
        line-height: 22px;
        margin: 1rem auto; }
        @media only screen and (min-width: 700px) {
          .modal-container .modal .statement-body p {
            letter-spacing: 0;
            font-size: 1.125rem;
            font-size: 18px;
            line-height: 1.5rem;
            line-height: 24px; } }
      .modal-container .modal .statement-body span {
        border-bottom: 1px solid #6b6b6b;
        color: #6b6b6b;
        text-decoration: none; }
        .modal-container .modal .statement-body span:hover {
          color: #b56618;
          border-bottom: 1px solid #b56618; }
        .modal-container .modal .statement-body span a:hover {
          color: #b56618; }

.options-menu-horizontal {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  display: none;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 3; }
  .options-menu-horizontal .footer-nav {
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0; }
    .options-menu-horizontal .footer-nav ul {
      width: 100%;
      padding: 0 0 0 0; }
      .options-menu-horizontal .footer-nav ul li {
        height: 2.5rem;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        @media only screen and (min-width: 700px) {
          .options-menu-horizontal .footer-nav ul li {
            height: 2.7rem; } }
        .options-menu-horizontal .footer-nav ul li:first-child {
          background-color: #b56618; }
        .options-menu-horizontal .footer-nav ul li:nth-child(2) {
          background-color: #5f9797; }
        .options-menu-horizontal .footer-nav ul li:nth-child(3) {
          background-color: #8a5cd1; }
        .options-menu-horizontal .footer-nav ul li:nth-child(4) {
          background-color: #4866fb; }
        .options-menu-horizontal .footer-nav ul li:nth-child(5) {
          background-color: #099949; }
        .options-menu-horizontal .footer-nav ul li:nth-child(6) {
          background-color: #98983e; }
        .options-menu-horizontal .footer-nav ul li:nth-child(7) {
          background-color: #68b7d5; }
        .options-menu-horizontal .footer-nav ul li a {
          display: block;
          width: 100%;
          height: 100%;
          color: #fff;
          text-decoration: none;
          font-size: 0.875rem;
          font-size: 14px;
          padding-top: 1rem; }
          @media only screen and (min-width: 340px) {
            .options-menu-horizontal .footer-nav ul li a {
              font-size: 1rem;
              font-size: 16px;
              padding-top: 1rem; } }
          @media only screen and (min-width: 1024px) {
            .options-menu-horizontal .footer-nav ul li a {
              font-size: 1.25rem;
              font-size: 20px;
              padding-top: 1rem; } }

.header-nav {
  display: none; }
  @media only screen and (min-width: 1024px) {
    .header-nav {
      display: block;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      width: 50%;
      height: 57px; } }
  @media only screen and (min-width: 1300px) {
    .header-nav {
      width: 40%; } }
  @media only screen and (min-width: 1024px) {
    .header-nav ul {
      height: 100%;
      width: 100%;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }
  @media only screen and (min-width: 1024px) {
    .header-nav ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0;
      height: 100%; } }
  @media only screen and (min-width: 1024px) {
    .header-nav ul li a {
      display: block;
      height: 100%;
      padding: 20px 5px;
      font-size: 0.875rem;
      font-size: 14px;
      border-bottom: 1px solid #6b6b6b;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; } }
  .header-nav ul li a:visited {
    color: #6b6b6b; }
  .header-nav ul li a:hover {
    color: #fff; }

.nav-design a:hover {
  background-color: #5f9797;
  border-bottom: 1px solid #5f9797; }

.nav-interactive a:hover {
  background-color: #b56618;
  border-bottom: 1px solid #b56618; }

.nav-photo a:hover {
  background-color: #8a5cd1;
  border-bottom: 1px solid #8a5cd1; }

.nav-mixed a:hover {
  background-color: #4866fb;
  border-bottom: 1px solid #4866fb; }

.nav-about a:hover {
  background-color: #98983e;
  border-bottom: 1px solid #98983e; }

.nav-contact a:hover {
  background-color: #099949;
  border-bottom: 1px solid #099949; }

#design .nav-design a,
#letters .nav-design a,
#nzbirds .nav-design a,
#d6sunset .nav-design a,
#print-portfolio .nav-design a,
#interactive .nav-interactive a,
#perfect .nav-interactive a,
#photography .nav-photo a,
#truckers .nav-photo a,
#manhome .nav-photo a,
#mncooks .nav-photo a,
#submarine .nav-photo a,
#soap .nav-photo a,
#optimiste .nav-photo a,
#mossburn .nav-photo a,
#mixedmedia .nav-mixed a,
#prefab .nav-mixed a,
#weather .nav-mixed a,
#misunderstood .nav-mixed a,
#proteus .nav-mixed a,
#rigs .nav-mixed a,
#kansas .nav-mixed a,
#about .nav-about a,
#contact .nav-contact a {
  border-bottom: none; }

#video .main-content {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background: #fff;
  min-height: 100vh;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  #video .main-content .video-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    @media only screen and (min-width: 700px) {
      #video .main-content .video-item {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        width: 50%; } }
    #video .main-content .video-item .project-name {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      margin: 1rem;
      text-transform: none; }
  #video .main-content .video-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    margin: 0 0 2rem 0;
    /* This css is only applied when fullscreen is active. */ }
    #video .main-content .video-container .video-container:-webkit-full-screen {
      max-width: none;
      width: 100%; }
    #video .main-content .video-container .video-container:-moz-full-screen {
      max-width: none;
      width: 100%; }
    #video .main-content .video-container .video-container:-ms-fullscreen {
      max-width: none;
      width: 100%; }
    #video .main-content .video-container .video-container:fullscreen {
      max-width: none;
      width: 100%; }
    #video .main-content .video-container .video-container:-webkit-full-screen {
      max-width: none;
      width: 100%; }
    #video .main-content .video-container .video {
      width: 100%;
      height: 100%; }

.video__controls > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.video__controls {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: -60px;
  width: 100%;
  opacity: 1;
  -webkit-transition: bottom .3s;
  transition: bottom .3s;
  background: black; }
  .video__controls:hover {
    bottom: 0; }
  .video__controls .progress {
    -webkit-box-flex: 10;
        -ms-flex: 10;
            flex: 10;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 15px;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
    background: black;
    cursor: ew-resize; }
    .video__controls .progress .progress__filled {
      width: 100%;
      background: #68b7d5;
      -webkit-box-flex: 0;
          -ms-flex: 0;
              flex: 0;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }
  .video__controls .time {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    color: #6b6b6b;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .video__controls .time p {
      padding: 5px;
      color: #fff;
      font-size: 0.875rem;
      font-size: 14px; }
  .video__controls .toggle {
    background: none;
    border: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 20px;
            flex: 1 0 20px;
    color: #fff;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer; }
    .video__controls .toggle:focus {
      border-color: #68b7d5; }
  .video__controls .video__volume {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .video__controls .video__volume svg {
      height: 20px; }
    .video__controls .video__volume .video__slider {
      -webkit-box-flex: 2;
          -ms-flex: 2;
              flex: 2; }
  .video__controls .skip {
    background: none;
    border: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    color: #fff;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    font-size: 0.9375rem;
    font-size: 15px; }
  .video__controls .video__fullscreen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: none;
    border: none; }
    .video__controls .video__fullscreen svg {
      height: 20px; }

.flex-iframe-container {
  height: auto;
  overflow: hidden; }
  .flex-iframe-container iframe {
    width: 100%;
    height: auto; }

/* unholy css to style input type="range" */
input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  width: 50%;
  margin: 0 5px; }
  input[type=range]:focus {
    outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px transparent, 0 0 1px rgba(13, 13, 13, 0);
          box-shadow: 1px 1px 1px transparent, 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0); }

input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 0 transparent, 0 0 0 rgba(13, 13, 13, 0);
          box-shadow: 0 0 0 transparent, 0 0 0 rgba(13, 13, 13, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #68b7d5;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }

input[type=range]:focus::-wefbkit-slider-runnable-track {
  background: #68b7d5; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px transparent, 0 0 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0); }

input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0 transparent, 0 0 0 rgba(13, 13, 13, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #68b7d5;
  cursor: pointer; }

a.click-whole-box {
  position: absolute;
  z-index: 777;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none !important; }
