/********************
** Vendors
********************/
/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Quattrocento");
html, body, div, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote :before, blockquote :after,
q :before, q :after {
  content: "";
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* end reset styles */
/********************
** Partials
********************/
.aspect-ratio-16x9 {
  padding-bottom: ratio(16, 9); }

.aspect-ratio-4x3 {
  padding-bottom: ratio(4, 3); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  height: 100vh;
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  font-family: "Quattrocento", serif; }

nav ul li a {
  font-size: 1rem; }

ul {
  list-style: none; }

img {
  margin: 0;
  padding: 0; }

section {
  height: 100%; }

div,
p {
  margin: 0;
  padding: 0; }

p {
  margin-bottom: 1rem; }

/* ------------ LINKS-------------------------------*/
a {
  text-decoration: none;
  color: #14171a; }

.wrapper {
  margin: 0 auto;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap; }
  @media only screen and (min-width: 340px) {
    .wrapper {
      margin: 0 auto; } }

button {
  outline: none;
  background-color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 7px 5px 7px 10px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase; }

.btn-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #2a3037;
  border-left: 1px solid #2a3037;
  padding: 0 0 0 0;
  height: 100%;
  min-width: 125px; }
  @media only screen and (min-width: 768px) {
    .btn-back {
      height: 32px;
      padding: 0 0 0 0; } }
  .btn-back p {
    display: block;
    padding: 0 10px 0 5px;
    text-transform: lowercase; }
  .btn-back svg {
    height: 15px; }

.page_project .project_header,
.page_case-study .project_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.page_project .project_title,
.page_case-study .project_title {
  display: block;
  font-family: "Quattrocento", serif;
  -ms-grid-column-span: col-5;
  -ms-grid-column: col-2;
      grid-column: col-2/span col-5; }

.page_project .project_header-info,
.page_case-study .project_header-info {
  text-align: right;
  width: 3.75rem; }

.page_project .open-statement,
.page_case-study .open-statement {
  color: #2a3037;
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
  padding-top: 1.8rem;
  cursor: pointer; }

.page_project .carousel-nav,
.page_case-study .carousel-nav {
  display: block; }
  .page_project .carousel-nav .thumbs-only,
  .page_case-study .carousel-nav .thumbs-only {
    height: 40px;
    width: 84%; }

#interactive .interactive-project {
  display: block;
  margin: 10px 0; }
  #interactive .interactive-project .show-caption {
    display: block;
    color: #2a3037;
    padding: 0 10px; }
    #interactive .interactive-project .show-caption a {
      text-align: right;
      display: block;
      letter-spacing: 0.7px;
      color: #2a3037;
      border-bottom: 1px solid #fff;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      padding-left: 10px; }
      #interactive .interactive-project .show-caption a:visited {
        color: #2a3037; }
      #interactive .interactive-project .show-caption a:active, #interactive .interactive-project .show-caption a:hover {
        color: #099949;
        border-bottom: 1px solid #099949; }

.modal-on {
  overflow: hidden; }

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .modal-container:after {
    content: '';
    position: absolute;
    background-color: #fff;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .modal-container .modal {
    background-color: #e8e8e8;
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
    top: 57%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    text-align: left;
    z-index: 2;
    padding: 1rem; }
    @media only screen and (min-width: 340px) {
      .modal-container .modal {
        width: 80%;
        top: 50%; } }
    @media only screen and (min-width: 768px) {
      .modal-container .modal {
        width: 55%; } }
    @media only screen and (min-width: 1024px) {
      .modal-container .modal {
        top: 40%;
        padding: 2rem; } }
    @media only screen and (min-width: 1200px) {
      .modal-container .modal {
        width: 40%;
        top: 45%;
        padding: 3rem; } }
    .modal-container .modal .modal-header {
      height: 15px;
      width: 90%;
      margin: 0 auto;
      position: relative;
      margin-bottom: 1rem; }
      @media only screen and (min-width: 768px) {
        .modal-container .modal .modal-header {
          height: 40px; } }
      @media only screen and (min-width: 1200px) {
        .modal-container .modal .modal-header {
          height: 35px; } }
      .modal-container .modal .modal-header .close {
        color: #14171a;
        width: 5.4rem;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        background-color: transparent;
        text-transform: capitalize;
        font-size: 1rem;
        font-style: italic; }
        @media only screen and (min-width: 768px) {
          .modal-container .modal .modal-header .close {
            padding: 12px; } }
        .modal-container .modal .modal-header .close .icon-close {
          position: absolute;
          top: 30%;
          right: 0;
          height: 15px;
          width: 15px; }
    .modal-container .modal .modal-content {
      width: 100%;
      padding: 0 0 1rem 0; }

.statement-body {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  font-size: 0.8rem;
  background-color: #fff;
  color: #2a3037; }
  @media only screen and (min-width: 768px) {
    .statement-body {
      width: 80%; } }
  @media only screen and (min-width: 1024px) {
    .statement-body {
      width: 75%; } }
  .statement-body p {
    letter-spacing: 0.02rem;
    margin: 1rem auto; }
    @media only screen and (min-width: 768px) {
      .statement-body p {
        letter-spacing: 0; } }
  .statement-body span {
    border-bottom: 1px solid #2a3037;
    color: #2a3037;
    text-decoration: none; }
    .statement-body span:hover {
      color: #b56618;
      border-bottom: 1px solid #b56618; }
    .statement-body span a:hover {
      color: #b56618; }

#manhome .project-name {
  padding-top: 7px; }

#manhome .open-statement {
  display: none; }
  @media only screen and (min-width: 768px) {
    #manhome .open-statement {
      display: block;
      max-width: 25%;
      height: 35px;
      padding: 7px 20px 0 20px;
      color: #2a3037;
      border-left: 1px solid #2a3037;
      text-transform: lowercase; } }

@media only screen and (min-width: 768px) {
  #manhome .modal-container .modal {
    top: 55%;
    overflow: scroll;
    height: 715px;
    width: 60%; } }
  @media only screen and (min-width: 768px) and (min-width: 1024px) {
    #manhome .modal-container .modal {
      width: 75%;
      height: 600px; } }

@media only screen and (min-width: 768px) {
    #manhome .modal-container .modal .statement-body-modal {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      width: 100%;
      margin: 0 auto;
      -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      color: #2a3037; }
      #manhome .modal-container .modal .statement-body-modal p {
        line-height: 1.3;
        margin-bottom: 1.2rem; }
        #manhome .modal-container .modal .statement-body-modal p em {
          font-style: italic; } }
    @media only screen and (min-width: 768px) and (min-width: 768px) {
      #manhome .modal-container .modal .statement-body-modal {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap; } }

@media only screen and (min-width: 768px) {
      #manhome .modal-container .modal .statement-body-modal .statement-col-left {
        width: 75%; } }
      @media only screen and (min-width: 768px) and (min-width: 768px) {
        #manhome .modal-container .modal .statement-body-modal .statement-col-left {
          width: 40%;
          margin: 0 auto; } }

@media only screen and (min-width: 768px) {
      #manhome .modal-container .modal .statement-body-modal .statement-col-right {
        width: 75%; } }
      @media only screen and (min-width: 768px) and (min-width: 768px) {
        #manhome .modal-container .modal .statement-body-modal .statement-col-right {
          width: 40%;
          margin: 0 auto; } }

.bio {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  padding: 0 0 0 0;
  color: #14171a; }
  @media only screen and (min-width: 768px) {
    .bio {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .bio .bio-col-half {
    max-width: 100%;
    min-width: 200px;
    padding: 0 30px;
    margin: 0 auto;
    font-size: 1rem;
    letter-spacing: 0.03rem;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
    @media only screen and (min-width: 340px) {
      .bio .bio-col-half {
        border-left: none; } }
    @media only screen and (min-width: 768px) {
      .bio .bio-col-half {
        width: 50%;
        margin: 0 auto;
        padding: 60px;
        border-left: 1px solid #2a3037; } }
    .bio .bio-col-half p {
      margin-bottom: 4%; }
  .bio .col-l {
    border-left: none;
    padding: 30px 30px 0 30px; }
    @media only screen and (min-width: 768px) {
      .bio .col-l {
        padding: 45px; } }
  .bio .col-r {
    border-left: none;
    margin-bottom: 2rem;
    padding: 30px 30px 0 30px; }
    @media only screen and (min-width: 768px) {
      .bio .col-r {
        border-left: 1px solid #fff;
        margin-bottom: 0;
        padding: 45px; } }

.cv-pdf {
  padding: 10px 30px;
  color: #14171a;
  border: 1px solid #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .cv-pdf:hover {
    background-color: #fff;
    border-bottom: 1px solid #fff; }

@media only screen and (min-width: 768px) {
  max-width: 90%;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.social {
  display: inline-block;
  width: 100%; }
  .social ul {
    width: 100%; }
    .social ul li {
      display: inline-block;
      border: 2px solid #98983e; }
      .social ul li a {
        text-decoration: none;
        border-bottom: none;
        -webkit-transition: border-bottom 0.2s;
        transition: border-bottom 0.2s; }
        .social ul li a:hover {
          border-bottom: 2px solid #fff;
          background-color: #98983e; }
  .social .white {
    width: 40px;
    fill: #fff; }
  .social #instagram-white {
    height: 27px; }
  .social #twitter-white {
    width: 30px;
    margin-left: 5px; }

.project-row.grid .grid-sizer .grid-item {
  width: 100%; }

#video .main-content .video-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }
  @media only screen and (min-width: 1024px) {
    #video .main-content .video-item {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      max-width: 50%; } }
  #video .main-content .video-item .project-name {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0.5rem;
    text-transform: none;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      #video .main-content .video-item .project-name {
        margin: 1rem; } }

#video .main-content .video-container {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  margin: 0;
  /* This css is only applied when fullscreen is active. */ }
  @media only screen and (min-width: 768px) {
    #video .main-content .video-container {
      margin: 0 0 2rem 0; } }
  #video .main-content .video-container .video-container:-webkit-full-screen {
    max-width: none;
    width: 100%; }
  #video .main-content .video-container .video-container:-moz-full-screen {
    max-width: none;
    width: 100%; }
  #video .main-content .video-container .video-container:-ms-fullscreen {
    max-width: none;
    width: 100%; }
  #video .main-content .video-container .video-container:fullscreen {
    max-width: none;
    width: 100%; }
  #video .main-content .video-container .video-container:-webkit-full-screen {
    max-width: none;
    width: 100%; }
  #video .main-content .video-container .video {
    width: 100%;
    height: 100%; }

.video__controls > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.video__controls {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: -60px;
  width: 100%;
  opacity: 1;
  -webkit-transition: bottom .3s;
  transition: bottom .3s;
  background: black; }
  .video__controls:hover {
    bottom: 0; }
  .video__controls .progress {
    -webkit-box-flex: 10;
        -ms-flex: 10;
            flex: 10;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 15px;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
    background: black;
    cursor: ew-resize; }
    .video__controls .progress .progress__filled {
      width: 100%;
      background: #68b7d5;
      -webkit-box-flex: 0;
          -ms-flex: 0;
              flex: 0;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }
  .video__controls .time {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    color: #2a3037;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .video__controls .time p {
      padding: 5px;
      color: #fff; }
  .video__controls .toggle {
    background: none;
    border: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 20px;
            flex: 1 0 20px;
    color: #fff;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer; }
    .video__controls .toggle:focus {
      border-color: #68b7d5; }
  .video__controls .video__volume {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2; }
    .video__controls .video__volume svg {
      height: 20px; }
    .video__controls .video__volume .video__slider {
      -webkit-box-flex: 2;
          -ms-flex: 2;
              flex: 2; }
    @media only screen and (min-width: 768px) {
      .video__controls .video__volume {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1; } }
  .video__controls .skip {
    background: none;
    border: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    color: #fff;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer; }
  .video__controls .video__fullscreen {
    max-width: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: none;
    border: none; }
    @media only screen and (min-width: 768px) {
      .video__controls .video__fullscreen {
        max-width: 30px; } }
    .video__controls .video__fullscreen svg {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 20px;
      visibility: hidden; }
      @media only screen and (min-width: 768px) {
        .video__controls .video__fullscreen svg {
          height: 20px;
          visibility: visible; } }

.flex-iframe-container {
  height: auto;
  overflow: hidden; }
  .flex-iframe-container iframe {
    width: 100%;
    height: auto; }

/* unholy css to style input type="range" */
input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  width: 50%;
  margin: 0 5px; }
  input[type=range]:focus {
    outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0); }

input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #68b7d5;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }

input[type=range]:focus::-wefbkit-slider-runnable-track {
  background: #68b7d5; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0); }

input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #68b7d5;
  cursor: pointer; }

a.click-whole-box {
  position: absolute;
  z-index: 777;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none !important; }

.center {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto; }

.clear {
  clear: both;
  margin: 0;
  padding: 0; }

.img-left {
  padding-right: 0.5rem; }

.img-middle {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.img-right {
  padding-left: 0.5rem; }

.italic {
  font-style: italic; }

.font-small {
  font-size: 0.9rem; }

.h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  color: #14171a; }

.h1 {
  font-size: 3rem;
  margin-bottom: 2rem; }

.h2 {
  font-size: 2.3rem;
  margin-bottom: 1.5rem; }

.h3 {
  font-size: 1.5rem;
  margin-bottom: 1.3rem; }

.h4 {
  font-size: 1.3rem; }

.h5 {
  font-size: 1.1rem; }

.logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 55px;
  color: #14171a; }

blockquote {
  font-style: italic;
  max-width: 75%;
  color: #2a3037;
  font-size: 1.5rem; }

cite,
.label {
  font-style: italic;
  font-size: 0.9rem;
  color: #2a3037; }

a {
  border-bottom: 1px solid #14171a;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: #14171a;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  a:hover {
    border-bottom: 5px solid #fa584c; }
  a:visited {
    color: #2a3037; }
  a span {
    color: #14171a; }

.section {
  width: 100%;
  margin: 0 auto 2rem; }
  @media only screen and (min-width: 340px) {
    .section {
      max-width: 340px; } }
  @media only screen and (min-width: 768px) {
    .section {
      max-width: 768px; } }
  @media only screen and (min-width: 1024px) {
    .section {
      max-width: 1024px; } }
  @media only screen and (min-width: 1200px) {
    .section {
      max-width: 1200px; } }
  @media only screen and (min-width: 1500px) {
    .section {
      max-width: 1500px; } }

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [col-1] 20% [col-2] 20% [col-3] 20% [col-4] 20% [col-5] 20%;
      grid-template-columns: [col-1] 20% [col-2] 20% [col-3] 20% [col-4] 20% [col-5] 20%;
  -ms-grid-rows: [row-1] 20% [row-2] 20% [row-3] 20% [row-4] 20% [row-5] 20%;
      grid-template-rows: [row-1] 20% [row-2] 20% [row-3] 20% [row-4] 20% [row-5] 20%;
  grid-template-areas: 'header  header  header  header  header' 'far-left main main main far-right' 'far-left main main main far-right' 'far-left main main main far-right' 'footer footer footer footer footer'; }

.main-content {
  -ms-grid-column-span: col-5;
  -ms-grid-column: col-2;
      grid-column: col-2/span col-5;
  -ms-grid-row-span: row-6;
  -ms-grid-row: row-3;
      grid-row: row-3/span row-6; }
  .main-content .page_content {
    -ms-grid-column-span: col-5;
    -ms-grid-column: col-2;
        grid-column: col-2 / span col-5; }

.header {
  background-color: #fff;
  background-color: transparent;
  grid-area: header;
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
  margin-bottom: 5rem;
  height: 8rem;
  margin-right: 3rem;
  margin-left: 3rem; }
  .header .nav {
    display: block;
    height: 100%;
    font-family: "Josefin Sans", sans-serif;
    z-index: 2;
    -ms-grid-row-span: row-5;
    -ms-grid-row: row-2;
        grid-row: row-2/span row-5; }
    .header .nav a {
      font-size: 1.3rem;
      color: #14171a;
      padding: 0.5rem;
      text-decoration: none;
      background-color: transparent;
      border-bottom: 2px solid transparent;
      -webkit-transition: border-bottom 0.3s ease-in-out;
      transition: border-bottom 0.3s ease-in-out; }
      .header .nav a:hover {
        border-bottom: 10px solid #fa584c; }
  .header .nav_main {
    -ms-grid-column: col-1;
        grid-column: col-1; }
  .header .nav_secondary {
    -ms-grid-column: col-5;
        grid-column: col-5;
    text-align: right; }
  .header .nav_level-1 .nav_link--level-1 a:first-child {
    display: block;
    height: 2rem;
    width: 100%; }
  .header .has-sub-nav {
    position: relative; }
    .header .has-sub-nav .nav_level-2 {
      display: none; }
    .header .has-sub-nav:hover .nav_level-2 {
      display: block;
      position: absolute;
      top: 0;
      left: 12rem;
      background-color: #fa584c;
      border-radius: 0.5rem;
      width: 19rem;
      padding: 1rem; }
      .header .has-sub-nav:hover .nav_level-2 a:hover {
        font-style: italic; }
  .header .logo {
    display: block;
    text-align: center;
    padding-top: 6%;
    -ms-grid-column: col-3;
        grid-column: col-3;
    -ms-grid-row-span: row-5;
    -ms-grid-row: row-2;
        grid-row: row-2/span row-5;
    justify-self: center; }
  .header .menu-mobile {
    height: 30px;
    width: 100%;
    margin: 5px auto;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media only screen and (min-width: 340px) {
      .header .menu-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        width: 100%; } }
    @media only screen and (min-width: 500px) {
      .header .menu-mobile {
        width: 100%; } }
    @media only screen and (min-width: 768px) {
      .header .menu-mobile {
        height: 45px;
        width: 50%; } }
    @media only screen and (min-width: 1024px) {
      .header .menu-mobile {
        display: none; } }
    .header .menu-mobile .page-location {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      margin: 0 10px;
      padding: 5px 0;
      height: 30px;
      min-width: 125px;
      color: #2a3037;
      border-left: 1px solid #2a3037; }
      @media only screen and (min-width: 768px) {
        .header .menu-mobile .page-location {
          padding: 0;
          margin: 0; } }
      .header .menu-mobile .page-location p {
        display: block;
        padding: 0 0 0 5px;
        text-transform: lowercase; }
    .header .menu-mobile a {
      display: block;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      height: 100%;
      float: left;
      height: 30px; }
      @media only screen and (min-width: 768px) {
        .header .menu-mobile a {
          height: 30px;
          padding: 0;
          margin: 0 0 0 20px; } }
    .header .menu-mobile .menu-toggle {
      display: block;
      color: #2a3037;
      height: 100%;
      width: 100%;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      padding: 5px 0 0 0;
      text-align: right;
      text-transform: uppercase; }
      @media only screen and (min-width: 768px) {
        .header .menu-mobile .menu-toggle {
          padding: 8px 10px;
          border: none; } }
  .header .nav-up {
    top: -3rem; }
  .header .nav-down {
    top: 3rem; }

.breadcrumbs {
  -ms-grid-column: col-1;
      grid-column: col-1;
  -ms-grid-row: row-3;
      grid-row: row-3;
  height: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .breadcrumbs .nav_level-2 {
    font-family: "Josefin Sans", sans-serif;
    color: #2a3037;
    text-decoration: none; }
    .breadcrumbs .nav_level-2 a {
      border-bottom: none; }
      .breadcrumbs .nav_level-2 a:hover {
        border: none; }
    .breadcrumbs .nav_level-2 .breadcrumbs-item {
      margin-bottom: 0.675rem; }
      .breadcrumbs .nav_level-2 .breadcrumbs-item a {
        display: block;
        border-bottom: 1px solid transparent;
        height: 1.3rem;
        margin-left: 1rem; }
        .breadcrumbs .nav_level-2 .breadcrumbs-item a:hover {
          border-bottom: 8px solid #fa584c; }
    .breadcrumbs .nav_level-2 .breadcrumbs-item--top {
      font-style: italic;
      margin-bottom: 1rem;
      margin-top: 13.4rem; }

#thumbnails-icon {
  height: 25px; }
  #thumbnails-icon .cls-1 {
    fill: #2a3037;
    -webkit-transition: fill 0.2s ease-in-out;
    transition: fill 0.2s ease-in-out; }
  #thumbnails-icon:hover .cls-1 {
    fill: #fa584c; }

.follow_icon--instagram,
.follow_icon--linkedin,
.follow_icon--github {
  height: 100%;
  width: 100%; }
  .follow_icon--instagram .cls-1,
  .follow_icon--linkedin .cls-1,
  .follow_icon--github .cls-1 {
    fill: #2a3037;
    -webkit-transition: fill 0.2s ease-in-out;
    transition: fill 0.2s ease-in-out; }
  .follow_icon--instagram:hover .cls-1,
  .follow_icon--linkedin:hover .cls-1,
  .follow_icon--github:hover .cls-1 {
    fill: #fa584c; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 1rem;
  font-family: "Josefin Sans", sans-serif;
  border-top: 1px solid #2a3037;
  height: 14rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row nowrap;
  flex-direction: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-right: 3rem;
  padding-left: 3rem; }
  .footer .nav_link--level-1 {
    margin-bottom: 0.2rem; }
    .footer .nav_link--level-1 a {
      display: block;
      height: 2rem;
      width: 100%;
      padding: 0.5rem;
      font-size: 1.3rem;
      color: #14171a;
      text-decoration: none;
      background-color: transparent;
      border-bottom: 2px solid transparent;
      -webkit-transition: border-bottom 0.3s ease-in-out;
      transition: border-bottom 0.3s ease-in-out; }
      .footer .nav_link--level-1 a:hover {
        border-bottom: 10px solid #fa584c; }
  .footer p {
    margin-bottom: 0; }
  .footer .follow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-bottom: 0.4rem; }
    .footer .follow .follow_icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: block;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      width: 60%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0;
      margin: 0 auto; }
      @media only screen and (min-width: 768px) {
        .footer .follow .follow_icon {
          height: 2rem; } }
      .footer .follow .follow_icon .follow_icon-link {
        display: block;
        height: 2rem;
        width: auto;
        -webkit-transition: none;
        transition: none;
        border-bottom: none;
        padding: 0;
        margin-right: 1rem;
        transition: none; }
        .footer .follow .follow_icon .follow_icon-link:hover {
          border-bottom: none;
          background-color: transparent; }
  .footer .copyright-notice {
    width: 100%;
    margin: 0 auto;
    color: #2a3037;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media only screen and (min-width: 768px) {
      .footer .copyright-notice {
        height: 1.2rem; } }
    .footer .copyright-notice .copyright {
      text-align: center; }
      @media only screen and (min-width: 768px) {
        .footer .copyright-notice .copyright {
          text-align: left;
          margin: 0; } }
  .footer .nav_footer--two,
  .footer .nav_footer--three {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer .nav_footer--two {
    text-align: right; }

.headline-block_section {
  -ms-grid-column-span: col-5;
  -ms-grid-column: col-2;
      grid-column: col-2/span col-5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 4rem;
  padding-bottom: 1rem;
  height: auto; }
  .headline-block_section .headline-block_headline,
  .headline-block_section .headline-block_text {
    width: 48%; }
  .headline-block_section .headline-block_headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.headline-block_line {
  border-top: 1px solid #2a3037;
  opacity: 0.7;
  width: 75%;
  margin-bottom: 3rem; }

.headline-block_section--about {
  height: auto;
  display: none; }

.text-block_section {
  margin: 2rem 0 4rem 0; }

.image-block_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  margin: 2rem 0; }
  .image-block_section figure {
    width: 100%; }
    .image-block_section figure img {
      width: 100%; }
    .image-block_section figure figcaption {
      font-style: italic;
      color: #2a3037;
      font-size: 0.9rem; }

.image-block_section--half figure {
  width: 50%; }

.image-block_section--thirds figure {
  width: 33.3%; }

.image-block_section--text {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .image-block_section--text figure {
    width: 48%; }
  .image-block_section--text .image-block_text {
    width: 48%; }

.gallery_section {
  /*---------------------- CAROUSEL -------------------*/ }
  .gallery_section .grid {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 0 0 0; }
    .gallery_section .grid:after {
      content: '';
      display: block;
      clear: both; }
    .gallery_section .grid .statement-mobile {
      display: block;
      max-width: 90%;
      margin: 1.5rem auto 1rem auto;
      color: #2a3037;
      font-size: 1.2rem;
      line-height: 1.2; }
      @media only screen and (min-width: 768px) {
        .gallery_section .grid .statement-mobile {
          display: none; } }
      .gallery_section .grid .statement-mobile p {
        margin-bottom: 1.2rem; }
    @media only screen and (min-width: 1024px) {
      .gallery_section .grid {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        float: right;
        margin-right: 0;
        width: 100%; } }
    .gallery_section .grid .grid-sizer {
      width: 100%;
      height: auto;
      margin-bottom: 0; }
      @media only screen and (min-width: 768px) {
        .gallery_section .grid .grid-sizer {
          width: 100%; } }
      .gallery_section .grid .grid-sizer .grid-item {
        width: 100%;
        height: auto;
        margin-bottom: 0;
        cursor: pointer; }
        @media only screen and (min-width: 768px) {
          .gallery_section .grid .grid-sizer .grid-item {
            float: none;
            width: 33.333%; } }
        .gallery_section .grid .grid-sizer .grid-item .grid-item_image {
          width: 100%;
          height: auto;
          padding: 0; }
        .gallery_section .grid .grid-sizer .grid-item .grid-item_details--project {
          opacity: 0;
          -webkit-transition: opacity 0.2s ease-in;
          transition: opacity 0.2s ease-in; }
          .gallery_section .grid .grid-sizer .grid-item .grid-item_details--project p {
            display: none; }
        .gallery_section .grid .grid-sizer .grid-item:hover .grid-item_details--project {
          display: block;
          color: #fff;
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 100%;
          background-color: #099949;
          opacity: 0.87; }
          .gallery_section .grid .grid-sizer .grid-item:hover .grid-item_details--project .grid-item_link {
            display: block;
            height: 100%;
            width: 100%;
            border: none; }
          .gallery_section .grid .grid-sizer .grid-item:hover .grid-item_details--project .grid-item_title {
            display: block;
            position: absolute;
            top: 40%;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 700; }
        .gallery_section .grid .grid-sizer .grid-item .grid-item_details--single {
          display: none; }
  .gallery_section .carousel {
    display: none;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .gallery_section .carousel {
        display: none;
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        margin-bottom: 5px; } }
    @media only screen and (min-width: 1024px) {
      .gallery_section .carousel {
        display: none;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto; } }
    .gallery_section .carousel .big {
      display: none; }
      @media only screen and (min-width: 768px) {
        .gallery_section .carousel .big {
          display: block;
          width: 100%; } }
      .gallery_section .carousel .big .big-img-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        visibility: visible;
        width: 100%;
        height: 60vh;
        margin-left: 0;
        margin-top: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
      .gallery_section .carousel .big .image-info {
        clear: both;
        -ms-flex-item-align: end;
        align-self: flex-end;
        display: block;
        visibility: visible;
        color: #2a3037;
        visibility: visible;
        height: 40px;
        width: 100%;
        margin-left: 0;
        text-align: left; }
        @media only screen and (min-width: 768px) {
          .gallery_section .carousel .big .image-info {
            height: 30px;
            margin-top: 10px; } }
        .gallery_section .carousel .big .image-info p {
          display: inline-block;
          margin: 0;
          padding: 10px; }
          .gallery_section .carousel .big .image-info p:first-child {
            padding-left: 0; }
    .gallery_section .carousel .previous,
    .gallery_section .carousel .next {
      height: 75px;
      width: 75px;
      position: absolute;
      top: 50%; }
      .gallery_section .carousel .previous img,
      .gallery_section .carousel .next img {
        width: 100%;
        height: 100%; }
    .gallery_section .carousel .previous {
      left: -95px; }
    .gallery_section .carousel .next {
      right: -95px; }
  .gallery_section .carousel-nav {
    display: none; }
    @media only screen and (min-width: 768px) {
      .gallery_section .carousel-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 35px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch; } }
    .gallery_section .carousel-nav button {
      display: inline-block;
      color: #2a3037;
      padding: 0 10px; }
    .gallery_section .carousel-nav .thumbs-only {
      padding: 0; }
      .gallery_section .carousel-nav .thumbs-only svg {
        display: inline-block;
        height: 25px; }
      @media only screen and (min-width: 1024px) {
        .gallery_section .carousel-nav .thumbs-only #thumbnails-icon {
          height: 30px; } }

form {
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  color: #2a3037; }
  form .form_item {
    margin-bottom: 0.5rem; }
    form .form_item input[type='text'],
    form .form_item input[type='email'],
    form .form_item textarea {
      width: 100%;
      padding: 1rem;
      background-color: transparent;
      color: #2a3037;
      border: 1px solid #2a3037;
      -webkit-box-shadow: none;
      box-shadow: none;
      font-family: "Josefin Sans", sans-serif;
      font-size: 1rem;
      margin-bottom: 1.2rem; }
      form .form_item input[type='text']:hover, form .form_item input[type='text']:active, form .form_item input[type='text']:focus,
      form .form_item input[type='email']:hover,
      form .form_item input[type='email']:active,
      form .form_item input[type='email']:focus,
      form .form_item textarea:hover,
      form .form_item textarea:active,
      form .form_item textarea:focus {
        outline: 2px solid #2a3037; }
    form .form_item textarea {
      min-height: 9.3rem;
      margin-bottom: 1rem; }
      @media only screen and (min-width: 768px) {
        form .form_item textarea {
          height: 4rem; } }
  form .form_item--btn input[type='submit'] {
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
    background-color: #b8a800;
    color: #14171a;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1rem 3rem;
    outline: none;
    border: 3px solid #fff;
    border-radius: 0.5rem; }
    form .form_item--btn input[type='submit']:hover {
      border: 3px solid #b8a800;
      cursor: pointer;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 0.5rem; }
  form label {
    color: #2a3037; }
  form .is-required label {
    display: block;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-right: 0.8rem; }
    form .is-required label::after {
      position: absolute;
      top: 0;
      right: 0;
      content: '*';
      color: #fa584c;
      font-size: 1.5rem; }
