/********************
** Vendors
********************/
/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
html, body, div, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote :before, blockquote :after,
q :before, q :after {
  content: "";
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* end reset styles */
/********************
** Partials
********************/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.clear {
  clear: both;
  margin: 0;
  padding: 0; }

html {
  height: 100vh;
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  margin: 0;
  padding-top: 55px;
  font-family: "Josefin Sans", sans-serif; }
  @media only screen and (min-width: 700px) {
    body {
      padding-top: 70px; } }
  body#contact {
    overflow: hidden; }

.wrapper {
  max-width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap; }
  @media only screen and (min-width: 340px) {
    .wrapper {
      margin: 0 auto;
      min-height: 100vh; } }
  @media only screen and (min-width: 1200px) {
    .wrapper {
      margin: 1% auto; } }

nav ul li a {
  font-size: 1.2rem; }

ul {
  list-style: none; }

img {
  margin: 0;
  padding: 0; }

section {
  height: 100%; }

div, p {
  margin: 0;
  padding: 0; }

button {
  outline: none;
  background-color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 7px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase; }

/* ------------ LINKS-------------------------------*/
a {
  text-decoration: none; }

/* ------------- HEADER -----------------------------*/
header {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 1;
  max-width: 100%;
  min-width: 140px;
  height: 90px;
  margin: 0 auto;
  padding: 3% 5% 0 5%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out; }
  @media only screen and (min-width: 340px) {
    header {
      height: 3rem;
      padding: 2% 5% 0 5%;
      height: 100px; } }
  @media only screen and (min-width: 700px) {
    header {
      height: 70px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  @media only screen and (min-width: 1024px) {
    header {
      width: 100%;
      padding: 2% 5%; } }
  @media only screen and (min-width: 1200px) {
    header {
      padding: 0;
      height: 90px; } }
  header .logo {
    -webkit-box-flex: 2;
        -ms-flex: 2 1 auto;
            flex: 2 1 auto;
    width: 90%;
    margin: 0 auto 5px auto;
    display: block; }
    @media only screen and (min-width: 340px) {
      header .logo {
        margin: 0 auto 15px auto; } }
    @media only screen and (min-width: 500px) {
      header .logo {
        width: 65%; } }
    @media only screen and (min-width: 700px) {
      header .logo {
        margin: 0; } }
    @media only screen and (min-width: 1200px) {
      header .logo {
        width: 50%;
        margin: 0.8% 3.5%; } }
    header .logo img {
      width: 100%; }
      @media only screen and (min-width: 340px) {
        header .logo img {
          width: 90%; } }
      @media only screen and (min-width: 700px) {
        header .logo img {
          width: 100%; } }
  header .menu-mobile {
    height: 30px;
    width: 100%;
    position: relative;
    margin: 15px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (min-width: 340px) {
      header .menu-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        width: 100%; } }
    @media only screen and (min-width: 700px) {
      header .menu-mobile {
        margin: 0 auto;
        height: 32px; } }
    @media only screen and (min-width: 1200px) {
      header .menu-mobile {
        height: 40px;
        margin-right: 5%; } }
    header .menu-mobile .page-location {
      display: block;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      margin: 0 15px 15px 0;
      padding: 0 0 0 0;
      color: #6b6b6b;
      height: 100%;
      border-left: 1px solid #6b6b6b; }
      @media only screen and (min-width: 700px) {
        header .menu-mobile .page-location {
          height: 30px;
          padding: 0 0 0 0;
          margin: 0 0 0 20px; } }
      header .menu-mobile .page-location p {
        display: block;
        padding: 5px 0 0 5px;
        font-size: 1.125rem;
        font-size: 18px;
        text-transform: lowercase; }
    header .menu-mobile a {
      display: block;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      height: 100%; }
      @media only screen and (min-width: 340px) {
        header .menu-mobile a {
          height: 90%; } }
      @media only screen and (min-width: 700px) {
        header .menu-mobile a {
          height: 30px;
          padding: 0;
          margin: 0 0 0 20px; } }
      header .menu-mobile a .btn-back {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #6b6b6b;
        border-left: 1px solid #6b6b6b;
        padding: 0 0 0 0;
        height: 100%; }
        @media only screen and (min-width: 700px) {
          header .menu-mobile a .btn-back {
            height: 32px;
            padding: 0 0 0 0; } }
        header .menu-mobile a .btn-back p {
          display: block;
          padding: 0 10px 0 5px;
          font-size: 1.125rem;
          font-size: 18px;
          text-transform: lowercase; }
        header .menu-mobile a .btn-back svg {
          height: 15px; }
    header .menu-mobile .menu-toggle {
      display: block;
      font-size: 1.125rem;
      font-size: 18px;
      color: #6b6b6b;
      height: 100%;
      width: 30%;
      position: absolute;
      top: 7px;
      right: 0;
      text-align: right;
      text-transform: uppercase; }
      @media only screen and (min-width: 340px) {
        header .menu-mobile .menu-toggle {
          top: 5px; } }
      @media only screen and (min-width: 700px) {
        header .menu-mobile .menu-toggle {
          padding: 8px 10px;
          top: 0;
          border: none; } }
      @media only screen and (min-width: 1200px) {
        header .menu-mobile .menu-toggle {
          height: 40px;
          padding: 20px 0 0 0; } }
  header .nav-up {
    top: -3rem; }
  header .nav-down {
    top: 3rem; }

.bio {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 0 0 0 0;
  background-color: #b56618;
  color: #fff; }
  @media only screen and (min-width: 700px) {
    .bio {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap; } }
  .bio .bio-col-half {
    max-width: 100%;
    min-width: 200px;
    padding: 0 30px;
    margin: 0 auto;
    font-size: 1rem;
    letter-spacing: 0.03rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
    @media only screen and (min-width: 340px) {
      .bio .bio-col-half {
        border-left: none; } }
    @media only screen and (min-width: 700px) {
      .bio .bio-col-half {
        width: 50%;
        margin: 0 auto;
        padding: 60px;
        border-left: 1px solid #6b6b6b; } }
    .bio .bio-col-half p {
      line-height: 1.4375rem;
      line-height: 23px;
      margin-bottom: 4%; }
  .bio .col-l {
    border-left: none;
    padding: 30px 30px 0 30px; }
    @media only screen and (min-width: 700px) {
      .bio .col-l {
        padding: 45px; } }
  .bio .col-r {
    border-left: none;
    margin-bottom: 2rem; }
    @media only screen and (min-width: 700px) {
      .bio .col-r {
        border-left: 1px solid #fff;
        padding: 45px;
        margin-bottom: 0; } }
  .bio a {
    border-bottom: 1px solid #fff;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .bio a:hover {
      border-bottom: 2px solid #fff; }
    .bio a:visited {
      color: #fff; }
    .bio a span {
      color: #fff; }

.btn-cv {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: block;
  margin: 2rem auto;
  max-width: 90%;
  font-size: 1.1rem;
  text-align: center; }
  .btn-cv .cv-pdf {
    padding: 10px 30px;
    color: #fff;
    border: 1px solid #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .btn-cv .cv-pdf:hover {
      color: #b56618;
      background-color: #fff;
      border-bottom: 1px solid #fff; }
  @media only screen and (min-width: 700px) {
    .btn-cv {
      max-width: 90%;
      -ms-flex-item-align: end;
          align-self: flex-end; } }

.social {
  display: inline-block;
  width: 100%; }
  .social ul {
    width: 100%; }
    .social ul li {
      display: inline-block;
      border: 2px solid #b56618; }
      .social ul li a {
        text-decoration: none;
        border-bottom: none;
        -webkit-transition: border-bottom 0.2s;
        transition: border-bottom 0.2s; }
        .social ul li a:hover {
          border-bottom: 2px solid #fff;
          background-color: #b56618; }
  .social .white {
    width: 40px;
    fill: #fff; }
  .social #instagram-white {
    height: 27px; }
  .social #twitter-white {
    width: 30px;
    margin-left: 5px; }

.copyright-notice {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
  width: 90%;
  margin: 25px auto;
  color: #6b6b6b;
  font-size: 0.875rem;
  font-size: 14px;
  text-align: center; }

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  overflow: hidden; }
  @media only screen and (min-width: 340px) {
    .contact-container {
      width: 100%; } }
  @media only screen and (min-width: 700px) {
    .contact-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap; } }
  .contact-container .contact-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
    @media only screen and (min-width: 700px) {
      .contact-container .contact-img {
        width: 100%;
        height: auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    .contact-container .contact-img img {
      width: 100%; }
      @media only screen and (min-width: 700px) {
        .contact-container .contact-img img {
          width: 50%;
          height: 100%; } }
  .contact-container .contact-form {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: block;
    width: 100%; }
    @media only screen and (min-width: 700px) {
      .contact-container .contact-form {
        width: 50%; } }
    .contact-container .contact-form .temp-contact-info {
      display: block;
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      width: 100%;
      vertical-align: middle;
      text-align: center;
      color: #6b6b6b;
      padding: 15px 10px;
      font-size: 0.875rem;
      font-size: 14px;
      line-height: 1.25rem;
      line-height: 20px;
      background-color: transparent;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      .contact-container .contact-form .temp-contact-info:hover {
        background-color: #4866fb;
        color: #fff; }
      .contact-container .contact-form .temp-contact-info:active {
        background-color: #4866fb;
        color: #fff; }
      @media only screen and (min-width: 700px) {
        .contact-container .contact-form .temp-contact-info {
          font-size: 1.125rem;
          font-size: 18px;
          line-height: 1.5625rem;
          line-height: 25px;
          margin-top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%); } }

form {
  display: none;
  width: 100%;
  position: absolute; }
  @media only screen and (min-width: 700px) {
    form {
      top: 0;
      right: 0;
      width: 100%;
      margin: 0 auto; } }
  form fieldset {
    border: none;
    width: 100%;
    color: #6b6b6b; }
    @media only screen and (min-width: 700px) {
      form fieldset {
        width: 90%;
        margin: 0 auto; } }
    form fieldset.contact {
      padding-bottom: 0; }
    form fieldset.contact-message {
      padding-top: 0; }
    form fieldset legend {
      margin-bottom: 15px; }
    form fieldset label {
      padding-bottom: 5px; }
  form input[type="text"],
  form input[type="email"],
  form input[type="search"],
  form input[type="number"],
  form textarea {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    margin-bottom: 19px;
    width: 100%;
    max-width: 40rem;
    padding: 10px;
    background-color: transparent;
    color: #6b6b6b;
    border: 1px solid #6b6b6b;
    font-size: 1.125rem;
    font-size: 18px; }
    @media only screen and (min-width: 700px) {
      form input[type="text"],
      form input[type="email"],
      form input[type="search"],
      form input[type="number"],
      form textarea {
        padding: 7px; } }
  form textarea {
    margin-bottom: 15px;
    height: 5rem; }
    @media only screen and (min-width: 700px) {
      form textarea {
        height: 4rem; } }
  form input[type="text"]:focus,
  form input[type="email"]:focus,
  form textarea:focus {
    background: transparent;
    border-color: #099949;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline-color: #98983e;
    outline-style: solid; }
  form input[type="submit"] {
    width: 90%;
    border-radius: 0;
    border-style: none;
    padding: 10px;
    margin: 1rem auto;
    background-color: #98983e;
    outline-color: #98983e;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem; }
    @media only screen and (min-width: 700px) {
      form input[type="submit"] {
        width: 50%;
        max-width: 40rem; } }
  form input[type="submit"]:hover {
    border-radius: 0;
    color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: 1px solid #98983e;
    font-size: 1rem; }

.footer {
  display: block;
  width: 100%; }

#home {
  overflow: hidden; }
  #home .main-content {
    overflow: hidden;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100vh; }
    @media only screen and (min-width: 1024px) {
      #home .main-content {
        min-height: 100vh; } }
    #home .main-content .front-img-container {
      display: block;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 100%;
      height: 100vh;
      margin-top: 10px; }
      @media only screen and (min-width: 700px) {
        #home .main-content .front-img-container {
          margin-top: 40px; } }
      @media only screen and (min-width: 1024px) {
        #home .main-content .front-img-container {
          margin-top: 20px; } }
      @media only screen and (min-width: 1200px) {
        #home .main-content .front-img-container {
          margin-top: 0; } }
      #home .main-content .front-img-container img {
        width: 70vw;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        margin-left: 50%; }
        @media only screen and (min-width: 700px) {
          #home .main-content .front-img-container img {
            width: 60vw; } }
        @media only screen and (min-width: 1024px) {
          #home .main-content .front-img-container img {
            width: 33vw; } }
        @media only screen and (min-width: 1200px) {
          #home .main-content .front-img-container img {
            width: 25vw; } }

.main-content {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  height: 100vh;
  margin: 35px auto; }
  @media only screen and (min-width: 700px) {
    .main-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      height: auto;
      margin-top: 10px; } }
  @media only screen and (min-width: 1024px) {
    .main-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; } }
  .main-content .project-name {
    min-width: 200px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: block;
    margin: 15px 0;
    color: #6b6b6b;
    text-transform: capitalize;
    font-size: 1.125rem;
    font-size: 18px; }
    @media only screen and (min-width: 700px) {
      .main-content .project-name {
        margin: 0 0 0 0; } }

.grid {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 0 0; }
  .grid:after {
    content: '';
    display: block;
    clear: both; }
  @media only screen and (min-width: 1024px) {
    .grid {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      float: right;
      margin-right: 0;
      width: 100%; } }
  .grid .grid-sizer {
    width: 100%;
    height: auto; }
    @media only screen and (min-width: 700px) {
      .grid .grid-sizer {
        width: 100%; } }
    .grid .grid-sizer .grid-item {
      float: left;
      width: 100%;
      height: auto;
      margin-bottom: 5px; }
      @media only screen and (min-width: 700px) {
        .grid .grid-sizer .grid-item {
          float: none;
          width: 33.333%;
          margin-bottom: -10px; } }
      .grid .grid-sizer .grid-item img {
        width: 100%;
        height: auto; }
      .grid .grid-sizer .grid-item figcaption {
        color: #fff;
        display: none; }
        .grid .grid-sizer .grid-item figcaption p {
          color: #fff;
          display: none; }
      .grid .grid-sizer .grid-item .project-title {
        visibility: visible;
        display: block;
        opacity: 0;
        -webkit-transition: opacity 0.2s ease-in;
        transition: opacity 0.2s ease-in; }
        .grid .grid-sizer .grid-item .project-title p {
          display: block;
          position: absolute;
          top: 40%;
          left: 50%;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%);
          color: #fff;
          text-transform: uppercase;
          font-size: 1.5625rem;
          font-size: 25px; }
          .grid .grid-sizer .grid-item .project-title p a {
            text-align: right;
            display: block;
            letter-spacing: 0.7px; }
            .grid .grid-sizer .grid-item .project-title p a:visited {
              color: #6b6b6b; }
            .grid .grid-sizer .grid-item .project-title p a:active, .grid .grid-sizer .grid-item .project-title p a:hover {
              color: #099949;
              border-bottom: 1px solid #099949; }
      .grid .grid-sizer .grid-item:hover .project-title {
        display: block;
        visibility: visible;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: #099949;
        opacity: 0.97; }
        .grid .grid-sizer .grid-item:hover .project-title .show-caption {
          display: block;
          color: #fff; }

#interactive .interactive-project {
  display: block;
  margin: 10px 0;
  font-size: 1rem;
  font-size: 16px; }
  #interactive .interactive-project .show-caption {
    display: block;
    color: #6b6b6b; }
    #interactive .interactive-project .show-caption a {
      text-align: right;
      display: block;
      font-size: 1.125rem;
      font-size: 18px;
      letter-spacing: 0.7px;
      color: #6b6b6b;
      border-bottom: 1px solid #fff;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      #interactive .interactive-project .show-caption a:visited {
        color: #6b6b6b; }
      #interactive .interactive-project .show-caption a:active, #interactive .interactive-project .show-caption a:hover {
        color: #099949;
        border-bottom: 1px solid #099949; }

.grid:after {
  content: '';
  display: block;
  clear: both; }

/*---------------------- CAROUSEL -------------------*/
.carousel {
  display: none; }
  @media only screen and (min-width: 700px) {
    .carousel {
      display: none;
      -webkit-box-ordinal-group: 6;
          -ms-flex-order: 5;
              order: 5;
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      margin-bottom: 5px; } }
  @media only screen and (min-width: 1024px) {
    .carousel {
      display: none;
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto; } }
  .carousel .big {
    display: none; }
    @media only screen and (min-width: 700px) {
      .carousel .big {
        display: block;
        width: 100%; } }
    .carousel .big .big-img-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      visibility: visible;
      width: 100%;
      height: 60vh;
      margin-left: 0;
      margin-top: 0;
      background-size: contain;
      background-repeat: no-repeat; }
    .carousel .big .image-info {
      clear: both;
      -ms-flex-item-align: end;
          align-self: flex-end;
      display: block;
      visibility: visible;
      color: #6b6b6b;
      font-size: 0.9375rem;
      font-size: 15px;
      visibility: visible;
      height: 40px;
      width: 100%;
      margin-left: 0;
      text-align: left; }
      @media only screen and (min-width: 700px) {
        .carousel .big .image-info {
          height: 30px;
          margin-top: 10px; } }
      .carousel .big .image-info p {
        display: inline-block;
        margin: 0;
        padding: 10px; }
        .carousel .big .image-info p:first-child {
          padding-left: 0; }

.carousel-nav {
  display: none; }
  @media only screen and (min-width: 700px) {
    .carousel-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 30px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-ordinal-group: 7;
          -ms-flex-order: 6;
              order: 6;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch; } }
  .carousel-nav button {
    display: inline-block;
    font-size: 1.875rem;
    font-size: 30px;
    color: #6b6b6b;
    padding: 0 10px;
    line-height: 1.5625rem;
    line-height: 25px; }
  .carousel-nav .thumbs-only {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0; }
    .carousel-nav .thumbs-only svg {
      display: inline-block;
      height: 25px; }
    @media only screen and (min-width: 1024px) {
      .carousel-nav .thumbs-only #thumbnails-icon {
        height: 30px; } }
  .carousel-nav .previous {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .carousel-nav .next {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }

.statement-title {
  margin-top: 10px;
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
  font-size: 1rem;
  font-size: 16px;
  max-width: 25%;
  display: inline-block;
  margin: 0;
  color: #6b6b6b;
  border-left: 1px solid #6b6b6b;
  text-transform: capitalize; }
  @media only screen and (min-width: 700px) {
    .statement-title {
      height: 30px;
      margin: 0; } }

.share {
  display: block;
  width: 100%;
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; }
  @media only screen and (min-width: 700px) {
    .share {
      width: 25%;
      border-left: 1px solid #6b6b6b;
      height: 30px; } }
  .share ul {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media only screen and (min-width: 700px) {
      .share ul {
        margin-left: 15px;
        height: 30px; } }
    .share ul li {
      width: 33.334%;
      padding: 30px; }
      @media only screen and (min-width: 700px) {
        .share ul li {
          padding: 0; } }
      .share ul li a {
        display: block;
        height: 100%;
        width: 100%; }
        .share ul li a svg {
          height: 30px;
          width: 100%;
          padding: 2px; }
        @media only screen and (min-width: 700px) {
          .share ul li a {
            max-height: 25px; } }
    .share ul:nth-of-type(3) {
      border: 1px solid tomato;
      width: 28px; }

.modal-on {
  overflow: hidden; }

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .modal-container:after {
    content: "";
    position: absolute;
    background-color: #8a5cd1;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .modal-container .modal {
    background-color: #fff;
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
    top: 57%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: left;
    z-index: 2; }
    @media only screen and (min-width: 340px) {
      .modal-container .modal {
        width: 80%;
        top: 50%; } }
    @media only screen and (min-width: 700px) {
      .modal-container .modal {
        width: 55%; } }
    @media only screen and (min-width: 1024px) {
      .modal-container .modal {
        top: 40%; } }
    @media only screen and (min-width: 1200px) {
      .modal-container .modal {
        width: 40%; } }
    .modal-container .modal .modal-header {
      height: 15px;
      width: 90%;
      margin: 0 auto;
      position: relative;
      border-radius: 20px; }
      @media only screen and (min-width: 700px) {
        .modal-container .modal .modal-header {
          height: 40px; } }
      @media only screen and (min-width: 1200px) {
        .modal-container .modal .modal-header {
          height: 30px; } }
      .modal-container .modal .modal-header .close {
        color: #6b6b6b;
        position: absolute;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-size: 12px;
        right: 0;
        top: 0; }
        @media only screen and (min-width: 700px) {
          .modal-container .modal .modal-header .close {
            padding: 12px; } }
    .modal-container .modal .modal-content {
      width: 100%;
      padding: 0 0 1rem 0; }
    .modal-container .modal .statement-body {
      width: 90%;
      margin: 0 auto;
      text-align: left;
      font-size: 0.8rem;
      background-color: #fff;
      color: #6b6b6b; }
      @media only screen and (min-width: 700px) {
        .modal-container .modal .statement-body {
          width: 80%; } }
      @media only screen and (min-width: 1024px) {
        .modal-container .modal .statement-body {
          width: 75%; } }
      .modal-container .modal .statement-body p {
        letter-spacing: 0.02rem;
        line-height: 1.375rem;
        line-height: 22px;
        margin: 1rem auto; }
        @media only screen and (min-width: 700px) {
          .modal-container .modal .statement-body p {
            letter-spacing: 0;
            font-size: 1.125rem;
            font-size: 18px;
            line-height: 1.5rem;
            line-height: 24px; } }
      .modal-container .modal .statement-body span {
        border-bottom: 1px solid #6b6b6b;
        color: #6b6b6b;
        text-decoration: none; }
        .modal-container .modal .statement-body span:hover {
          color: #b56618;
          border-bottom: 1px solid #b56618; }
        .modal-container .modal .statement-body span a:hover {
          color: #b56618; }

.options-menu-horizontal {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  display: none;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 3; }
  .options-menu-horizontal .column {
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0; }
    .options-menu-horizontal .column ul {
      width: 100%;
      padding: 0 0 0 0; }
      .options-menu-horizontal .column ul li {
        height: 2.5rem;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        @media only screen and (min-width: 700px) {
          .options-menu-horizontal .column ul li {
            height: 2.7rem; } }
        .options-menu-horizontal .column ul li a {
          display: block;
          width: 100%;
          height: 100%;
          color: #fff;
          text-decoration: none;
          font-size: 0.875rem;
          font-size: 14px;
          padding-top: 1rem; }
          @media only screen and (min-width: 340px) {
            .options-menu-horizontal .column ul li a {
              font-size: 1rem;
              font-size: 16px;
              padding-top: 1rem; } }
          @media only screen and (min-width: 1024px) {
            .options-menu-horizontal .column ul li a {
              font-size: 1.25rem;
              font-size: 20px;
              padding-top: 1rem; } }

.footer-col-1 ul li:first-child {
  background-color: #b56618; }

.footer-col-1 ul li:nth-child(2) {
  background-color: #5f9797; }

.footer-col-1 ul li:nth-child(3) {
  background-color: #8a5cd1; }

.footer-col-1 ul li:nth-child(4) {
  background-color: #4866fb; }

.footer-col-2 ul li:first-child {
  background-color: #099949; }

.footer-col-2 ul li:nth-child(2) {
  background-color: #98983e; }

.footer-col-2 ul li:nth-child(3) {
  background-color: #68b7d5; }

a.click-whole-box {
  position: absolute;
  z-index: 777;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none !important; }
