* {  
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, 
*:before, 
*:after {
	  -webkit-box-sizing: inherit;
	  -moz-box-sizing: inherit;
	  box-sizing: inherit;
}
.clear {  	
	clear:both;
	margin:0;
	padding:0;
	
}
html { 
	height: 100vh;
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	margin: 0;
	padding-top: 4rem;
	font-family: $f-text;
	
}
.wrapper {
	max-width: 90%;
	min-height: 100vh;
	margin: 10% auto;
	display: flex;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
 	display: -ms-flexbox;      /* TWEENER - IE 10 */
 	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex-direction: column;	
}
nav ul li a { font-size: 1.2rem;}
ul {
	// margin:0;
	// padding:0;
	list-style: none;
}
img {
   	margin:0;
	padding:0;
}
section {	
	height:100%;
}

div, p {
	margin:0;
	padding:0;
}
button { 
	outline: none;
	background-color: $c-white;
	border: 1px solid $c-white;
	color: $c-cyan;
	cursor: pointer;
	padding: 7px;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	font-size: .8rem;

	&:hover {
		border-bottom: 1px solid $c-cyan;
	}
}
/* .........LINKS...............................*/

a { text-decoration: none; }
/* .........HEADER .............................*/

header {
	order: 1;
	z-index: 1;	
	max-width: 100%;
	min-width: 140px;
	height: 4rem;
	margin: 0 auto;
	padding: 5% 5% 0 5%;	
	position: fixed;
	top: 0;
	left: 0; 
	background-color: $c-white;
	transition: top 0.2s ease-in-out;	
	// border-bottom:1px solid $c-grey-med;

	@include bp(medium) {
		width: 90%;
		margin: 0 auto;
		padding: 1% 5%;
		};
		
	.menu-top {
		display: none;

		@include bp(medium){
			display: block;
		}
	}
		
	.logo {
		display: block;
		width: 90%;
		margin: 0 auto;
		background-color: $c-white;
	
		img {
			width: 100%;
		}

	}

	// ****** menu toggle *************
    .menu-mobile {
    	height: 40px;
	    width: 90%;
		position: relative;
		margin: 4% auto;

		@include bp(xsmall){
		 	margin: 3% auto;
		}
		@include bp(small){
			margin: 2% auto;
		}

    	.btn-back {
    		display: block;
    		height: 20px;
			padding: 0.15rem 0 ;
			a {
				svg {
					display: block;
					height: 22px;
				}	
			}
    	}

		.menu-toggle {
	    	display: block;
	    	font-size: 18px;
	    	color: $c-grey-med;
	    	padding: 6px 0 ;
	    	width: 30%;
	    	position: absolute;
	    	top: 0;
	    	right: 0;
	    	text-align: right;
    		text-transform: uppercase;
    		@include bp(medium) {
    			right: 35px;
    		}
		}
	}
	.nav-up {
		top: $nav-up;
	
	}
	.nav-down{
		top: $nav-down;
	}

} 
//all pages except LANDING pages. 
.main-content {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
 	display: -ms-flexbox;      /* TWEENER - IE 10 */
 	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	
	/*.........SHOW CURRENT PORTFOLIO .........................*/
	.page-location {
		order: 1;
		width: 100%;
		display: block;
		margin: 0;
		padding: 0 0 0 0%;
		color: $c-grey-med;
		text-transform: uppercase;

		p {
			display: block;
			border-left: 1px solid $c-grey-med;
			padding: 1% 0 0 1%;
			margin-bottom: 0;	
		}
	}
}

/*.........ABOUT PAGE .......................................*/
.page-location {
	order: 1;
}

.bio {
	max-width: 100%;
	min-width: 200px;
	padding: 1rem 0 0 0 ;
	margin: 0 auto 2rem auto;
	font-size: 1rem;
	color:$c-grey-med;
	order: 2;

	a {
		border-bottom: 1px solid $c-grey-med;
		padding: 0;
		margin: 0;
		font-size: 1rem;
		color: $c-grey-med;
		&:hover {
			color: $c-green-kelly;
			border-bottom: 1px solid $c-green-kelly;
		}
		&:visited {
			color: $c-grey-med;
		}
		span {
			color: $c-grey-med;
			&:hover	{
				color: $c-green-kelly;
			}
			
		}
	}
	p {
		margin-bottom: 4%;

	}
	.btn-cv {
		display: block;
		margin:  1rem auto ;
		max-width: 100%;
		text-align: center;
		color: $c-grey-med;
		border:1px solid $c-grey-med;
		padding: 10px;
		font-size: 1.1rem;

		&:hover {
			color: $c-green-kelly;
			border-color: $c-green-kelly;	
		}
	}

}
			


// .clients-l {
// 	text-align: left;
// 	padding: 1rem 3rem;
// 	height: auto;
// 	float: left;
// 	color: $c-grey-med;

// }
// .clients-r {
	
// 	text-align:right;
// 	padding-right: 1rem;
// 	padding-top: 1rem;
// 	height: auto;
// 	float: left;
// 	color: $c-grey-med;

// }
// .awards {
// 	width: 100%;
// 	height: auto;
// 	float: right;
// 	padding-left: 0;
// 	color: $c-grey-med;
// 	clear: both;
	
// }

/*................BLOG PAGE .......................................*/
//  someday...?
/*.............CONTACT PAGE ..........................................*/


#contact form {
	display: none;

	fieldset { border:none; color:$c-grey-med;}

	fieldset.contact {
		padding-bottom: 0;
	}
	fieldset.contact-message {
		padding-top: 0;
	}
	label { 
		display:block;
		padding-bottom: 5px; 
	}
	input[type="text"], 
	input[type="email"],
	input[type="search"],
	input[type="number"],
	textarea {
		box-sizing:border-box;
		display:block;
		margin-bottom: 19px;
		width:100%;
		max-width:40rem;
		padding:10px;
		color:$c-grey-med;
	}
	textarea {
		margin-bottom: 0;
	}	
	input[type="text"]:focus, 
	input[type="email"]:focus,
	textarea:focus  {
		background:$c-white;
		border-color:$c-green-kelly;
		box-shadow:none;
		outline-color: $c-green-kelly;
	 	outline-style: solid;
	}	
	input[type="submit"] {
		width: 50%;
		border-radius:0;
		border-style:none;
		background-color:$c-green-kelly;
		outline-color: $c-green-kelly;
		color:$c-white;
		text-transform: uppercase;
		font-size:1rem;
		max-width:40rem;

	}
	input[type="submit"]:hover {	
		border-radius:0;
		color:$c-white;
		box-shadow:none;
		outline:1px solid $c-green-kelly;
		font-size:1rem;   
	}
	.message-body {
		margin-top: 20px;
		width: 100%; 
		float: left;
		clear:both;
	}
}
#contact .main-content {

	.page-location { display: none; }

	.contact-img-container {
		display: block;
		width: 100%;
		height: auto;

		img {
			max-width: 100%;
			margin: 0 auto;
		}
	}
	.contact-info {
		display: block;
		// margin-top: 1rem;

		.temp-contact_page {
			width: 100%;
			text-align: center;

			&:hover {
				color: $c-white;
				background-color: $c-blue-med;    
			}
				    
			a {	
				display: block;
				margin-top: 0.5rem;
				color: $c-grey-med;
				&:hover{ 
					color: $c-white;
				}
				&:active {
					color: $c-green-kelly;
				} 
				&:visited{
					color: $c-grey-med;
				}
			
			}
			p {
				margin-bottom: 0.5rem;
			}
		}
	}
}
/*.............FOOTER....................................................
 ONLY DISPLAYS AT DESKTOP WIDTH */
.footer {
	display: none;

	@media only screen and (min-width: 1300px ) {
		#home footer {
			display: none;
		}
		.footer {
			width: 100%;
			display: none;	
			font-size: 1rem;
			margin-bottom: 15px;
			border-top: 1px solid $c-grey-med;
		}

		.column {
			width: 15%; 
		}

		.footer ul li {
			margin: 0;

		}
		.footer-col-1 ul li a, .footer-col-2 ul li a  {
			display: block;
		    padding: 5% 0;
		}
		.footer-col-3 {
			margin: 0 0 0 32%;
			
		}

		.footer-col-3 img {
			padding: 11%;
			
		}
		.footer-col-3 img:last-child {
			padding: 6%;
		}
		.footer-col-4 {
			padding-top: 0.3rem;
			margin: 0 0 0 4.5%;
			text-align: center;
			font-size: 0.8rem;
		 	color: $c-grey-med;	
		}		
	}
}