* {  
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, 
*:before, 
*:after {
	  -webkit-box-sizing: inherit;
	  -moz-box-sizing: inherit;
	  box-sizing: inherit;
}
.clear {  	
	clear:both;
	margin:0;
	padding:0;
	
}
html { 
	height: 100vh;
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	margin: 0;
	padding-top: 4rem;
	font-family: $f-text;
	
}
.wrapper {
	max-width: 90%;
	min-height: 100vh;
	margin: 10% auto;
	display: flex;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
 	display: -ms-flexbox;      /* TWEENER - IE 10 */
 	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex-direction: column;	

	@include bp(small) {
		margin: 4% auto;
	}
}
nav ul li a { font-size: 1.2rem;}
ul {
	// margin:0;
	// padding:0;
	list-style: none;
}
img {
   	margin:0;
	padding:0;
}
section {	
	height:100%;
}

div, p {
	margin:0;
	padding:0;
}
button { 
	outline: none;
	background-color: $c-white;
	border: 1px solid $c-white;
	cursor: pointer;
	padding: 7px;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	

}
/* .........LINKS...............................*/

a { text-decoration: none; }
/* .........HEADER .............................*/

header {
	order: 1;
	z-index: 1;	
	max-width: 100%;
	min-width: 140px;
	height: 4rem;
	margin: 0 auto;
	padding: 5% 5% 0 5%;	
	position: fixed;
	top: 0;
	left: 0; 
	background-color: $c-white;
	transition: top 0.2s ease-in-out;	
	// border-bottom:1px solid $c-grey-med;

	@include bp(small) {
		height: 120px;
		width: 90%;
		margin: 0 auto;
		padding: 3% 5% 0 5%;
	// }
	// @include bp(medium) {
		display: flex;
		flex-direction: row;
		height: 80px;

	}		
	.logo {
		flex: 2 1 auto;
		width: 90%;
		margin: 0 auto;
		@include bp(small){
			margin: 0;
		}
		img {
			width: 100%;
			@include bp(small){
				width: 75%;
			}
		}
	}

	// ****** menu toggle *************
    .menu-mobile {
    	height: 40px;
	    width: 90%;
		position: relative;
		margin: 4% auto;

		@include bp(xsmall){
		 	margin: 3% auto;
		}
		@include bp(small){
			width: 50%;
			margin: 0;
			float: right;
    		// border: 1px solid orange;
		}
		@include bp(medium) {
			margin: 0;
    		flex: 0 1 auto;

		}

    	.btn-back {
    		display: block;
    		height: 20px;
			padding: 0.15rem 0 ;
			a {
				svg {
					display: block;
					height: 22px;
				}	
			}
    	}
		.menu-toggle {
	    	display: block;
	    	font-size: 18px;
	    	color: $c-grey-med;
	    	padding: 6px 0 ;
	    	width: 30%;
	    	position: absolute;
	    	top: 0;
	    	right: 0;
	    	text-align: right;
    		text-transform: uppercase;

    		@include bp(small) {
    			border-right: 1px solid $c-grey-med;
			    padding: 3% 3% 1% 0;
			    margin-bottom: 0;
			    display: block;
			    @include font-size(22);
    		}
		}
	}
	.nav-up {
		top: $nav-up;	
	}
	.nav-down{
		top: $nav-down;
	}
}//------ desktop menu style-----------------------------// 
.menu-top {
	display: none;
	@include bp(medium){
	
	}
}
//all pages except LANDING pages. 
.main-content {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
 	display: -ms-flexbox;      /* TWEENER - IE 10 */
 	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	
	@include bp(medium) {
		margin: 0 auto;
	}
	/*.........SHOW CURRENT PORTFOLIO .........................*/
	.page-location {
		order: 1;
		width: 100%;
		display: block;
		margin: 0;
		padding: 0 0 0 0%;
		color: $c-grey-med;
		text-transform: uppercase;

		p {
			display: block;
			border-left: 1px solid $c-grey-med;
			padding: 1% 0 0 1%;
			margin-bottom: 0;	
		}
	}
}

/*.........ABOUT PAGE .......................................*/
.page-location {
	order: 1;
}
.bio {
	order: 2;
	display: flex;
	flex-flow: column nowrap;
	padding: 0 0 0 0;
	background-color: $c-orange-light;
	color:$c-white;

	@include bp(small){
		flex-flow: row nowrap;
	}
	.bio-col-half {
		max-width: 100%;
		min-width: 200px;
		padding: 0 30px ;
		margin: 0 auto;
		font-size: 1rem;
		letter-spacing: 0.03rem;
		order: 2;
		@include bp(xsmall) {
	    	border-left: none;

		}
		@include bp(small){
			width: 50%;
			margin: 0 auto ;
			padding: 60px;
	    	border-left: 1px solid #878787;
		}
		p {
			@include line-height(23);
			margin-bottom: 4%;
		}
	}
	.col-l {
		border-left: none;
		padding: 30px 30px 0 30px;

		@include bp(small) {
			padding: 45px;
		}
	}
	.col-r {
		border-left: none;

		@include bp(small){
			border-left: 1px solid $c-white;
			padding: 45px;
		}
	}
	
	a {
		border-bottom: 1px solid $c-white;
		padding: 0;
		margin: 0;
		font-size: 1rem;
		color: $c-white;
		&:hover {
			background-color: $c-white;
			color: $c-orange-light;
			border-bottom: 1px solid $c-white;
		}
		&:visited {
			color: $c-white;
		}
		span {
			color: $c-white;
			&:hover	{
				background-color: $c-white;
				color: $c-orange-light;
			}
			
		}
	}
}
// view cv button
.btn-cv {
	order: 3;
	display: block;
	margin:  2rem auto ;
	max-width: 90%;
	font-size: 1.1rem;
	text-align: center;	
	.cv-pdf {
		padding: 10px 30px;
		color: $c-white;
		border:1px solid $c-white;
		&:hover {		 
		}
	}
	@include bp(small) {
		max-width: 90%;
		align-self: flex-end;
	}
}

/*................BLOG PAGE .......................................*/
//  someday...?
/*.............CONTACT PAGE ..........................................*/

#contact form {
	display: none;

	fieldset { border:none; color:$c-grey-med;}

	fieldset.contact {
		padding-bottom: 0;
	}
	fieldset.contact-message {
		padding-top: 0;
	}
	label { 
		display:block;
		padding-bottom: 5px; 
	}
	input[type="text"], 
	input[type="email"],
	input[type="search"],
	input[type="number"],
	textarea {
		box-sizing:border-box;
		display:block;
		margin-bottom: 19px;
		width:100%;
		max-width:40rem;
		padding:10px;
		color:$c-grey-med;
	}
	textarea {
		margin-bottom: 0;
	}	
	input[type="text"]:focus, 
	input[type="email"]:focus,
	textarea:focus  {
		background:$c-white;
		border-color:$c-green-kelly;
		box-shadow:none;
		outline-color: $c-green-kelly;
	 	outline-style: solid;
	}	
	input[type="submit"] {
		width: 50%;
		border-radius:0;
		border-style:none;
		background-color:$c-green-kelly;
		outline-color: $c-green-kelly;
		color:$c-white;
		text-transform: uppercase;
		font-size:1rem;
		max-width:40rem;

	}
	input[type="submit"]:hover {	
		border-radius:0;
		color:$c-white;
		box-shadow:none;
		outline:1px solid $c-green-kelly;
		font-size:1rem;   
	}
	.message-body {
		margin-top: 20px;
		width: 100%; 
		float: left;
		clear:both;
	}
}
#contact .main-content {

	.page-location { display: none; }

	.contact-img-container {
		display: block;
		width: 100%;
		height: auto;

		img {
			max-width: 100%;
			margin: 0 auto;
		}
	}
	.contact-info {
		display: block;
		// margin-top: 1rem;

		.temp-contact_page {
			width: 100%;
			text-align: center;

			&:hover {
				color: $c-white;
				background-color: $c-blue-med;    
			}
				    
			a {	
				display: block;
				margin-top: 0.5rem;
				color: $c-grey-med;
				&:hover{ 
					color: $c-white;
				}
				&:active {
					color: $c-green-kelly;
				} 
				&:visited{
					color: $c-grey-med;
				}
			
			}
			p {
				margin-bottom: 0.5rem;
			}
		}
	}
}
/*.............FOOTER....................................................
 ONLY DISPLAYS AT DESKTOP WIDTH */
.footer {
	display: none;

	@include bp(medium) {
		#home footer {
			display: none;
		}
		.footer {
			width: 100%;
			display: none;	
			font-size: 1rem;
			margin-bottom: 15px;
			border-top: 1px solid $c-grey-med;
		}

		.column {
			width: 15%; 
		}

		.footer ul li {
			margin: 0;

		}
		.footer-col-1 ul li a, .footer-col-2 ul li a  {
			display: block;
		    padding: 5% 0;
		}
		.footer-col-3 {
			margin: 0 0 0 32%;
			
		}

		.footer-col-3 img {
			padding: 11%;
			
		}
		.footer-col-3 img:last-child {
			padding: 6%;
		}
		.footer-col-4 {
			padding-top: 0.3rem;
			margin: 0 0 0 4.5%;
			text-align: center;
			font-size: 0.8rem;
		 	color: $c-grey-med;	
		}		
	}
}