// BREADCRUMBS SECTION

.breadcrumbs {
    grid-column: col-1;
    grid-row: row-3;
    height: 5.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .nav_level-2 {
        font-family: $f-title;
        color: $c-grey-med;
        text-decoration: none;

        a {
            border-bottom: none;

            &:hover {
                border: none;
            }
        }

        .breadcrumbs-item {
            margin-bottom: 0.675rem;

            a {
                display: block;
                border-bottom: 1px solid transparent;
                height: 1.3rem;
                margin-left: 1rem;

                &:hover {
                    border-bottom: 8px solid $c-coral;
                }
            }
        }
        .breadcrumbs-item--top {
            font-style: italic;
            margin-bottom: 1rem;
            margin-top: 13.4rem;
        }
    }
}
