.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 1rem;
    font-family: $f-title;
    border-top: 1px solid $c-grey-med;
    height: 14rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row nowrap;
    flex-direction: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    li {
        margin-bottom: 0.2rem;

        a {
            display: block;
            height: 2rem;
            width: 100%;
            padding: 0.5rem;
            font-size: $h4-font-size;
            color: $c-text;
            text-decoration: none;
            background-color: transparent;
            border-bottom: 2px solid transparent;
            -webkit-transition: border-bottom 0.3s ease-in-out;
            transition: border-bottom 0.3s ease-in-out;

            &:hover {
                border-bottom: 10px solid $c-coral;
            }
        }
    }

    p {
        margin-bottom: 0;
    }
    // .nav_footer--two {
    //     height: 100%;
    //     display: -webkit-box;
    //     display: -ms-flexbox;
    //     display: flex;
    //     -webkit-box-orient: vertical;
    //     -ms-flex-flow: column nowrap;
    //     flex-flow: column nowrap;
    //     -webkit-box-pack: justify;
    //     -ms-flex-pack: justify;
    //     justify-content: space-between;
    // }

    // -------- FOLLOW / SOCIAL MEDIA -----------------//
    .follow {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        margin-bottom: 0.4rem;

        @include bp(small) {
            // width: 200px;
            // height: 30px;
        }

        .follow_icon {
            display: -webkit-box;
            display: -ms-flexbox;
            display: block;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            width: 60%;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 0;
            margin: 0 auto;

            @include bp(small) {
                height: 2rem;
            }

            .follow_icon-link {
                display: block;
                height: 2rem;
                width: auto;
                -webkit-transition: none;
                transition: none;
                border-bottom: none;
                padding: 0;
                margin-right: 1rem;
                transition: none;

                &:hover {
                    border-bottom: none;
                    background-color: transparent;
                }
            }
        }
    }

    // ------- COPYRIGHT NOTICE-----------------//
    .copyright-notice {
        width: 100%;
        margin: 0 auto;
        color: $c-grey-med;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        @include bp(small) {
            height: 1.2rem;
        }

        .copyright {
            text-align: center;

            @include bp(small) {
                text-align: left;
                margin: 0;
            }
        }
    }

    .nav_footer--two,
    .nav_footer--three {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}
