.footer {
	display: flex;
	flex-direction: row nowrap;
	justify-content: space-between;
	width: 100%;
	align-items: flex-start;
	padding-top: 1rem;
	font-family: $f-title;
	border-top: 1px solid $c-grey-med;
	height: 11.5rem;

	li {
		margin-bottom: 0;
	}
	
	a {
		font-size: $h4-font-size;
		color: $c-text;
	}
	
	p {
		margin-bottom: 0;
	}


	// -------- FOLLOW / SOCIAL MEDIA -----------------//
	.follow {
		display: block;
		width: 100%;
		flex: 0 1 auto;
		margin-bottom: 1rem;

		@include bp(small) {
			width: 200px;
			height: 30px;
		}

		ul {
			padding: 0;
			display: flex;
			flex-flow: row nowrap;
			width: 60%;
			margin: 0 auto;
			justify-content: space-between;

			@include bp(small) {
				height: 30px;
			}
			li {
				// margin-right: 1rem;
			}
			a { 
				display: block;
				height: 100%;
				width: 100%;

				@include bp(small) {
					max-height: 25px;
				}
			}

		}
	}

	// ------- COPYRIGHT NOTICE-----------------//
	.copyright-notice {
		width: 100%;
		margin: 0 auto;
		color: $c-grey-med;
		display: flex;
		align-items: center;
		
		@include bp(small) {
			height: 30px;

		}

		.copyright{
			text-align: center;

			@include bp(small) {
				text-align: left;
				margin: 0;
			}

		}

	}

	.nav_footer-three {
		height: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
	}
}