.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 1rem;
    font-family: $f-title;
    border-top: 1px solid $c-grey-med;
    height: 14rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row nowrap;
    flex-direction: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    li {
        margin-bottom: 0.2rem;
    }

    a {
        font-size: $h4-font-size;
        color: $c-text;
        padding: 0.2rem;
        background-color: transparent;
        -webkit-transition: background-color 0.5s;
        transition: background-color 0.5s;
        border-radius: 5px;

        &:hover {
            background-color: $c-coral;
        }
    }

    p {
        margin-bottom: 0;
    }

    // -------- FOLLOW / SOCIAL MEDIA -----------------//
    .follow {
        display: block;
        width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        margin-bottom: 1rem;

        @include bp(small) {
            width: 200px;
            height: 30px;
        }

        ul {
            padding: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            width: 60%;
            margin: 0 auto;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;

            @include bp(small) {
                height: 2rem;
            }
            li {
                // margin-right: 1rem;
            }
            a {
                display: block;
                height: 100%;
                width: 100%;
                -webkit-transition: none;
                transition: none;

                &:hover {
                    background-color: transparent;
                }
            }
        }
    }

    // ------- COPYRIGHT NOTICE-----------------//
    .copyright-notice {
        width: 100%;
        margin: 0 auto;
        color: $c-grey-med;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        @include bp(small) {
            height: 30px;
        }

        .copyright {
            text-align: center;

            @include bp(small) {
                text-align: left;
                margin: 0;
            }
        }
    }

    .nav_footer-three {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}
