
.grid {
	order: 1;
	max-width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	@include bp(small) {
		max-width: 100%;
	}

	.grid-sizer {
		width: 100%;
		height: auto;
		@include bp(small) {
			max-width: 33.333%;
		}
		.grid-item {
			width: 100%;
			height: auto;
			@include bp(small) {
				width: 33.333%;
			}	

			img {
				width: 100%;
				height: auto;
				@include bp(small){
					// width: 95%;
				}
			
			}
			p {
				display: none;
			}
		}
	}
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}