#thumbnails-icon {
    height: 25px;

    .cls-1 {
        fill: $c-grey-med;
    }

    &:hover {
        .cls-1 {
            fill: $c-coral;
        }
    }
}

li a {
    #instagram-icon,
    #linkedin-icon,
    #github-icon {
        height: 100%;
        width: 100%;

        .cls-1 {
            fill: $c-grey-med;
            -webkit-transition: fill 0.2s ease-in-out;
            transition: fill 0.2s ease-in-out;
        }

        &:hover {
            .cls-1 {
                fill: $c-coral;
            }
        }
    }
}
