/* ......... MOBILE NAVIGATION MENU .............................*/	
    .menu-mobile {
    	display: inline-block;
	    width: 20%;
    	margin: 2% 5%;

		.menu-toggle {
	    	display: block;
	    	height: 50px;
		}
		.nav-up {
		top: -50px;
		border-bottom: none;
		}
	}


	
	 //    .menu-icon {
		//     position: relative;
		//     display: inline-block;
		//     right: 0;
		//     top: 0;
		//     max-width: 35px;
		//     min-width: 25px;
		//     text-indent: -999px;
		//     float: right;
		//     height: 15px;
		//     border-top: 5px solid #b56618;
		//     border-bottom: 5px solid #68b7d5; 
		// }
	
		// .border-icon {
		// }
		// .menu-icon:before {
		//     content:"";
		//     position: absolute; 
		//     top: 15px;
		//     left: 0;
		//     width: 100%;
		//     border-top: 5px solid #98983e;
		// }
    // }
// }

// 	header {
// 	display: inline-block;
// 	order: 1;
// 	padding-top: 20px;
// 	border-bottom:1px solid #878787;


// 	.logo {
// 		height: auto;
// 	}
// }
	
	 
	 
	// nav ul li a { font-size: 1.2rem;}
	
	.main-menu li:first-child {
		border-left: none;
	}
	.share li {
		display: inline-block;
		width: 30%;
		margin: 0;
		padding: 0;
	}

/*photography*/
.main-menu li:first-child:hover, 
.main-menu li:first-child:active {
    background-color: #a84420;
    color: #fff;
    border-bottom: 1px solid #a84420;
}

/*......... HAMBURGER MENU behavior stuff .........................................*/

.options-menu-horizontal {
    // font-family: 'Josefin Sans' sans-serif;
    text-align: center;
    display: none;
    background-color: #fff;
    bottom: 0;
    left:0;
    position: fixed;
    width: 100%;
    padding: 0;
    z-index: 10; 
    border-top: 1px solid #68b7d5;
}

.options-menu-horizontal span.close-menu {
    position: absolute;
    top: 20px;
    right: 30px;
    border: 3px solid #ffffff;
    color: #ffffff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 48px;
    font-size: 37px;
    text-align: center;
    cursor: pointer;
}

.options-menu-horizontal ul {
    list-style: none;
    text-align: center;
    cursor: default;
    margin:0;
    padding:0;
}

.options-menu-horizontal ul li {
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    line-height: 2.5;
    /*margin: 0 60px auto auto;   */
    padding: 0;
    line-height: 2;
    background-color: transparent;

    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.options-menu-horizontal ul:nth-child(2) {
    display: block;
    width: 50%;
    margin: 0 auto;
    
}
.options-menu-horizontal ul:nth-child(2) li {
    float: left;
    width: 33.334%;

}

/* Responsive */

// @media (min-width: 700px) {

// * {background-color: blue;}
//     .options-menu-horizontal ul li {
//         display: block;
//         width: 100%;
//     }
/*
    .options-menu-horizontal ul:nth-child(2) {
        width: 50%;
        margin: 0 auto;
    
    }
    .options-menu-horizontal ul:nth-child(2) li {
        float: left;
        width: 33.334%;

    }*/

// }
// @media only screen and (min-width: 1300px) {
// * {background-color: red;}

//     header span.menu-toggle {
//         display: block;
//     }
//     .hamburger {
//         display: block;
//     }
//     .options-menu-horizontal ul li {
//         display: block;
//         width: 100%;
//         font-size: 1.5rem;
//         margin: 0 auto;
//         padding: 4px 0;
//     }
//     .options-menu-horizontal ul:nth-child(2) {
//         display: block;
//         width: 25%;
//         margin: 0 auto;
        
//     }
//     .options-menu-horizontal ul:nth-child(2) li {
//         float: left;
//         width: 33.334%;
 
//     }
//     .options-menu-horizontal span.close-menu {
//         top: 10px;
//         right: 10px;
//         width: 32px;
//         height: 32px;
//         line-height: 1.1;
//         font-size: 30px;
//     }
// }

// @media only screen and (min-width: 1500px ) {
// * {background-color: green;}
//  .options-menu-horizontal { 
//         order: 2;
//         display: inline-block; 
//         border: none;
//         position: relative;
//         top: -90px;
//         left: 0;
//         z-index: 0;
//         width: 57%;
//         background-color: transparent;
//         margin: 0 0 0 43.2% ;

//     }
//      .options-menu-horizontal ul {
//         display: inline-block;
//         float: right;
//         width: 100%;
//         margin: 0;

//     }
//     .options-menu-horizontal ul li {
//         display: inline-block;
//         padding: 0;
//         float: none;
//         font-size: 1rem;
//         padding: 0 5px;
//         width: 16%;
//         height: 100%;
//         margin: 0;
//         border-bottom: 1px solid #878787;
//     }
//     .options-menu-horizontal ul li a {
//         display: block;
//         font-size: 0.7rem;
//         width: 100%;
//         height: 100%;
//         padding: 28px 0 20px 0;
        
//     }
//      .options-menu-horizontal ul:nth-child(2) {
//         display: none;
        
//     }

// 	//	MAIN NAV MENU .........................................*/

// 	.menu-top ul:after {
// 	    content: ""; clear: both; 
// 	    display: block;
// 	}
// 	/*..... main list item link text cover */

// 	.menu-top ul.main-menu li {
// 	    background-color: transparent;
// 	}

// 	a:link {
// 	    color: #878787;
// 	    text-decoration: none;
// 	} 
// 	a:visited {
// 	    color: #878787;
// 	}
// 	li:hover,
// 	a:hover {
// 	    color:#fff;

// 	}
// 	/*design*/
// 	.main-menu li:nth-child(2):hover, 
// 	.main-menu li:nth-child(2):active {
// 	    background-color: #5f9797;
// 	    color: #fff; 
// 	    border-bottom: 1px solid #5f9797;   
// 	}
// 	/*mixed media*/
// 	.main-menu li:nth-child(3):hover, 
// 	.main-menu li:nth-child(3):active {
// 	    background-color: #8a5cd1;
// 	    color: #fff;
// 	    border-bottom: 1px solid #8a5cd1;
// 	} 
// 	/*exhibitions*/
// 	.main-menu li:nth-child(4):hover, 
// 	.main-menu li:nth-child(4):active {
// 	    background-color: #820064;  
// 	    color: #fff;
// 	    border-bottom: 1px solid #820064;
// 	}
// 	 /*about*/
// 	.main-menu li:nth-child(5):hover,
// 	.main-menu li:nth-child(5):active {
// 	    background-color: #099949;
// 	    color: #fff;
// 	    border-bottom: 1px solid #099949;
// 	}
// 	/*contact*/
// 	.main-menu li:nth-child(6):hover,
// 	.main-menu li:nth-child(6):active {
// 	    background-color: #b56618;
// 	    color: #fff;
// 	    border-bottom: 1px solid #b56618;
// 	}

// 	.share li a img {
// 	    height: 25px;
// 	    width: auto;

// }
// }
