/* ......... MOBILE NAVIGATION MENU .............................*/	

	
// .main-menu li:first-child {
// 		border-left: none;
// 	}
// 	.share li {
// 		display: inline-block;
// 		width: 30%;
// 		margin: 0;
// 		padding: 0;
// 	}

// /*photography*/
// .main-menu li:first-child:hover, 
// .main-menu li:first-child:active {
//     background-color: $c-orange-dark;
//     color: $c-white;
//     border-bottom: 1px solid $c-orange-dark;
// }

/*......... FOOTER MENU AS MOBILE MENU behavior .........................................*/

.options-menu-horizontal {
    font-family: $f-text;
    text-align: center;
    display: none;
    flex-direction: column;
    background-color: $c-white;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    padding: 0;
    z-index: 10; 
	
	.column {
		width: 100%;
		padding: 0 0 0 0 ;
		margin: 0 0 0 0 ;

		ul {
			width: 100%;
			padding: 0 0 0 0 ;

			li {
				height: 2.5rem;
				color: $c-white;
				display: flex;
				justify-content: center;
				align-items: center;
				
				a {
					display: block;
    				width: 100%;
					color: $c-white;
					text-decoration: none;
				}
			}
		}
	}	
}

.footer-col-1 {

	ul {

		li {
			&:first-child {
			background-color:$c-orange-light;
		 		// &:active {
		 		// 	color: red;
		 		// }
			}
			&:nth-child(2) {
				background-color:$c-teal;
			}
			&:nth-child(3) {
				background-color:$c-purple;
			}
			&:nth-child(4) {
				background-color:$c-blue-med;
			} 
			a {
		
			}
		}
	}

} 
.footer-col-2 {

	ul {	
		li {
			&:first-child {
			background-color:$c-green-kelly;
			}
			&:nth-child(2) {
				background-color:$c-green-olive;
			}
			&:nth-child(3) {
				background-color:$c-cyan;
			}
		
			a {
				

			}
		}
	}
} 

.footer-col-3 {
	display: none;

	ul {
		padding: 0;
		width: 100%;
		display: inline-flex;
		margin: 1rem 0 1rem 0;

		li {
			flex: 0 1 auto;
			width: 33.334%;
		
			a {
				img {
					height: 30px;
					width: 30px;
					
				}
			}
		}

	}
} 
.footer-col-4 {
	display: none;
	border-top: 1px solid $c-grey-med;
	font-size: 0.8rem;
	color: $c-grey-med;
	p {
		display: block;
		margin: 5% 0 5% 0;
		
	}
}

