
// ---HEADLINE AND HALF-WIDTH TEXT BLOCK --- //

.headline-block_section {
    grid-column: col-2/span col-5;
    display: flex;
    flex-flow: row wrap;
    margin-top: 4r0em;
    padding-bottom: 1rem;
    height: auto;
    
    .headline-block_line {
        border: 1px solid $c-grey-med;
        width: 58%;
        margin-bottom: 3rem;
    }

    .headline-block_headline,
    .headline-block_text {
        width: 50%;
    }
    .headline-block_text {
    
    }
}

.headline-block_section--about {
    height: auto;
    display: none;
}

//------text-block full width----//
.text-block_section {
    margin: 2rem 0 4rem 0;

    .text-block_text {

    }
}

//---------- image block---------- //
.image-block_section {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 2rem 0;

    figure {
        width: 100%;
        img {
           width: 100%;   
        }

        figcaption {
            font-style: italic;
            color: $c-grey-med;
            font-size: 0.9rem;
        }
    }

}

.image-block_section--full {
}

.image-block_section--half {
    figure {
        width: 50%;

        figcaption {

        }
    }
}

.image-block_section--thirds {
    figure {
        width: 33.3%;
    }
}





