.gallery_section {

    //----------------- Thumbnail GRID ------------------//
    .grid {
        order: 4;
        display: block;
        width: 100%;
        height: auto;
        margin: 0 0 0 0;

        &:after {
            content: '';
            display: block;
            clear: both;
            }
        .statement-mobile {
            display: block;
            max-width: 90%;
            margin: 1.5rem auto 1rem auto;
            color: $c-grey-med;
            font-size: 1.2rem;
            line-height: 1.2;

            @include bp(small) {
                display: none;
            }

            p {
                margin-bottom: 1.2rem;
            }
            em {
                font-style: italic;

            }

        }

        @include bp(medium) {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            float: right;
            margin-right: 0;
            width: 100%;
        }

        .grid-sizer {
            width: 100%;
            height: auto;
            @include bp(small) {
                width: 100%;
            }

            .grid-item {
                float: left;
                width: 100%;
                height: auto;
                margin-bottom: 5px;	
                
                @include bp(small) {
                    float: none;
                    width: 33.333%;
                    margin-bottom: -10px;
                }
                a {
                    height: 100%;
                    display: block;
                }	
                img {
                    width: 100%;
                    height: auto;
                    @include bp(small) { 
                    }
                }
                figcaption  {
                    color: $c-white;
                    display: none;
                    p {
                        color: $c-white;
                        display: none;
                    }
                }
                
                .project-title {
                    visibility: visible;
                    display: block;
                    opacity: 0;
                    transition: opacity 0.2s ease-in;
                
                    p {	
                        display: block;
                        position: absolute;
                        top: 40%;
                        left: 50%;
                        transform: translateX(-50%);
                        color: $c-white;
                        text-transform: uppercase;
                        // @include font-size(25);
                        a {
                            text-align: right;
                            display: block;
                            letter-spacing: 0.7px;
                            
                            &:visited {
                                color: $c-grey-med;
                            }
                            &:active,
                            &:hover {
                                color: $c-green-kelly;
                                border-bottom: 1px solid $c-green-kelly;
                            }
                        }
                    }
                }
                &:hover {		
                    .project-title {
                        display: block;
                        visibility: visible;
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 100%;
                        width: 100%;
                        background-color: $c-green-kelly;
                        opacity: 0.97;
                
                        .show-caption {
                            display: block;
                            color: $c-white;
                        }	
                    }
                }
            }
        }
    }

    .grid:after {
        content: '';
        display: block;
        clear: both;
      }

    /*---------------------- CAROUSEL -------------------*/
    .carousel {
        display: none;
        position: relative;

        @include bp(small) {
            display: none;
            order: 5;
            flex: 1 0 auto;
            margin-bottom: 5px;
        }
        @include bp(medium) {
            display: none;
            flex: 1 0 auto;
        }

        .big {
            display: none;

            @include bp(small) {
                display: block;
                width: 100%;
            }

            .big-img-container {
                display: flex;
                visibility: visible;
                width: 100%;
                height: 60vh;
                margin-left: 0;
                margin-top: 0;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

            }
            .image-info { 
                clear: both;
                align-self: flex-end;
                display: block;
                visibility: visible;
                color: $c-grey-med;
                // @include font-size(15);
                visibility: visible;
                height: 40px; 
                width: 100%;
                margin-left: 0;
                text-align: left;
                
                @include bp(small) {
                    height: 30px;
                    margin-top: 10px;

                }
                p {
                    display: inline-block;
                    margin: 0;
                    padding: 10px;
                    &:first-child {
                        padding-left:0;
                    }
                }
            }
        }

        .previous, 
        .next {
            height: 75px;
            width: 75px;
            position: absolute;
            top: 50%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .previous {
            left: -95px;
        }

        .next {
            right: -95px;
            
        }
    }
    //------------------ CAROUSEL CONTROLS ---------------------//
    .carousel-nav {
        display: none;

        @include bp(small) {
            display: flex;
            height: 35px;
            flex-direction: row;
            order: 6;
            align-items: stretch;	
        }	
            
        button{ 
            display: inline-block;
            color: $c-grey-med;
            padding: 0 10px;
        }

        .thumbs-only {
            padding: 0;

            svg {
                display: inline-block;
                height: 25px;
            }
                
            #thumbnails-icon {
                @include bp(medium) {
                    height: 30px;
                }
            }
        }
    }
}