#home {
	overflow: hidden;

	.main-content {
		overflow: hidden;
		order: 2;
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	 	display: -ms-flexbox;      /* TWEENER - IE 10 */
	 	display: -webkit-flex;     /* NEW - Chrome */
	  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
		flex-direction: row;
		height: 100vh;
		overflow: hidden;
		
		@include bp(medium) {
			min-height: 100vh;
		}

		.front-img-container {
			display: block;
			flex-direction: row;
			width: 100%;
			height: 100vh;
			margin-top: 10px;
    
			@include bp(small){
				margin-top: 40px;
			}
			@include bp(medium){
				margin-top: 20px;
			}
			@include bp(large){
				margin-top: 0;
			}

			img {
				width: 70vw;
		    	transform: translateX(-50%);
   				margin-left: 50%;

				@include bp(small) {
					width: 60vw;
				}
				@include bp(medium){
					width: 33vw;
				}
				@include bp(large){
					width: 25vw;
				}
			}
		}
	}
}