.main-content {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
 	display: -ms-flexbox;      /* TWEENER - IE 10 */
 	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex-flow: column nowrap;
	width: 100%;
	height: 100%;
	// overflow: hidden;
	margin: 35px auto;
	
	@include bp(small) {
		flex-flow: row wrap;
		height: auto;
		margin-top: 10px;
	}
	@include bp(medium){
		flex-flow: row wrap;
		
	}
	//---------- CURRENT PORTFOLIO NAME-----------------*/

	.project-name {
		min-width: 200px;
		order: 2;
		display: block;
    	margin: 15px 0 ;
		color: $c-grey-med;
		text-transform: capitalize;
		@include font-size(18);

		@include bp(small){
        	margin: 0 0 0 0 ;

		}
	}
}

//----------------- Thumbnail GRID ------------------//
.grid {
	order: 4;
	display: block;
	width: 100%;
	height: auto;
	margin: 0 0 0 0;

	&:after {
		  content: '';
		  display: block;
		  clear: both;
		}

	@include bp(medium) {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		float: right;
		margin-right: 0;
		width: 100%;
	}

	.grid-sizer {
		width: 100%;
		height: auto;
		@include bp(small) {
			width: 100%;
		}
		.grid-item {
			float: left;
			width: 100%;
			height: auto;
			margin-bottom: 5px;	
			
			@include bp(small) {
				float: none;
				width: 33.333%;
				margin-bottom: -10px;
			}	
			img {
				width: 100%;
				height: auto;
				@include bp(small){
				}
			}
			figcaption  {
				color: $c-white;
				display: none;
				p {
					color: $c-white;
					display: none;
				}
			}
			
			.project-title {
				visibility: visible;
				display: block;
				opacity: 0;
				transition: opacity 0.2s ease-in;
			
				p {	
					display: block;
					position: absolute;
					top: 40%;
					left: 50%;
					transform: translateX(-50%);
					color: $c-white;
					text-transform: uppercase;
					@include font-size(25);
					a {
						text-align: right;
						display: block;
						letter-spacing: 0.7px;
						 
						&:visited {
							color: $c-grey-med;
						}
						&:active,
						&:hover {
							color: $c-green-kelly;
							border-bottom: 1px solid $c-green-kelly;
						}
					}
				}
			}
			&:hover {		
				.project-title {
					display: block;
					visibility: visible;
					position: absolute;
					top: 0;
					right: 0;
					height: 100%;
					width: 100%;
					background-color: $c-green-kelly;
					opacity: 0.97;
			
					.show-caption {
						display: block;
						color: $c-white;
					}	
				}
			}
		}
	}
}
//---------- Interactive projects landing page only --------//				
#interactive {

	.interactive-project {
		display: block;
		margin: 10px 0;
		@include font-size(16);

		.show-caption {
			display: block;
			color: $c-grey-med;

			a {
				text-align: right;
				display: block;
				@include font-size(18);
				letter-spacing: 0.7px;
				color: $c-grey-med;
				border-bottom: 1px solid $c-white;
				transition: all 0.2s;
				 
				&:visited {
					color: $c-grey-med;
				}
				&:active,
				&:hover {
					color: $c-green-kelly;
					border-bottom: 1px solid $c-green-kelly;
				}
			}
		}
	}
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/*---------------------- CAROUSEL -------------------*/
.carousel {
	display: none;

	@include bp(small){
		display: none;
		order: 5;
		flex: 1 0 auto;
		margin-bottom: 5px;
	}
	@include bp(medium){
		display: none;
		flex: 1 0 auto;
	}
	.big {
		display: none;

		@include bp(small) {
			display: block;
			width: 100%;
			
			
		}

		.big-img-container {
			display: flex;
			visibility: visible;
			width: 100%;
			height: 60vh;
			margin-left: 0;
			margin-top: 0;
			background-size: contain;
			background-repeat: no-repeat;

		}
		.image-info { 
			clear: both;
		    align-self: flex-end;
			display: block;
			visibility: visible;
			color: $c-grey-med;
			@include font-size(15);
			visibility: visible;
			height: 40px; 
			width: 100%;
			margin-left: 0;
			text-align: left;
			
			@include bp(small){
				height: 30px;
				margin-top: 10px;

			}
			p {
				display: inline-block;
				margin: 0;
				padding: 10px;
				&:first-child {
					padding-left:0;
				}
			}
		}
	}
}
//------------------ CAROUSEL CONTROLS ---------------------//
.carousel-nav {
	display: none;

	@include bp(small) {
		display: flex;
		height: 30px;
		flex-direction: row;
		order: 6;
		align-items: stretch;	
	}	
		
	button{ 
		display: inline-block;
		@include font-size(30);
		color: $c-grey-med;
		padding: 0 10px;
		@include line-height(25);
	}
	.thumbs-only {
		order: 1;
		padding: 0;
		svg {
			display: inline-block;
			height: 25px;
		}
			
		#thumbnails-icon {
			@include bp(medium){
				height: 30px;
			}
		}
	}
	.previous {
		order: 2;

	}
	.next {
		order: 3;
	}
}

// ----- STATEMENT ----------------------//
.statement-title {
	margin-top: 10px;
	order: 7;
	@include font-size(16);
	max-width: 25%;
	display: inline-block;
	margin: 0 ;
	color: $c-grey-med;
	border-left: 1px solid $c-grey-med;
	text-transform: capitalize;

	@include bp(small){
		height: 30px;
		margin: 0;
	}
}
 
// ABOUT THE PROJECT MODAL ----------------//
.modal-on {
	overflow: hidden;
}
.modal-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	&:after {
		content: "";
		position: absolute;
		background-color: $c-purple;
		opacity: 0.9;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	.modal {
		background-color: $c-white;
		width: 90%;
		height: auto;
		margin: 0 auto;
		border-radius: 20px;
		position: relative;
		top: 57%;
		transform: translateY(-50%); //centers it. 
		text-align: left;
		z-index: 2;

		@include bp(xsmall){
			width: 80%;
			top: 50%;
		}
		@include bp(small){
			width: 55%;

		}
		@include bp(medium){
			top: 40%;
		}
		@include bp(large){
			width: 40%;
		}
		.modal-header {
			height: 15px;
			width: 90%;
			margin: 0 auto;
			position: relative;
			border-radius: 20px;
			
			@include bp(small){
				height: 40px;

			}
			@include bp(large){
				height: 30px;
			}
			.close {
				color: $c-grey-med;
				position: absolute;
				text-transform: uppercase;
				@include font-size(12);
				right: 0;
				top: 0;
				@include bp(small){
					padding: 12px;
				}
			}
		}
		.modal-content {
			width: 100%;
			padding: 0 0 1rem 0 ;
			

		}
		.statement-body {
			width: 90%;
			margin: 0 auto;
			text-align: left;
			font-size: 0.8rem;
			background-color: $c-white;
			color: $c-grey-med;	

			@include bp(small){
				width: 80%;

			}
			@include bp(medium){
				width: 75%;
			}
			p {
				letter-spacing: 0.02rem;
				@include line-height(22);
				margin: 1rem auto;

				@include bp(small){
					letter-spacing: 0;
					@include font-size(18);
					@include line-height(24);
				}
			}
			span {
				border-bottom:1px solid $c-grey-med;
				color: $c-grey-med;
				text-decoration: none;

				&:hover {
					color:$c-orange-light;
					border-bottom:1px solid $c-orange-light;
				} 
				a {
					&:hover{
						color: $c-orange-light;
					}
				}
			}
		}
	}
}