// #interactive .main-content,
// #photography .main-content,
// #design .main-content,
// #mixedmedia 
.main-content {

	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
 	display: -ms-flexbox;      /* TWEENER - IE 10 */
 	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex-direction: column;
	width: 100%;
	margin: 0 auto;

	/*.........SHOW CURRENT PORTFOLIO .........................*/
	.page-location {
		order: 1;
		width: 100%;
		display: block;
		margin: 0;
		padding: 0 0 0 0%;
		color: #878787;
		text-transform: uppercase;

		p {
			display: block;
			border-left: 1px solid #878787;
			padding: 1% 0 0 1%;
			margin-bottom: 0;	
		}
	}
}
