* {  
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before, 
*:after {
	  -webkit-box-sizing: inherit;
	  -moz-box-sizing: inherit;
	  box-sizing: inherit;
}
.clear {  	
	clear:both;
	margin:0;
	padding:0;
	
}
html { 
	height: 100vh;
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	margin: 0;
	padding-top: 65px;
	font-family: $f-text;

	@include bp-arb(500) {
		padding-top: 70px;
	}
	
	&#contact {
		overflow: hidden;
	}
}
.wrapper {
	max-width: 90%;
	min-height: 100vh;
	margin: 0 auto;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
 	display: -ms-flexbox;      /* TWEENER - IE 10 */
 	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex-flow: column wrap;	

	@include bp(xsmall){
		margin: 0 auto;
		min-height: 100vh;
	}
	@include bp(large) {
		margin: 1% auto;
	}
}
nav ul li a { font-size: 1.2rem;}
ul {
	list-style: none;
}
img {
   	margin:0;
	padding:0;
}
section {	
	height:100%;
}

div, p {
	margin:0;
	padding:0;
}
button { 
	outline: none;
	background-color: $c-white;
	border: 1px solid $c-white;
	cursor: pointer;
	padding: 7px;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}
/* ------------ LINKS-------------------------------*/

a { text-decoration: none; }
/* ------------- HEADER -----------------------------*/

header {
	display: flex;
	flex-flow: column nowrap;
	order: 1;
	z-index: 1;	
	max-width: 100%;
	min-width: 140px;
	height: 110px;
	margin: 0 auto;
	padding: 3% 5% 0 5%;	
	position: fixed;
	top: 0;
	left: 0; 
	background-color: $c-white;
	transition: top 0.2s ease-in-out;

	@include bp(xsmall) {
		padding: 2% 5% 0 5%;
	}
	@include bp(small) {
		height: 70px;
		width: 100%;
		display: flex;
		flex-direction: row;
		
	}
	@include bp(medium){
		justify-content: space-between;
		width: 100%;
		padding: 1%;
		height: 90px;
	}
			
	.logo {
		order: 1;
		width: 100%;

		@include bp-arb(500){
			width: 75%;
		}
		@include bp(small){
			width: 50%;
		}
		@include bp(medium){
			margin: 0;
		}
		@include bp(large){
			height: 58px;
		}

		a {
			display: block;
			height: 100%;
		}
		img {
			display: block;
			width: 100%;

			@include bp-arb(500){
				width: 80%;
			}
		
			@include bp(medium){
				width: 80%;
			    margin: 0 auto;
			}
			@include bp(large){
				width: 450px;
				margin: 0 0 0 5%;
			}
		}
	}

    .menu-mobile {
    	height: 30px;
	    width: 100%;
		margin: 5px auto;
		order: 2;
		justify-content: center;

		@include bp(xsmall){
		 	display: flex;
		 	flex-flow: row nowrap;
		 	width: 100%;
		}
		@include bp-arb(500){
			width: 100%;
		}
		@include bp(small){
			// margin: 0 0 0 30px;
			height: 45px;
			width: 50%;
			
		}
		@include bp(medium){
			display: none;
		}
		.page-location {
			display: flex;
			align-items: center;
			order: 1;
			margin: 0 10px;
			padding: 5px 0;
			height: 30px;
			min-width: 125px;
			color: $c-grey-med;
			border-left: 1px solid $c-grey-med;
			
			@include bp(small){
				padding: 0 ;
				margin: 0 ;
			}
			p {
				display: block;
				padding: 0 0 0 5px;
				@include font-size(18);	
				text-transform: lowercase;
			}
		}

		a { 	
			display: block;
			order: 1;
			height: 100%;
			float: left;
			height: 30px;

			@include bp(small){
		    	height: 30px;
			    padding: 0;
		    	margin: 0 0 0 20px;
			}

			.btn-back {
			    display: flex;
    			flex-flow: row nowrap;				
    			order: 2;
    			align-items: center;
				color: $c-grey-med;
				border-left: 1px solid $c-grey-med;
				padding: 0 0 0 0 ;
				height: 100%;
				min-width: 125px;

				@include bp(small){
					height: 32px;
				    padding: 0 0 0 0
				}
		
				p {
					display: block;
					padding: 0 10px 0 5px;
					@include font-size(18);	
					text-transform: lowercase;

				}
				svg {
					height: 15px;
				}
			}
		}

		.menu-toggle {
	    	display: block;
	    	@include font-size(18);
	    	color: $c-grey-med;
	    	height: 100%;
	    	width: 100%;
	    	order: 2;
	    	padding: 5px 0 0 0 ;
	    	text-align: right;
    		text-transform: uppercase;
    
    		@include bp-arb(500){
    		
    		}
    		@include bp(small) {
    		    padding: 8px 10px;
				border: none;
    		}
		}
	}
	.nav-up {
		top: $nav-up;	
	}
	.nav-down{
		top: $nav-down;
	}
}

//------------------ ABOUT PAGE ------------------------*/

#about .main-content {
	@include bp(medium){
		max-height: 100vh;
		margin-top: 50px;
		overflow: hidden;
	}	
}
.bio {
	display: flex;
	order: 2;
	flex-flow: column nowrap;
	padding: 0 0 0 0;
	background-color: $c-green-olive;
	color:$c-white;

	@include bp(small){
		flex-flow: row nowrap;
		align-items: center;
	}
	.bio-col-half {
		max-width: 100%;
		min-width: 200px;
		padding: 0 30px ;
		margin: 0 auto;
		font-size: 1rem;
		letter-spacing: 0.03rem;
		order: 2;
		@include bp(xsmall) {
	    	border-left: none;
		}
		@include bp(small){
			width: 50%;
			margin: 0 auto ;
			padding: 60px;
	    	border-left: 1px solid $c-grey-med;
		}
		p {
			@include line-height(23);
			margin-bottom: 4%;
		}
	}
	.col-l {
		border-left: none;
		padding: 30px 30px 0 30px;

		@include bp(small) {
			padding: 45px;
		}
	}
	.col-r {
		border-left: none;
	    margin-bottom: 2rem;
		padding: 30px 30px 0 30px;

		@include bp(small){
			border-left: 1px solid $c-white;
	    	margin-bottom: 0;
	    	padding: 45px
		}
	}
	
	a {
		border-bottom: 1px solid $c-white;
		padding: 0;
		margin: 0;
		font-size: 1rem;
		color: $c-white;
		transition: all 0.2s;
		&:hover {
		
			border-bottom: 2px solid $c-white;
		}
		&:visited {
			color: $c-white;
		}
		span {
			color: $c-white;	
		}
	}
}

.btn-cv {
	order: 3;
	display: block;
	margin:  2rem auto ;
	max-width: 90%;
	font-size: 1.1rem;
	text-align: center;	
	.cv-pdf {
		padding: 10px 30px;
		color: $c-white;
		border: 1px solid $c-white;
		transition: all 0.2s;
		&:hover {
			color: $c-green-olive;
			background-color: $c-white;
			border-bottom: 1px solid $c-white;		 
		}
	}
	@include bp(small) {
		max-width: 90%;
		align-self: flex-end;
	}
}
.social {
	display: inline-block;
	width: 100%;
	ul{
		width: 100%;
		li{
			display: inline-block;
			border: 2px solid $c-green-olive;

			a {
				text-decoration: none;
				border-bottom: none;
				transition: border-bottom 0.2s;
				&:hover{
					border-bottom: 2px solid $c-white;
					background-color: $c-green-olive;
				}
			}
		}
	}
	.white {
		width: 40px;
		fill: $c-white;
	}
	#instagram-white {
		height: 27px;
	}
	#twitter-white {
  	  	width: 30px;
   	 	margin-left: 5px;

	}
}
//----------------- CONTACT PAGE ------------------------------------*/

.contact-container {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	overflow: hidden;	
	@include bp(xsmall) {
		width: 100%;
	}
	@include bp(small){
		flex-flow: row nowrap;
		
	}
	.contact-img {
		display: flex;
		flex-direction: column;
		width: 100%;
		order: 1;

		@include bp(small){
    		width: 100%;
    		height: auto;
			flex-direction: row;
		}
		img{
			width: 100%;
			@include bp(small){
				width: 50%;
				height: 100%;
			}
		} 
	}	
	.contact-form {
		order: 2;
		display: block;
		width: 100%;
	
		@include bp(small){
			width: 50%;	
		}
		.temp-contact-info {
			display: block;
			order: 3;
			width: 100%;
			vertical-align: middle;
			text-align: center;
			color: $c-grey-med; 
			padding: 15px 10px;
			@include font-size(14);
			@include line-height(20);
			background-color: transparent;
			transition: all 0.2s;
			&:hover {
				background-color: $c-blue-med;
			 	color: $c-white;
			}
		 	&:active {
			 	background-color: $c-blue-med;
			 	color: $c-white;
		 	}
		 	@include bp(small){
		 		@include font-size(18);
		 		@include line-height(25);
				margin-top: 50%;
				transform: translateY(-50%);
		 	}	
		}
	}	
}

form {
	display: none;
	width: 100%;
	position: absolute;

	@include bp(small){
		top: 0;
		right: 0;
		width: 100%;
		margin: 0 auto;
	}

	fieldset { 
		border: none; 
		width: 100%;
		color: $c-grey-med;

		@include bp(small){
			width: 90%;
			margin: 0 auto;
		}

		&.contact {
			padding-bottom: 0;
		}
		&.contact-message {
			padding-top: 0;
		}
		legend {
			margin-bottom: 15px;
		}
		label { 
			padding-bottom: 5px; 
		}
	}
	input[type="text"], 
	input[type="email"],
	input[type="search"],
	input[type="number"],
	textarea {
		box-sizing: border-box;
		display: block;
		margin-bottom: 19px;
		width: 100%;
		max-width: 40rem;
		padding: 10px;
		background-color: transparent;
		color: $c-grey-med;
		border: 1px solid $c-grey-med;
		@include font-size(18);	

		@include bp(small){
			padding: 7px;
		}
	}
	textarea {
		margin-bottom: 15px;
		height: 5rem;
		@include bp(small){
			height: 4rem;
		}
	}	
	input[type="text"]:focus, 
	input[type="email"]:focus,
	textarea:focus  {
		background: transparent;
		border-color:$c-green-kelly;
		box-shadow:none;
		outline-color: $c-green-olive;
	 	outline-style: solid;
	}	
	input[type="submit"] {
		width: 90%;
		border-radius: 0;
		border-style: none;
		padding: 10px;
		margin: 1rem auto;
		background-color: $c-green-olive;
		outline-color: $c-green-olive;
		color: $c-white;
		text-transform: uppercase;
		font-size:1rem;

		@include bp(small) {
			width: 50%;
			max-width:40rem;
		}

	}
	input[type="submit"]:hover {	
		border-radius:0;
		color:$c-white;
		box-shadow: none;
		outline: 1px solid $c-green-olive;
		font-size:1rem;   
	}
}

.footer-top {
	display: block;
	width: 100%;

	@include bp(small) {
		display: flex;
		flex-direction: row nowrap;
		align-items: center;

	}
	// -------- SHARE / SOCIAL MEDIA -----------------//
	.share {
		display: block;
		width: 100%;
		order: 8;
		flex: 0 1 auto;

		@include bp(small){
			width: 200px;
			border-left: 1px solid $c-grey-med;
			height: 30px;
		}

		ul {
			padding: 0;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;

			@include bp(small){
				height: 30px;
			}

			a { display: block;
				height: 100%;
				width: 100%;

				svg {
					height: 30px;
					width: 30px;
					padding: 2px;	
				}
				@include bp(small){
					max-height: 25px;
				}
			}

		}
	}

	// ------- COPYRIGHT NOTICE-----------------//
	.copyright-notice {
		order: 9;
		width: 100%;
		margin: 25px auto;
		color: $c-grey-med;
		display: flex;
		align-items: center;
		
		.copyright{
		    width: 60%;
    		margin: 0 auto;
			text-align: center;
			@include font-size(14);

			@include bp(small){
				text-align: left;
				margin: 0;
			}

		}

		@include bp(small){
			height: 30px;

		}
	}
}