

// ****** indicate current location by removing bottom border ****
	// #photography .navphoto, 
	// #design .navdesign, 
	// #interactive .navinter, 
	// #mixedmedia .navmixed, 
	// #about .navabout, 
	// #blog .navblog,
	// #contact .navcontact, 
	// #project-template .navproject {
	// 	border: none;
		
	// }

/*......... MAIN MENU replaces THE FOOTER MENU ON MOBILE AND TABLET ****************************/

// /*photography*/
// .main-menu li:first-child:hover, 
// .main-menu li:first-child:active {
//     background-color: $c-orange-dark;
//     color: $c-white;
//     border-bottom: 1px solid $c-orange-dark;
// }
// /*......... MOBILE MENU ITEMS.........................................*/
// /*..... main list item link text cover */

// .menu-top ul.main-menu li {
//     background-color: transparent;
// }

// a:link {
//     color: $c-grey-med;
//     text-decoration: none;
// } 
// a:visited {
//     color: $c-grey-med;
// }
// li:hover,
// a:hover {
//     color:$c-white;

// }
// /*design*/
// .main-menu li:nth-child(2):hover, 
// .main-menu li:nth-child(2):active {
//     background-color: $c-teal;
//     color: $c-white; 
//     border-bottom: 1px solid $c-teal;   
// }
// /*mixed media*/
// .main-menu li:nth-child(3):hover, 
// .main-menu li:nth-child(3):active {
//     background-color: $c-purple;
//     color: $c-white;
//     border-bottom: 1px solid $c-purple;
// } 
// /*exhibitions*/
// .main-menu li:nth-child(4):hover, 
// .main-menu li:nth-child(4):active {
//     background-color: $c-magenta;  
//     color: $c-white;
//     border-bottom: 1px solid $c-magenta;
// }
//  /*about*/
// .main-menu li:nth-child(5):hover,
// .main-menu li:nth-child(5):active {
//     background-color: $c-green-kelly;
//     color: $c-white;
//     border-bottom: 1px solid $c-green-kelly;
// }
// /*contact*/
// .main-menu li:nth-child(6):hover,
// .main-menu li:nth-child(6):active {
//     background-color: $c-orange-light;
//     color: $c-white;
//     border-bottom: 1px solid $c-orange-light;
// }

// .share li a img {
//     height: 25px;
//     width: auto;

// }

/*......... HAMBURGER MENU behavior stuff .........................................*/

// .options-menu-horizontal {
//     font-family: 'Josefin Sans' sans-serif;
//     text-align: center;
//     display: block;
//     background-color: $c-white;
//     bottom: 0;
//     left:0;
//     position: fixed;
//     width: 100%;
//     padding: 0;
//     z-index: 10; 
//     border-top: 1px solid $c-cyan;
// }

// .options-menu-horizontal span.close-menu {
//     position: absolute;
//     top: 20px;
//     right: 30px;
//     border: 3px solid $c-whitefff;
//     color: $c-whitefff;
//     border-radius: 50%;
//     width: 45px;
//     height: 45px;
//     line-height: 48px;
//     font-size: 37px;
//     text-align: center;
//     cursor: pointer;
// }

// .options-menu-horizontal ul {
//     list-style: none;
//     text-align: center;
//     cursor: default;
//     margin:0;
//     padding:0;
// }

// .options-menu-horizontal ul li {
//     display: inline-block;
//     font-size: 20px;
//     font-weight: normal;
//     margin: 0;
//     line-height: 2.5;
//     /*margin: 0 60px auto auto;   */
//     padding: 0;
//     line-height: 2;
//     background-color: transparent;

//     -webkit-user-select: none;
//     user-select: none;
//     box-sizing: border-box;
// }

// .options-menu-horizontal ul:nth-child(2) {
//     display: block;
//     width: 50%;
//     margin: 0 auto;
    
// }
// .options-menu-horizontal ul:nth-child(2) li {
//     float: left;
//     width: 33.334%;

// }

/* Responsive */

// @media (max-width: 650px) {

//     .options-menu-horizontal ul li {
//         display: block;
//         width: 100%;
//     }
/*
    .options-menu-horizontal ul:nth-child(2) {
        width: 50%;
        margin: 0 auto;
    
    }
    .options-menu-horizontal ul:nth-child(2) li {
        float: left;
        width: 33.334%;

    }*/

// }

/*......... SIDE MENUS .........................................*/

// .menu-side {
//     flex: 1 0;
//     min-width: 25%;
//     max-width: 25%;
//     font-size: 1rem;
//     margin: 0;
//     padding: 0 0 0 10px;
//     line-height:2rem;   
// }
// .menu-side li a:active,
// .menu-side li a:hover {
//     color: $c-green-kelly;
    
// }

// /*.PHOTGRPHY side menu......... */
// #manhome .menu-side li:nth-child(1) a,
// #truckers .menu-side li:nth-child(2) a,
// #mncooks .menu-side li:nth-child(3) a,
// #submarine .menu-side li:nth-child(4) a, 
// #soap .menu-side li:nth-child(5) a,
// #optimiste .menu-side li:nth-child(6) a, 
// #mossburn .menu-side li:nth-child(7) a,
    
// .DESIGN side menu
// #mhbook .menu-side li:nth-child(1) a,
// #nzbirds .menu-side li:nth-child(2) a,
// #letters .menu-side li:nth-child(3) a, 
// #print-portfolio .menu-side li:nth-child(4) a, 
// #d6sunset .menu-side li:nth-child(5) a,

// /*.INTERACTIVE side-menu...... */

// /*.MIXED MEDIA side menu.....*/
// #misunderstood .menu-side li:nth-child(1) a, 
// #rigs .menu-side li:nth-child(2) a,
// #prefab .menu-side li:nth-child(3) a,
// #proteus .menu-side li:nth-child(4) a,
// #kansas .menu-side li:nth-child(5) a,
// #weather .menu-side li:nth-child(6) a {
//     color: $c-green-kelly;

// }

// @media only screen and (min-width: 651px) and (max-width:1299px) {

//     header span.menu-toggle {
//         display: block;
//     }
//     .hamburger {
//         display: block;
//     }
//     .options-menu-horizontal ul li {
//         display: block;
//         width: 100%;
//         font-size: 1.5rem;
//         margin: 0 auto;
//         padding: 4px 0;
//     }
//     .options-menu-horizontal ul:nth-child(2) {
//         display: block;
//         width: 25%;
//         margin: 0 auto;
        
//     }
//     .options-menu-horizontal ul:nth-child(2) li {
//         float: left;
//         width: 33.334%;
 
//     }
//     .options-menu-horizontal span.close-menu {
//         top: 10px;
//         right: 10px;
//         width: 32px;
//         height: 32px;
//         line-height: 1.1;
//         font-size: 30px;
//     }
// }

// @media only screen and (min-width: 1300px ) {

//  .options-menu-horizontal { 
//         order: 2;
//         display: inline-block; 
//         border: none;
//         position: relative;
//         top: -90px;
//         left: 0;
//         z-index: 0;
//         width: 57%;
//         background-color: transparent;
//         margin: 0 0 0 43.2% ;

//     }
//      .options-menu-horizontal ul {
//         display: inline-block;
//         float: right;
//         width: 100%;
//         margin: 0;

//     }
//     .options-menu-horizontal ul li {
//         display: inline-block;
//         padding: 0;
//         float: none;
//         font-size: 1rem;
//         padding: 0 5px;
//         width: 16%;
//         height: 100%;
//         margin: 0;
//         border-bottom: 1px solid $c-grey-med;
//     }
//     .options-menu-horizontal ul li a {
//         display: block;
//         font-size: 0.7rem;
//         width: 100%;
//         height: 100%;
//         padding: 28px 0 20px 0;
        
//     }
//      .options-menu-horizontal ul:nth-child(2) {
//         display: none;
        
//     }
// }

