.h1, ,h2, h3, h4, h5 {
    font-weight: bold;
    color: $c-text;
}

.h1 {
    font-size: $h1-font-size;
    margin-bottom: 2rem;
}
.h2 {
    font-size: $h2-font-size;
    margin-bottom: 1.5rem;
}

.h3 {
    font-size: $h3-font-size;
}

.h4 {
    font-size: $h4-font-size; 
}

.h5 {
    font-size: $h5-font-size;
}


.logo {
    font-family: $f-logo;
    font-size: 55px;
    color: $c-text;
}

blockquote {
    font-style: italic;
    max-width: 75%;
    color: $c-grey-med;
}
cite, .label {
    font-style: italic;
    font-size: 0.9rem;
    color: $c-grey-med;
}