.h1, ,h2, h3, h4, h5 {
    font-family: $f-body;
    font-weight: bold;
    color: $c-text;
}

.h1 {
    font-size: $h1-font-size;
}
.h2 {
    font-size: $h2-font-size;
}

.h3 {
    font-size: $h3-font-size;
}

.h4 {
    font-size: $h4-font-size; 
}

.h5 {
    font-size: $h5-font-size;
}


.logo {
    font-family: $f-logo;
    font-size: 55px;
    color: $c-text;
}
