/*********	COLORS *************/
$white: #fff;
$orange-dark: #a84420;
$teal: #5f9797; 
$purple: #8a5cd1;
$blue-med: #4866fb;
$green-kelly: #099949;
$green-olive: #98983e;
$orange-light: #b56618;
$cyan: #68b7d5;
$magenta: #820064; 
$grey-med: #878787;

// ********	FONTS *************/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

$f-text: 'Josefin Sans', sans-serif;